cobranca.json
{"updatedAt":"2026-05-18T19:55:40.356Z","createdAt":"2026-04-10T14:28:49.042Z","id":"fxF2ZwiRIyNE9iHN","name":"COBRANÇA AUTOMÁTICA MONDAY - DIARIO","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"dataTableId":{"__rl":true,"value":"qh3YHmbpzhSt4QzK","mode":"list","cachedResultName":"qtd de cobranças por demanda diario","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/qh3YHmbpzhSt4QzK"},"columns":{"mappingMode":"defineBelow","value":{"Demanda":"={{ $json.Demanda }}","pulse":"={{ $json.pulse }}","board":"={{ $json.board }}","quantidade":"={{ $json.quantidade }}","liderado":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Demanda","displayName":"Demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pulse","displayName":"pulse","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"board","displayName":"board","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"liderado","displayName":"liderado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31616,22352],"id":"a075f62c-575e-41b7-bef5-18df8a7ac6ff","name":"Insert row - Contagem Demanda1"},{"parameters":{"jsCode":"const dadosCobranca = $('Code in JavaScript3').first().json;\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem Demanda').all();\n} catch (e) {\n  registros = [];\n}\nconst pulseID = String(dadosCobranca.pulseID || '');\nconst boardID = String(dadosCobranca.boardID || '');\nconst itemName = dadosCobranca.itemName || '';\nconst devedor = dadosCobranca.devedor || dadosCobranca.nome_quem_deve || '';\n\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (String(reg.json.pulse) === pulseID) {\n    registroExistente = reg.json;\n    break;\n  }\n}\nif (registroExistente) {\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      demanda_existe: true,\n      id_registro: registroExistente.id,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: qtdAtual + 1,\n      devedor: devedor\n    }\n  }];\n} else {\n  return [{\n    json: {\n      demanda_existe: false,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: 1,\n      devedor: devedor\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[31472,22352],"id":"4491399c-e964-48d3-acbe-ed06a37b943c","name":"Code Node - Preparar Contagem Demanda1"},{"parameters":{"jsCode":"// Busca se o devedor já existe na tabela de contagem\nconst dadosCobranca = $('Code in JavaScript3').first().json;\n\n// Pega registros existentes — pode ser vazio se a tabela não tem dados\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem').all();\n} catch (e) {\n  // Tabela vazia retorna sem itens — trata como lista vazia\n  registros = [];\n}\n\nconst nomeDevedor = dadosCobranca.devedor || '';\nconst setorDevedor = dadosCobranca.setorDemandado || '';\n\n// Procura registro existente pelo nome\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (reg.json.name && reg.json.name.trim().toLowerCase() === nomeDevedor.trim().toLowerCase()) {\n    registroExistente = reg.json;\n    break;\n  }\n}\n\nif (registroExistente) {\n  // Já existe → incrementar quantidade\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      devedor_existe: true,\n      id_registro: registroExistente.id,\n      name: nomeDevedor,\n      quantidade: qtdAtual + 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n} else {\n  // Não existe → criar novo\n  return [{\n    json: {\n      devedor_existe: false,\n      name: nomeDevedor,\n      quantidade: 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[31152,22352],"id":"0e22a236-fbd9-460a-a425-83514b24ee0e","name":"Code Node - Preparar Contagem1"},{"parameters":{"dataTableId":{"__rl":true,"value":"04wn65XzrqRBgPcw","mode":"list","cachedResultName":"qtd sem resposta por pessoa - diario","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/04wn65XzrqRBgPcw"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","quantidade":"={{ $json.quantidade }}","setor":"={{ $json.setor }}","ultima_cobranca":"={{ $json.ultima_cobranca }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"setor","displayName":"setor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ultima_cobranca","displayName":"ultima_cobranca","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31296,22352],"id":"c9a312d4-55c1-4548-af3e-466ea47c7d27","name":"Insert row - pessoa diario"},{"parameters":{"content":"MENSAGEM WHATSAPP","height":192,"width":192,"color":"#185422"},"type":"n8n-nodes-base.stickyNote","position":[30736,22304],"typeVersion":1,"id":"9bd53306-5d8b-4cc4-9273-db090a54bff1","name":"Sticky Note2"},{"parameters":{"workflowId":{"__rl":true,"value":"adVZjlDzP6CaQ7lS","mode":"list","cachedResultUrl":"/workflow/adVZjlDzP6CaQ7lS","cachedResultName":"Subworkflow - Enviar Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Destinatário":"=120363424978312590@g.us","Mensagem":"={{ $('Code in JavaScript3').first().json.mensagemWhatsapp }}","Preview de Link":false},"matchingColumns":[],"schema":[{"id":"Destinatário","displayName":"Destinatário","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Delay","displayName":"Delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"Preview de Link","displayName":"Preview de Link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"Responder Mensagem - ID da Mensagem","displayName":"Responder Mensagem - ID da Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"Mencionar Todos","displayName":"Mencionar Todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":true},{"id":"Números para mencionar","displayName":"Números para mencionar","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[30784,22352],"id":"1c99c2ee-988d-46c3-b5c6-bfe41fece4a4","name":"mensagem via whatsapp"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"2EG6RLAStBK4tQu4","mode":"list","cachedResultName":"monitoramento monday","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/2EG6RLAStBK4tQu4"},"filters":{"conditions":[{"keyValue":"={{ $('Code in JavaScript3').item.json.id_datatable }}"},{}]},"columns":{"mappingMode":"defineBelow","value":{"notificado":true,"ultima_notificacao":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"pulseID","displayName":"pulseID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"boardID","displayName":"boardID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"lastupdate","displayName":"lastupdate","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"notificado","displayName":"notificado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ultima_notificacao","displayName":"ultima_notificacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30960,22352],"id":"d39e7256-8236-43dd-8f98-0e2836a83149","name":"Update row(s)"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8},{"triggerAtHour":13},{"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[25984,21952],"id":"3018d6c3-36ec-4575-aefa-3e23cf5c76a8","name":"Schedule Trigger"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"2EG6RLAStBK4tQu4","mode":"list","cachedResultName":"monitoramento monday","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/2EG6RLAStBK4tQu4"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[26624,21968],"id":"7c3d9162-b544-4d48-9800-dd1ff3f0ad85","name":"Get row(s)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[27216,21968],"id":"c85655c8-f36a-45d3-8c93-bf294f6396aa","name":"Loop Over Items"},{"parameters":{"jsCode":"// Nó 3 — Pré-triagem: filtra itens inativos há mais de 24h ÚTEIS\n// Finais de semana NÃO contam para horas/dias de inatividade\n// + proteção contra lastupdate inválido (NaN)\n// + proteção contra renotificação nas últimas 24h úteis\n// + proteção contra execução duplicada no mesmo dia\n// + deduplicação por pulseID\n\nconst HORAS_INATIVIDADE = 24;\nconst agora = new Date();\n\n// ============================================================\n// FUNÇÃO: Calcular horas úteis entre duas datas\n// Conta apenas horas de segunda a sexta\n// ============================================================\nfunction calcularHorasUteis(inicio, fim) {\n  if (inicio >= fim) return 0;\n\n  let horasUteis = 0;\n  const cursor = new Date(inicio);\n\n  // Avança hora a hora (otimizado: pula dias inteiros de fim de semana)\n  while (cursor < fim) {\n    const diaSemana = cursor.getDay(); // 0=Dom, 6=Sáb\n\n    if (diaSemana === 0) {\n      // Domingo → pula para segunda 00:00\n      cursor.setDate(cursor.getDate() + 1);\n      cursor.setHours(0, 0, 0, 0);\n      continue;\n    }\n    if (diaSemana === 6) {\n      // Sábado → pula para segunda 00:00\n      cursor.setDate(cursor.getDate() + 2);\n      cursor.setHours(0, 0, 0, 0);\n      continue;\n    }\n\n    // Dia útil — calcula horas restantes até o fim do dia ou até 'fim'\n    const fimDoDia = new Date(cursor);\n    fimDoDia.setDate(fimDoDia.getDate() + 1);\n    fimDoDia.setHours(0, 0, 0, 0);\n\n    const limiteCalc = fim < fimDoDia ? fim : fimDoDia;\n    const diffMs = limiteCalc.getTime() - cursor.getTime();\n    horasUteis += diffMs / (1000 * 60 * 60);\n\n    cursor.setTime(fimDoDia.getTime());\n  }\n\n  return horasUteis;\n}\n\nfunction calcularDiasUteis(inicio, fim) {\n  if (inicio >= fim) return 0;\n\n  let dias = 0;\n  const cursor = new Date(inicio);\n  cursor.setHours(0, 0, 0, 0);\n\n  const fimDia = new Date(fim);\n  fimDia.setHours(0, 0, 0, 0);\n\n  while (cursor <= fimDia) {\n    const diaSemana = cursor.getDay();\n    if (diaSemana !== 0 && diaSemana !== 6) {\n      dias++;\n    }\n    cursor.setDate(cursor.getDate() + 1);\n  }\n\n  // Se inicio e fim são no mesmo dia, conta como parte de 1 dia\n  return Math.max(dias - 1, 0);\n}\n\nconst limiteHorasUteis = HORAS_INATIVIDADE;\nconst itensParaAnalisar = [];\nconst pulseIDsVistos = new Set();\n\nfor (const item of $input.all()) {\n  const pid = String(item.json.pulseID);\n\n  // DEDUP: se já processamos esse pulseID nesta execução, pula\n  if (pulseIDsVistos.has(pid)) continue;\n  pulseIDsVistos.add(pid);\n\n  // PROTEÇÃO NaN: se lastupdate for inválido, pula o item\n  const lastUpdate = new Date(item.json.lastupdate);\n  if (isNaN(lastUpdate.getTime())) {\n    continue;\n  }\n\n  // Calcula horas e dias ÚTEIS (sem contar fins de semana)\n  const horasUteisInativo = calcularHorasUteis(lastUpdate, agora);\n  const diasUteisInativo = calcularDiasUteis(lastUpdate, agora);\n\n  // Descarta itens que ainda não passaram 24h úteis sem atualização\n  if (horasUteisInativo < limiteHorasUteis) continue;\n\n  // PROTEÇÃO DUPLA contra renotificação:\n  const foiNotificado = item.json.notificado === true || item.json.notificado === 'true';\n\n  if (foiNotificado && item.json.ultima_notificacao) {\n    const ultimaNotificacao = new Date(item.json.ultima_notificacao);\n\n    if (!isNaN(ultimaNotificacao.getTime())) {\n      // Calcula horas úteis desde última notificação\n      const horasUteisDesdeNotificacao = calcularHorasUteis(ultimaNotificacao, agora);\n\n      // Check 1: Se a última cobrança foi há menos de 24h úteis, pula\n      if (horasUteisDesdeNotificacao < limiteHorasUteis) {\n        continue;\n      }\n\n      // Check 2: Se já foi cobrado HOJE (mesmo dia), pula\n      const mesmoAno = ultimaNotificacao.getFullYear() === agora.getFullYear();\n      const mesmoMes = ultimaNotificacao.getMonth()    === agora.getMonth();\n      const mesmoDia = ultimaNotificacao.getDate()     === agora.getDate();\n\n      if (mesmoAno && mesmoMes && mesmoDia) {\n        continue;\n      }\n    }\n  }\n\n  itensParaAnalisar.push({\n    json: {\n      pulseID:            item.json.pulseID,\n      boardID:            item.json.boardID,\n      lastupdate:         item.json.lastupdate,\n      notificado:         item.json.notificado,\n      ultima_notificacao: item.json.ultima_notificacao,\n      horas_inativo:      Math.round(horasUteisInativo),\n      dias_inativo:       diasUteisInativo,\n      id_datatable:       item.json.id\n    }\n  });\n}\n\nreturn itensParaAnalisar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[26832,21968],"id":"b9f7f57e-3fd9-41f7-9372-455412838fdc","name":"Code Node - Pré-triagem"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"query { users(limit: 500) { id name email teams { id name } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[26416,21968],"id":"231868f0-9b84-4be6-bcd6-53b4253739d0","name":"HTTP Request1","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4ccc30ff-5fd5-471c-8a6d-cdd3645fa95c","leftValue":"={{ $json['Day of week'] }}","rightValue":"Sunday","operator":{"type":"string","operation":"equals"}},{"id":"dc6c19c9-f26e-4634-9c40-898a5e0599ad","leftValue":"={{ $json['Day of week'] }}","rightValue":"Saturday","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[26192,21952],"id":"f0afe845-7141-460c-a7c0-ed4aec605057","name":"é fim de semana?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"86315324-a950-4319-8ccc-8166b3b5f49f","leftValue":"={{ $json.data.items }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}},{"id":"23ddad6f-b394-4b6c-b6d5-c38c7cde0a9d","leftValue":"={{ $json.data.items[0].column_values[4].text }}","rightValue":"FINALIZADA","operator":{"type":"string","operation":"equals"}},{"id":"tuca-self-cobranca","leftValue":"={{ $json.data.items[0]?.column_values?.find(c => c.id === \"pessoas_mkkdd33s\")?.text?.toLowerCase() || \"\" }}","rightValue":"tuca","operator":{"type":"string","operation":"contains"}},{"id":"tapajos-self-cobranca","leftValue":"={{ $json.data.items[0]?.column_values?.find(c => c.id === \"pessoas_mkkdd33s\")?.text?.toLowerCase() || \"\" }}","rightValue":"tapaj","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[27904,22096],"id":"68e3df8a-e6e9-456b-a42b-8eb22b557ed6","name":"If"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"2EG6RLAStBK4tQu4","mode":"list","cachedResultName":"monitoramento monday","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/2EG6RLAStBK4tQu4"},"filters":{"conditions":[{"keyName":"pulseID","keyValue":"={{ $('Code Node - Pré-triagem').item.json.pulseID }}"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[28272,22080],"id":"7abfcf3b-a93d-4b63-a9ab-a7e725a6d362","name":"Delete row(s)","executeOnce":false,"alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query { items(ids: [{{ $json.pulseID }}]) { id name updates(limit: 15) { id text_body created_at creator { id name } replies { id text_body created_at creator { id name } } } column_values(ids: [\\\"person6\\\", \\\"pessoas_mkkdd33s\\\", \\\"dropdown_mkkdndgn\\\", \\\"sele__o_m_ltipla_mkkd31pa\\\", \\\"status_mkkd4hrz\\\"]) { id text value } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[27536,22096],"id":"5f51da41-deb2-4152-8a7b-197040e5605b","name":"HTTP Request - Monday GraphQL","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[28192,22368],"id":"ddf00986-8296-4ebd-86bb-ecc2f3b8cf5b","name":"Message a model","credentials":{"anthropicApi":{"id":"t2Qy4cBTMN8almyL","name":"Anthropic account 2"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Nó 9 — Parse Resposta IA\nconst iaResponse = $('Message a model').item.json;\nconst dadosOriginais = $('Code Node - Montar Prompt').item.json;\n\nlet responseText = '';\nif (iaResponse.message) {\n  responseText = iaResponse.message;\n} else if (iaResponse.content && Array.isArray(iaResponse.content)) {\n  responseText = iaResponse.content[0].text;\n} else if (iaResponse.text) {\n  responseText = iaResponse.text;\n} else {\n  responseText = JSON.stringify(iaResponse);\n}\n\nlet analise;\ntry {\n  const clean = responseText.replace(/```json|```/g, '').trim();\n  analise = JSON.parse(clean);\n} catch (e) {\n  return [{\n    json: {\n      ...dadosOriginais,\n      deve_notificar: false,\n      erro_parse: true,\n      resposta_raw: responseText\n    }\n  }];\n}\n\nconst userMap = dadosOriginais.userMap || {};\n\nconst gerarMencaoHTML = (userId) => {\n  let nome = null;\n  for (const [key, val] of Object.entries(userMap)) {\n    if (Number(val) === Number(userId)) {\n      nome = key;\n      break;\n    }\n  }\n  if (!nome) return '';\n  const nomeFormatado = nome.toLowerCase().replace(/\\s+/g, '-');\n  return `<a class=\"user_mention_editor router\" href=\"https://contato-serv.monday.com/users/${userId}-${nomeFormatado}\" data-mention-type=\"User\" data-mention-id=\"${userId}\" target=\"_blank\" rel=\"noopener noreferrer\">@${nome}</a>`;\n};\n\n// IDs de quem DEVE (cobrados)\nconst todosIdsDevedores = [];\nif (analise.user_id_quem_deve) {\n  todosIdsDevedores.push(Number(analise.user_id_quem_deve));\n}\nif (analise.user_ids_adicionais && Array.isArray(analise.user_ids_adicionais)) {\n  analise.user_ids_adicionais.forEach(id => {\n    if (id && !todosIdsDevedores.includes(Number(id))) {\n      todosIdsDevedores.push(Number(id));\n    }\n  });\n}\n\n// IDs do PSC (ciência) — garante que não repete devedores\nconst todosIdsPSC = [];\nif (analise.user_ids_psc && Array.isArray(analise.user_ids_psc)) {\n  analise.user_ids_psc.forEach(id => {\n    const numId = Number(id);\n    if (numId && !todosIdsDevedores.includes(numId) && !todosIdsPSC.includes(numId)) {\n      todosIdsPSC.push(numId);\n    }\n  });\n}\n\n// Menções HTML dos devedores\nconst mencoesDevedoresHTML = todosIdsDevedores\n  .map(id => gerarMencaoHTML(id))\n  .filter(m => m !== '')\n  .join(' ');\n\n// Menções HTML do PSC\nconst mencoesPSCHTML = todosIdsPSC\n  .map(id => gerarMencaoHTML(id))\n  .filter(m => m !== '')\n  .join(' ');\n\n// Converter markdown residual para HTML\nconst converterMarkdown = (texto) => {\n  return String(texto || '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<b>$1</b>')\n    .replace(/\\*(.+?)\\*/g, '<i>$1</i>');\n};\n\n// Limpar corpo de texto:\n// 1. Remove @mentions falsas (a IA escreve @Nome mas isso não marca ninguém no Monday)\n// 2. Remove qualquer linha \"PSC:\" que a IA tenha colocado no corpo\n//    (o PSC real é montado abaixo com HTML de menção funcional)\nconst limparCorpo = (texto) => {\n  let limpo = String(texto || '');\n  // Remove @mentions (mantém só o nome sem @)\n  limpo = limpo.replace(/@([A-ZÀ-Ü][a-zà-ü]+(?:\\s+[A-ZÀ-Ü][a-zà-ü]+)*)/g, '$1');\n  // Remove linhas que começam com \"PSC:\" ou \"PSC :\" (a IA às vezes duplica)\n  limpo = limpo.replace(/\\n?\\s*PSC\\s*:.*$/gim, '');\n  return limpo.trim();\n};\n\n// Montar mensagem completa: menções HTML + corpo limpo + seção PSC (se houver)\nlet mensagemMonday = '';\nif (analise.deve_notificar) {\n  const cabecalho = `<p>${mencoesDevedoresHTML}</p>`;\n  const corpoLimpo = limparCorpo(analise.mensagem_monday);\n  const corpo = `<p>${converterMarkdown(corpoLimpo)}</p>`;\n  const psc = mencoesPSCHTML\n    ? `<p>PSC: ${mencoesPSCHTML}</p>`\n    : '';\n  mensagemMonday = cabecalho + corpo + psc;\n}\n\nconst linkDemanda = `https://contato-serv.monday.com/boards/${dadosOriginais.boardID}/pulses/${dadosOriginais.pulseID}`;\n\nreturn [{\n  json: {\n    deve_notificar: analise.deve_notificar,\n    motivo: analise.motivo,\n    quem_deve: analise.quem_deve,\n    nome_quem_deve: analise.nome_quem_deve,\n    user_id_quem_deve: analise.user_id_quem_deve,\n    user_ids_adicionais: analise.user_ids_adicionais || [],\n    user_ids_psc: todosIdsPSC,\n    urgencia: analise.urgencia,\n    prazo_detectado: analise.prazo_detectado,\n    prazo_vencido: analise.prazo_vencido,\n    mensagem_monday_html: mensagemMonday,\n    mensagem_monday: analise.mensagem_monday,\n    mensagem_whatsapp: analise.mensagem_whatsapp,\n    resumo_demanda: analise.resumo_demanda || '',\n    setores_envolvidos: analise.setores_envolvidos,\n    pulseID: dadosOriginais.pulseID,\n    boardID: dadosOriginais.boardID,\n    itemName: dadosOriginais.itemName,\n    itemId: dadosOriginais.itemId,\n    setorDemandante: dadosOriginais.setorDemandante,\n    setorDemandado: dadosOriginais.setorDemandado,\n    horas_inativo: dadosOriginais.horas_inativo,\n    dias_inativo: dadosOriginais.dias_inativo,\n    id_datatable: dadosOriginais.id_datatable,\n    linkDemanda: linkDemanda,\n    updates: dadosOriginais.updates,\n    userMap: dadosOriginais.userMap,\n    ultimoUpdateId: dadosOriginais.ultimoUpdateId,\n    nivel_escalonamento: dadosOriginais.nivel_escalonamento,\n    remetente_nome: dadosOriginais.remetente_nome,\n    remetente_cargo: dadosOriginais.remetente_cargo,\n    setor_demandado_alvo: dadosOriginais.setor_demandado_alvo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[28544,22352],"id":"600d281a-082e-4c37-812c-33f6e10c8601","name":"Code in JavaScript"},{"parameters":{"jsCode":"// Nó 7 — Montar Prompt para análise da IA\n// VERSÃO 6 — Detecção robusta de prazos estendidos\n\nconst itemData = $('HTTP Request - Monday GraphQL').item.json;\nconst preTriagem = $('Code Node - Pré-triagem').item.json;\n\nconst item = itemData.data.items[0];\n\nconst getColumn = (id) => {\n  const col = item.column_values.find(c => c.id === id);\n  return col ? { text: col.text || '', value: col.value || '' } : { text: '', value: '' };\n};\n\nconst demandante      = getColumn('person6');\nconst demandado       = getColumn('pessoas_mkkdd33s');\nconst setorDemandante = getColumn('dropdown_mkkdndgn');\nconst setorDemandado  = getColumn('sele__o_m_ltipla_mkkd31pa');\nconst status          = getColumn('status_mkkd4hrz');\n\nconst parsePersonIds = (coluna) => {\n  try {\n    const parsed = JSON.parse(coluna.value);\n    if (parsed.personsAndTeams) {\n      return parsed.personsAndTeams\n        .filter(p => p.kind === 'person')\n        .map(p => p.id);\n    }\n    return [];\n  } catch (e) {\n    return [];\n  }\n};\n\nconst demandanteIds = parsePersonIds(demandante);\nconst demandadoIds  = parsePersonIds(demandado);\n\n// ==========================================\n// CONSTRUÇÃO DO userMap COM SETOR (TEAMS)\n// ==========================================\nconst usersData = $('HTTP Request1').first().json;\nconst userMap   = {};\nconst setorMap  = {};\n\nif (usersData.data && usersData.data.users) {\n  usersData.data.users.forEach(u => {\n    const id = Number(u.id);\n    userMap[u.name] = id;\n    if (u.teams && u.teams.length > 0) {\n      setorMap[id] = u.teams.map(t => t.name).join(', ');\n    }\n  });\n}\n\nitem.updates.forEach(u => {\n  if (u.creator?.id && u.creator?.name) {\n    userMap[u.creator.name] = Number(u.creator.id);\n  }\n  if (u.replies) {\n    u.replies.forEach(r => {\n      if (r.creator?.id && r.creator?.name) {\n        userMap[r.creator.name] = Number(r.creator.id);\n      }\n    });\n  }\n});\n\n// ==========================================\n// HISTÓRICO DE MENSAGENS\n// ==========================================\nconst todasMensagens = [];\n\nitem.updates.forEach(u => {\n  todasMensagens.push({\n    autor:   u.creator.name,\n    autorId: u.creator.id,\n    data:    u.created_at,\n    texto:   u.text_body,\n    tipo:    'atualização'\n  });\n\n  if (u.replies?.length > 0) {\n    u.replies.forEach(r => {\n      todasMensagens.push({\n        autor:   r.creator.name,\n        autorId: r.creator.id,\n        data:    r.created_at,\n        texto:   r.text_body,\n        tipo:    'resposta'\n      });\n    });\n  }\n});\n\ntodasMensagens.sort((a, b) => new Date(a.data) - new Date(b.data));\n\nconst ultimoUpdateId = item.updates?.length > 0 ? item.updates[0].id : null;\n\nconst updates = todasMensagens.map((m, i) =>\n  `[Mensagem ${i + 1} de ${todasMensagens.length}] Autor: ${m.autor} (ID: ${m.autorId}) | Data: ${m.data}\\nMensagem: ${m.texto}`\n).join('\\n\\n');\n\nconst agora        = new Date().toISOString();\nconst horas_inativo = preTriagem.horas_inativo;\n\n// ==========================================\n// 14 SETORES + LÍDERES\n// ==========================================\nconst mapaLideres = {\n  'DP':            'Odney',\n  'Financeiro':    'Ariana',\n  'RH':            'Rainer',\n  'TI':            'Rayro',\n  'Marketing':     'Aleane',\n  'Sesmt':         'Jessica',\n  'Compras':       'Vinicius',\n  'Contabilidade': 'Karine',\n  'Operacional':   'Karlla',\n  'AIONS':         'Karen Vasconcelos',\n  'Comercial':     'Dr. João',\n  'Contratos':     'Jeferson',\n  'Fiscal':        'Karine',\n  'Estoque':       'Ernandes',\n};\n\nconst NOME_DR_JOAO = 'Dr. João';\nconst NOME_TUCA    = 'Tuca';\n\n// ==========================================\n// MAPEAMENTO FUNCIONÁRIO → SETOR (fallback quando coluna está vazia)\n// ==========================================\nconst funcionarioSetor = {\n  'adelia henrique gomes': 'Estoque',\n  'sebastiao lopes da silva': 'Estoque',\n  'william da costa silva': 'Estoque',\n  'felipe goes batista': 'Estoque',\n  'adson carvalho plinio': 'Estoque',\n  'altemar dutra de souza ribeiro': 'Estoque',\n  'ernandes moura barbosa': 'Estoque',\n  'franciane oliveira da silva': 'DP',\n  'adria victoria noronha rocha': 'DP',\n  'jackson miranda de lira': 'DP',\n  'john williams costa silva': 'DP',\n  'thifany castro de souza': 'DP',\n  'eliza gabriely sousa dos santos': 'DP',\n  'odney da costa silva': 'DP',\n  'jeane almeida mathias mendes': 'Financeiro',\n  'douglas brito pinto': 'Financeiro',\n  'geynna alice alves campos': 'Financeiro',\n  'ariana souza marinho': 'Financeiro',\n  'mariana tayna da silva pinela': 'RH',\n  'rainer vicuna araujo pires': 'RH',\n  'gisele sousa da costa': 'RH',\n  'rayro wendel alves tomaz': 'TI',\n  'nicolas da costa nobre antunes': 'TI',\n  'aleane neves das chagas': 'Marketing',\n  'jessica jamile de oliveira frazao': 'Sesmt',\n  'hadassah kathryn peres vinente': 'Sesmt',\n  'robson nunes lima': 'Sesmt',\n  'emilly lopes da silva': 'Sesmt',\n  'ernanda marques de melo': 'Compras',\n  'mikaela luiza goncalves braz': 'Compras',\n  'julia barbara de almeida carvalho': 'Compras',\n  'vinicius paulino do nascimento': 'Compras',\n  'luiza manuelle de melo mustafa': 'Contabilidade',\n  'karine romaskevis de oliveira': 'Operacional',\n  'estefany beatriz mota da silva': 'Operacional',\n  'loyse cristina da silva e silva': 'Operacional',\n  'thiago albuquerque da silva': 'Operacional',\n  'thiago sarkis calixto': 'Operacional',\n  'mikaela trindade da silva': 'Operacional',\n  'evandro edipo de carlos lima da rocha': 'Operacional',\n  'ligia ribeiro regis': 'Operacional',\n  'julia melara pereira': 'Operacional',\n  'kamilly da silva ferreira': 'Operacional',\n  'thallison gomes de souza': 'Operacional',\n  'maria eduarda simoes da silva': 'Operacional',\n  'gabrielly nunes lima': 'Operacional',\n  'ednaldo da silva cruz': 'Operacional',\n  'karlla karolinne salles assis': 'Operacional',\n  'mikhael victor medeiros da silva': 'AIONS',\n  'karen mayara vasconcelos da silva': 'AIONS',\n  'bianca batista da costa': 'Comercial',\n  'ricardson silva galvao': 'Comercial',\n  'lara mariella ferreira cavalcante': 'Comercial',\n  'alan victor da silva ferreira': 'Comercial',\n  'anderson lamartine da silva almeida': 'Comercial',\n  'jeferson carlos cavalcante malcher': 'Contratos',\n  'francisco igor de sousa moura': 'Contratos',\n  'karine batista de oliveira': 'Fiscal',\n  'rebeca silva de oliveira': 'Operacional',\n  'carlos artur tapajos cavalcanti': 'Comercial',\n  'joao lucas vieira': 'Comercial',\n};\n\n// ==========================================\n// RESOLVER SETOR DO DEVEDOR\n// ==========================================\n// PRIORIDADE: setor da PESSOA (devedor) tem precedência sobre setor da demanda\nlet setorAlvo = '';\nconst nomeDevedor = (demandado.text || '').toLowerCase().trim();\n\nif (nomeDevedor) {\n  for (const [nomeFuncionario, setor] of Object.entries(funcionarioSetor)) {\n    const nf = nomeFuncionario.toLowerCase();\n    if (nomeDevedor === nf) { setorAlvo = setor; break; }\n    if (nomeDevedor.length >= 4 && (nomeDevedor.includes(nf) || nf.includes(nomeDevedor))) {\n      setorAlvo = setor;\n      break;\n    }\n  }\n}\n\n// Fallback: usar o setor da demanda apenas se não achou pelo nome do devedor\nif (!setorAlvo) {\n  setorAlvo = (setorDemandado.text || '').trim();\n}\n\nconst nomeLider = mapaLideres[setorAlvo] || NOME_TUCA;\n\n// ==========================================\n// ESCALONAMENTO INTELIGENTE — QUEM ENVIA\n// ==========================================\nconst nomesLideres = Object.values(mapaLideres)\n  .filter(n => n !== NOME_DR_JOAO)\n  .map(n => n.toLowerCase().trim());\n\nconst nomeDevedorTexto = (demandado.text || '').toLowerCase().trim();\n\nconst devedorEhDrJoao  = nomeDevedorTexto.includes('joão') && nomeDevedorTexto.includes('dr');\nconst devedorEhLider   = !devedorEhDrJoao && nomesLideres.some(nl => nomeDevedorTexto.includes(nl));\nconst setorEhComercial = setorAlvo === 'Comercial';\n\nlet nivelEscalonamento = 1;\nlet remetenteNome      = nomeLider;\nlet remetenteCargo     = `Líder do Setor (${setorAlvo})`;\n\nif (devedorEhDrJoao) {\n  nivelEscalonamento = 3;\n  remetenteNome  = NOME_TUCA;\n  remetenteCargo = 'CEO';\n} else if (devedorEhLider) {\n  if (horas_inativo >= 48) {\n    nivelEscalonamento = 3;\n    remetenteNome  = NOME_TUCA;\n    remetenteCargo = 'CEO';\n  } else {\n    nivelEscalonamento = 2;\n    remetenteNome  = NOME_DR_JOAO;\n    remetenteCargo = 'COO';\n  }\n} else if (setorEhComercial) {\n  if (horas_inativo >= 48) {\n    nivelEscalonamento = 3;\n    remetenteNome  = NOME_TUCA;\n    remetenteCargo = 'CEO';\n  } else {\n    nivelEscalonamento = 1;\n    remetenteNome  = NOME_DR_JOAO;\n    remetenteCargo = 'Líder do Setor (Comercial)';\n  }\n} else {\n  if (horas_inativo >= 72) {\n    nivelEscalonamento = 3;\n    remetenteNome  = NOME_TUCA;\n    remetenteCargo = 'CEO';\n  } else if (horas_inativo >= 48) {\n    nivelEscalonamento = 2;\n    remetenteNome  = NOME_DR_JOAO;\n    remetenteCargo = 'COO';\n  } else {\n    nivelEscalonamento = 1;\n    remetenteNome  = nomeLider;\n    remetenteCargo = `Líder do Setor (${setorAlvo})`;\n  }\n}\n\n// ==========================================\n// ENRIQUECIMENTO DO CONTEXTO — SETORES\n// ==========================================\nconst descreverPessoas = (ids) => ids.map(id => {\n  const nome  = Object.entries(userMap).find(([, v]) => v === Number(id))?.[0] || 'Desconhecido';\n  const setor = setorMap[Number(id)] || 'setor não identificado';\n  return `${nome} (ID: ${id}, setor: ${setor})`;\n}).join(', ');\n\nconst demandadosDetalhado  = descreverPessoas(demandadoIds);\nconst demandantesDetalhado = descreverPessoas(demandanteIds);\n\n// ==========================================\n// MONTAGEM DO PROMPT\n// ==========================================\n// Reduzir userMap: só inclui usuários mencionados nas mensagens + demandantes/demandados\nconst idsRelevantes = new Set();\ndemandanteIds.forEach(id => idsRelevantes.add(Number(id)));\ndemandadoIds.forEach(id => idsRelevantes.add(Number(id)));\ntodasMensagens.forEach(m => idsRelevantes.add(Number(m.autorId)));\nconst userMapEnxuto = {};\nfor (const [nome, id] of Object.entries(userMap)) {\n  if (idsRelevantes.has(Number(id))) userMapEnxuto[nome] = id;\n}\n\nconst prompt = `Analise demanda corporativa. Responda só JSON válido.\n\nDADOS:\n- Item: ${item.name} (id ${item.id}, status ${status.text})\n- Inativa há: ${horas_inativo}h / ${preTriagem.dias_inativo}d úteis\n- Demandante: ${demandantesDetalhado}\n- Demandado: ${demandadosDetalhado}\n- Setor demandante: ${setorDemandante.text}\n- Setor demandado: ${setorDemandado.text || setorAlvo}\n- Agora: ${agora}\n- Remetente da cobrança: ${remetenteNome} (${remetenteCargo})\n\nUSUÁRIOS (nome→id):\n${JSON.stringify(userMapEnxuto)}\n\nMENSAGENS (cronológicas, última = mais recente):\n${updates || '(nenhuma)'}\n\nREGRAS:\n1. PRAZO: Se mensagens mencionam prazo (data, \"amanhã\", \"semana que vem\", \"até X\"), calcule a data baseada na DATA DA MENSAGEM. Se prazo é hoje ou futuro → deve_notificar=false, prazo_vencido=false. Só notifica se prazo é estritamente anterior a hoje.\n2. QUEM DEVE: Quem recebeu a última cobrança e não respondeu. Não confunda com quem cobrou.\n3. URGÊNCIA por horas_inativo: ≤48h=\"baixa\", 49-120h=\"media\", >120h=\"alta\".\n4. user_id_quem_deve: ID exato do mapa. Se não achar, use -1.\n5. Se quem_deve=\"ambos\": principal em user_id_quem_deve, demais em user_ids_adicionais.\n6. PSC: setor oposto/líderes (não duplicar quem já é cobrado).\n7. Mensagem em nome de ${remetenteNome}, profissional, HTML <b></b>, sem emojis nem markdown nem @nome.\n\nJSON:\n{\"deve_notificar\":bool,\"motivo\":\"breve\",\"quem_deve\":\"demandante|demandado|ambos\",\"nome_quem_deve\":\"\",\"user_id_quem_deve\":0,\"user_ids_adicionais\":[],\"user_ids_psc\":[],\"urgencia\":\"baixa|media|alta\",\"prazo_detectado\":\"data ou null\",\"prazo_vencido\":true|false|null,\"mensagem_monday\":\"\",\"mensagem_whatsapp\":\"\",\"resumo_demanda\":\"1-2 frases sobre o tema\",\"setores_envolvidos\":[]}`;\n\nreturn [{\n  json: {\n    prompt,\n    pulseID:             preTriagem.pulseID,\n    boardID:             preTriagem.boardID,\n    itemName:            item.name,\n    itemId:              item.id,\n    demandante,\n    demandado,\n    demandanteIds,\n    demandadoIds,\n    setorDemandante:     setorDemandante.text,\n    setorDemandado:      setorDemandado.text || setorAlvo,\n    horas_inativo:       preTriagem.horas_inativo,\n    dias_inativo:        preTriagem.dias_inativo,\n    id_datatable:        preTriagem.id_datatable,\n    updates:             item.updates,\n    userMap,\n    setorMap,\n    ultimoUpdateId,\n    nivel_escalonamento: nivelEscalonamento,\n    remetente_nome:      remetenteNome,\n    remetente_cargo:     remetenteCargo,\n    setor_demandado_alvo: setorAlvo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[27904,22368],"id":"ec154d6d-a688-41f4-9f4c-a75d5a2a1d27","name":"Code Node - Montar Prompt"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4509bc10-6441-4350-afdc-11d69e4f253a","leftValue":"={{ $json.deve_notificar }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[28896,22352],"id":"3944390b-2c9d-41e6-afb2-3d1779874190","name":"If1"},{"parameters":{"jsCode":"// Nó 10.1 — Preparar mutations prontas para Monday + lista de notificações\nconst dados = $input.item.json;\n\n// IDs dos devedores (cobrados)\nconst userIds = [];\nif (dados.user_id_quem_deve) {\n  userIds.push(Number(dados.user_id_quem_deve));\n}\nif (dados.user_ids_adicionais && Array.isArray(dados.user_ids_adicionais)) {\n  dados.user_ids_adicionais.forEach(id => {\n    const numId = Number(id);\n    if (numId && !userIds.includes(numId)) {\n      userIds.push(numId);\n    }\n  });\n}\n\n// IDs do PSC (ciência)\nconst userIdsPSC = [];\nif (dados.user_ids_psc && Array.isArray(dados.user_ids_psc)) {\n  dados.user_ids_psc.forEach(id => {\n    const numId = Number(id);\n    if (numId && !userIds.includes(numId) && !userIdsPSC.includes(numId)) {\n      userIdsPSC.push(numId);\n    }\n  });\n}\n\nconst escapeGraphQL = (str) => {\n  return str\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\\r/g, '');\n};\n\nconst bodyEscapado = escapeGraphQL(dados.mensagem_monday_html);\nconst ultimoUpdateId = dados.ultimoUpdateId || null;\n\n// Mutation do create_update (reply)\nlet mutationUpdate;\nif (ultimoUpdateId) {\n  mutationUpdate = {\n    query: `mutation { create_update(item_id: ${dados.pulseID}, parent_id: ${ultimoUpdateId}, body: \"${bodyEscapado}\") { id } }`\n  };\n} else {\n  mutationUpdate = {\n    query: `mutation { create_update(item_id: ${dados.pulseID}, body: \"${bodyEscapado}\") { id } }`\n  };\n}\n\n// Texto da notificação de cobrança\nconst textoCobranca = escapeGraphQL(\n  dados.mensagem_monday || 'Você possui uma demanda pendente de atualização. Favor verificar.'\n);\n\n// Texto da notificação de ciência (PSC)\nconst textoCiencia = escapeGraphQL(\n  `[CIÊNCIA] A demanda \"${dados.itemName}\" recebeu uma cobrança automática. Você foi incluído para acompanhamento.`\n);\n\n// Notificações dos devedores (cobrança)\nconst notificacoesCobranca = userIds.map(userId => ({\n  query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"${textoCobranca}\", target_type: Project) { text } }`\n}));\n\n// Notificações do PSC (ciência)\nconst notificacoesPSC = userIdsPSC.map(userId => ({\n  query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"${textoCiencia}\", target_type: Project) { text } }`\n}));\n\n// Unir todas as notificações: devedores primeiro, PSC depois\nconst notificacoes = [...notificacoesCobranca, ...notificacoesPSC];\n\nreturn [{\n  json: {\n    ...dados,\n    nivel_escalonamento: dados.nivel_escalonamento,\n    token_remetente: dados.token_remetente,\n    todos_user_ids: userIds,\n    todos_user_ids_psc: userIdsPSC,\n    total_notificacoes: notificacoes.length,\n    ultimo_update_id: ultimoUpdateId,\n    mutation_update: mutationUpdate,\n    notificacoes: notificacoes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[29104,22336],"id":"4045c980-528c-4d08-9d69-efe724e47e9b","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.token_remetente }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.mutation_update }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[29328,22336],"id":"9efa6e61-f4df-4328-b38d-cd63240fd951","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"// Nó 12 — Preparar notificações (sino) como itens separados\nconst dados = $('Code in JavaScript1').item.json;\n\nconst todosIds = [...(dados.todos_user_ids || [])];\nconst todosPSC = [...(dados.todos_user_ids_psc || [])];\n\nconst output = [];\n\n// Notificações de cobrança (devedores)\ntodosIds.forEach(userId => {\n  output.push({\n    json: {\n      notification_mutation: {\n        query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"Você possui uma demanda pendente de atualização. Favor verificar no Monday.\", target_type: Project) { text } }`\n      },\n      userId,\n      tipo_notificacao: 'cobranca',\n      token_remetente: dados.token_remetente, // Variável repassada para o HTTP Request2\n      nivel_escalonamento: dados.nivel_escalonamento,\n      remetente_nome: dados.remetente_nome,\n      resumo_demanda: dados.resumo_demanda || '',\n      pulseID: dados.pulseID,\n      boardID: dados.boardID,\n      itemName: dados.itemName,\n      mensagem_whatsapp: dados.mensagem_whatsapp,\n      setores_envolvidos: dados.setores_envolvidos,\n      linkDemanda: dados.linkDemanda,\n      nome_quem_deve: dados.nome_quem_deve,\n      urgencia: dados.urgencia,\n      horas_inativo: dados.horas_inativo,\n      dias_inativo: dados.dias_inativo,\n      id_datatable: dados.id_datatable,\n      motivo: dados.motivo,\n      setorDemandante: dados.setorDemandante,\n      setorDemandado: dados.setorDemandado\n    }\n  });\n});\n\n// Notificações de ciência (PSC)\ntodosPSC.forEach(userId => {\n  const nomeItem = (dados.itemName || '').replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n  output.push({\n    json: {\n      notification_mutation: {\n        query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"[CIÊNCIA] A demanda \\\\\"${nomeItem}\\\\\" recebeu uma cobrança automática. Você foi incluído para acompanhamento.\", target_type: Project) { text } }`\n      },\n      userId,\n      tipo_notificacao: 'ciencia',\n      token_remetente: dados.token_remetente, // Variável repassada para o HTTP Request2\n      nivel_escalonamento: dados.nivel_escalonamento,\n      remetente_nome: dados.remetente_nome,\n      resumo_demanda: dados.resumo_demanda || '',\n      pulseID: dados.pulseID,\n      boardID: dados.boardID,\n      itemName: dados.itemName,\n      mensagem_whatsapp: dados.mensagem_whatsapp,\n      setores_envolvidos: dados.setores_envolvidos,\n      linkDemanda: dados.linkDemanda,\n      nome_quem_deve: dados.nome_quem_deve,\n      urgencia: dados.urgencia,\n      horas_inativo: dados.horas_inativo,\n      dias_inativo: dados.dias_inativo,\n      id_datatable: dados.id_datatable,\n      motivo: dados.motivo,\n      setorDemandante: dados.setorDemandante,\n      setorDemandado: dados.setorDemandado\n    }\n  });\n});\n\nif (output.length === 0) {\n  return [{\n    json: {\n      notification_mutation: null,\n      tipo_notificacao: null,\n      token_remetente: dados.token_remetente, // Variável repassada para o HTTP Request2\n      nivel_escalonamento: dados.nivel_escalonamento,\n      remetente_nome: dados.remetente_nome,\n      resumo_demanda: dados.resumo_demanda || '',\n      pulseID: dados.pulseID,\n      boardID: dados.boardID,\n      itemName: dados.itemName,\n      mensagem_whatsapp: dados.mensagem_whatsapp,\n      setores_envolvidos: dados.setores_envolvidos,\n      linkDemanda: dados.linkDemanda,\n      nome_quem_deve: dados.nome_quem_deve,\n      urgencia: dados.urgencia,\n      horas_inativo: dados.horas_inativo,\n      dias_inativo: dados.dias_inativo,\n      id_datatable: dados.id_datatable,\n      motivo: dados.motivo,\n      setorDemandante: dados.setorDemandante,\n      setorDemandado: dados.setorDemandado\n    }\n  }];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[29952,22352],"id":"a0078edf-fbde-4220-b11a-fef48ad9af2c","name":"Code in JavaScript2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[28288,22592],"id":"4f811b73-282b-4d47-a762-2a3b9a223639","name":"Wait1","webhookId":"bc5a6834-76da-4b48-bacf-7a82abe087e3"},{"parameters":{"jsCode":"// Nó 9.5 — Determinar Remetente (token) com base no nível de escalonamento\n// 14 setores + tokens | Estoque e Contratos usam token Tuca | Comercial usa token Dr. João\n\nconst dados = $input.item.json;\n\n// ==========================================\n// MAPEAMENTO DE LÍDERES POR SETOR COM TOKENS\n// ==========================================\nconst mapaLideres = {\n  'DP':            { nome: 'Odney',                  token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDcxMTI0NiwiYWFpIjoxMSwidWlkIjo1MDQyOTAzMCwiaWFkIjoiMjAyNi0wNC0wMVQxOTozMjozMS4xNjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.ypy2lYhwp6dbdK2ACdSVptE7irBwyoYnf13Y_txm37A' },\n  'Financeiro':    { nome: 'Ariana',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0NzAwNjI2NiwiYWFpIjoxMSwidWlkIjo3MTUwOTMzNiwiaWFkIjoiMjAyNi0wNC0xN1QxMzo1ODowMC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.smsEhvnb0yc91nwcn2bDLeBvzdULO1BtRvixbit5zLQ' }, // TROCAR\n  'RH':            { nome: 'Rainer',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxNzYxNiwiYWFpIjoxMSwidWlkIjo2MDAwMjY0MywiaWFkIjoiMjAyNi0wMy0zMVQyMDo1NzowNC4xMTdaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.U0cRprY7mZRIQf7TaFqU6Ft9X3-EN9SITExBsLcJ2Nw' },\n  'TI':            { nome: 'Rayro',                  token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYwNDU1MjM0NSwiYWFpIjoxMSwidWlkIjo1NDE0MTk0NSwiaWFkIjoiMjAyNi0wMS0wN1QxNToyNjozNy4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.E825_7VUNkF3Wz0hj3bKp3ItTgJwnkSp3ZQajzuF63I' },\n  'Marketing':     { nome: 'Aleane',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYwNzY0Njc2MSwiYWFpIjoxMSwidWlkIjo2NDQ0MTk0MCwiaWFkIjoiMjAyNi0wMS0xNFQxODowMDoyMi4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.U3wEuDpmn4XDCwutu89KZaCAX2N0zEJ942tafKU-6no' },\n  'Sesmt':         { nome: 'Jessica',                token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxOTc0MCwiYWFpIjoxMSwidWlkIjo0NTQxNzMzMiwiaWFkIjoiMjAyNi0wMy0zMVQyMTowMjoyNi4yNzVaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.akgxNQulhvxAi7mwdNgfa5wC-haGXWJmG2iWiOVG-vI' },\n  'Compras':       { nome: 'Vinicius',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxODE5NCwiYWFpIjoxMSwidWlkIjo3NjAyMTM2MCwiaWFkIjoiMjAyNi0wMy0zMVQyMDo1ODozNi44MDVaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.TOTLf98sQf0a3YXZwd99TVFdInDjTEVNf-zEU0cgvbA' },\n  'Contabilidade': { nome: 'Karine Batista',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxODYzMCwiYWFpIjoxMSwidWlkIjo2NzE1ODYxNSwiaWFkIjoiMjAyNi0wMy0zMVQyMDo1OTo0NS44MjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.JJv19XkzZqfo2wIblrnqUibuJqfQFwZkJtsmJIPalws' }, // TROCAR\n  'Operacional':   { nome: 'Karlla',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYwNDYyODI5OSwiYWFpIjoxMSwidWlkIjo2MDc4ODYyMiwiaWFkIjoiMjAyNi0wMS0wN1QxNzoxODo1NS4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjMzODY4NjEsInJnbiI6InVzZTEifQ.dJs48mXAV4BYh80GtHr2GhSEBpfqMWED_xL5_WGCbxs' },\n  'AIONS':         { nome: 'Karen Vasconcelos',      token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQ0MjQ3NjE2MywiYWFpIjoxMSwidWlkIjo0NDI5NzU5NCwiaWFkIjoiMjAyNC0xMS0yOFQxNzo0NjoxNy4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.1-LvSIygROh-D_uLEMn2F-RO3mPaWWSVpITRP5P5n3w' },\n  'Comercial':     { nome: 'Dr. João',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng' }, // TROCAR\n  'Contratos':     { nome: 'Jeferson',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDcxNTAzOCwiYWFpIjoxMSwidWlkIjo3NDAyMTU4MSwiaWFkIjoiMjAyNi0wNC0wMVQxOTo0MDo0Ni43NjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.Qdq2E_WPQYvOkPIyyQpHIMlNAFBBmLnR27NoOOQBHNc' },\n  'Fiscal':        { nome: 'Karine Batista',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxODYzMCwiYWFpIjoxMSwidWlkIjo2NzE1ODYxNSwiaWFkIjoiMjAyNi0wMy0zMVQyMDo1OTo0NS44MjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.JJv19XkzZqfo2wIblrnqUibuJqfQFwZkJtsmJIPalws' },\n  'Estoque':       { nome: 'Ernandes',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng' }, // TROCAR\n};\n\nconst TOKEN_DR_JOAO = 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng';\nconst TOKEN_TUCA    = 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng';\n\n// ==========================================\n// RESOLUÇÃO DO TOKEN BASEADO NO NÍVEL\n// ==========================================\nconst nivel = dados.nivel_escalonamento || 1;\nconst setorAlvo = dados.setor_demandado_alvo || '';\n\nlet tokenRemetente;\n\nif (nivel === 3) {\n  tokenRemetente = TOKEN_TUCA;\n} else if (nivel === 2) {\n  tokenRemetente = TOKEN_DR_JOAO;\n} else {\n  // Nível 1 — usa token do líder do setor\n  const dadosLider = mapaLideres[setorAlvo];\n  tokenRemetente = dadosLider ? dadosLider.token : TOKEN_TUCA;\n}\n\nreturn [{\n  json: {\n    ...dados,\n    token_remetente: tokenRemetente\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[28736,22352],"id":"699f32e8-6286-4052-80ec-76a8f755a3bd","name":"Code Node - Determinar Remetente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d1e4805-00ad-461a-81ce-b94825beaef1","leftValue":"={{ $json.nivel_escalonamento }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[29520,22336],"id":"cee4c735-8445-4ccf-bd9b-838791b66335","name":"If - É Nível 2?"},{"parameters":{"workflowId":{"__rl":true,"value":"wt5uMJtRAMvHS5Qq","mode":"list","cachedResultUrl":"/workflow/wt5uMJtRAMvHS5Qq","cachedResultName":"Subworkflow - 2 horas sem resposta."},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[29712,22272],"id":"667f267c-f16b-4ef5-90b7-eb22c7078985","name":"esperar resposta"},{"parameters":{"content":"      ESPERAR RESPOSTA\n     (EXCLUSIVO DR JOÃO)","height":352,"color":5},"type":"n8n-nodes-base.stickyNote","position":[29648,22160],"typeVersion":1,"id":"15e23502-f563-4204-9c87-96280facf53e","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.token_remetente }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.notification_mutation }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[30160,22352],"id":"82f0fcdd-3b01-428c-8525-31232cb4d248","name":"HTTP Request2"},{"parameters":{"jsCode":"// Repassar dados da cobrança para gravar na DataTable cobranças_diarias\n// O envio individual vai para o grupo fixo (definido no node 'mensagem via whatsapp')\nconst dados = $('Code in JavaScript2').first().json;\n\nconst mensagemWhatsapp = `${dados.mensagem_whatsapp}\\n\\n🔗 Link: ${dados.linkDemanda}`;\n\nreturn [{\n  json: {\n    mensagemWhatsapp,\n    id_datatable:        dados.id_datatable,\n    pulseID:             dados.pulseID,\n    boardID:             dados.boardID,\n    itemName:            dados.itemName,\n    devedor:             dados.nome_quem_deve,\n    urgencia:            dados.urgencia,\n    dias_inativo:        String(dados.dias_inativo),\n    motivo:              dados.motivo,\n    setorDemandante:     dados.setorDemandante,\n    setorDemandado:      dados.setorDemandado,\n    linkDemanda:         dados.linkDemanda,\n    remetente_nome:      dados.remetente_nome,\n    nivel_escalonamento: dados.nivel_escalonamento,\n    resumo_demanda:      dados.resumo_demanda || '',\n    data_cobranca:       new Date().toISOString(),\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[30368,22352],"id":"e0e8be9d-6420-4c59-98f8-dc2c8433efce","name":"Code in JavaScript3"},{"parameters":{"dataTableId":{"__rl":true,"value":"cOmGR5JCvmH7MFPz","mode":"list","cachedResultName":"cobrança diaria","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/cOmGR5JCvmH7MFPz"},"columns":{"mappingMode":"defineBelow","value":{"pulseID":"={{ $json.pulseID }}","boardID":"={{ $json.boardID }}","urgencia":"={{ $json.urgencia }}","itemName":"={{ $json.itemName }}","setorDemandante":"={{ $json.setorDemandante }}","devedor":"={{ $json.devedor }}","motivo":"={{ $json.motivo }}","dias_inativo":"={{ $json.dias_inativo }}","setorDemandado":"={{ $json.setorDemandado }}","linkDemanda":"={{ $json.linkDemanda }}","mensagem_cobranca":"={{ $json.mensagemWhatsapp }}","remetente_nome":"={{ $json.remetente_nome }}","nivel_escalonamento":"={{ $json.nivel_escalonamento }}","resumo_demanda":"={{ $json.resumo_demanda }}","data_cobranca":"={{ $('Code in JavaScript3').item.json.data_cobranca }}"},"matchingColumns":[],"schema":[{"id":"pulseID","displayName":"pulseID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"boardID","displayName":"boardID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"itemName","displayName":"itemName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"devedor","displayName":"devedor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"urgencia","displayName":"urgencia","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"dias_inativo","displayName":"dias_inativo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"motivo","displayName":"motivo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"setorDemandante","displayName":"setorDemandante","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"setorDemandado","displayName":"setorDemandado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"linkDemanda","displayName":"linkDemanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"mensagem_cobranca","displayName":"mensagem_cobranca","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"remetente_nome","displayName":"remetente_nome","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nivel_escalonamento","displayName":"nivel_escalonamento","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resumo_demanda","displayName":"resumo_demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"data_cobranca","displayName":"data_cobranca","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30576,22352],"id":"c8f9d1b9-0b36-4b3f-98dd-bc0de1488a0e","name":"Insert row"},{"parameters":{"content":"ATUALIZAR BANCO DE DADOS MENSAL","height":336,"width":2288,"color":4},"type":"n8n-nodes-base.stickyNote","position":[29456,22544],"typeVersion":1,"id":"9d7ec30d-91a8-47c8-b943-b6445a1eec4f","name":"Sticky Note1"},{"parameters":{"dataTableId":{"__rl":true,"value":"bfB2hGaoM2mBgJaB","mode":"list","cachedResultName":"qtd de cobranças por demanda mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/bfB2hGaoM2mBgJaB"},"columns":{"mappingMode":"defineBelow","value":{"Demanda":"={{ $json.Demanda }}","pulse":"={{ $json.pulse }}","board":"={{ $json.board }}","quantidade":"={{ $json.quantidade }}","liderado":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Demanda","displayName":"Demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pulse","displayName":"pulse","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"board","displayName":"board","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"liderado","displayName":"liderado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31360,22720],"id":"35567ed1-215b-4cc7-9906-488772407392","name":"Insert row - Contagem Demanda"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"bfB2hGaoM2mBgJaB","mode":"list","cachedResultName":"qtd de cobranças por demanda mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/bfB2hGaoM2mBgJaB"},"filters":{"conditions":[{"keyValue":"={{ $json.id_registro }}"}]},"columns":{"mappingMode":"defineBelow","value":{"quantidade":"={{ $json.quantidade }}","liderado":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Demanda","displayName":"Demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pulse","displayName":"pulse","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"board","displayName":"board","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"liderado","displayName":"liderado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31360,22576],"id":"9c1a9bd7-dcc6-4031-98f9-3e5a807edc28","name":"Update row(s) - Contagem Demanda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cc283d98-1cbb-4c78-be69-f9fb9fa45af8","leftValue":"={{ $json.demanda_existe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[31152,22656],"id":"3106cbaa-f3a6-4f94-81bc-5d9f512bcab7","name":"If - Demanda Existe"},{"parameters":{"jsCode":"const dadosCobranca = $('Code in JavaScript3').first().json;\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem Demanda').all();\n} catch (e) {\n  registros = [];\n}\nconst pulseID = String(dadosCobranca.pulseID || '');\nconst boardID = String(dadosCobranca.boardID || '');\nconst itemName = dadosCobranca.itemName || '';\nconst devedor = dadosCobranca.devedor || dadosCobranca.nome_quem_deve || '';\n\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (String(reg.json.pulse) === pulseID) {\n    registroExistente = reg.json;\n    break;\n  }\n}\nif (registroExistente) {\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      demanda_existe: true,\n      id_registro: registroExistente.id,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: qtdAtual + 1,\n      devedor: devedor\n    }\n  }];\n} else {\n  return [{\n    json: {\n      demanda_existe: false,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: 1,\n      devedor: devedor\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[30864,22656],"id":"209775a4-c06c-47bc-a479-106a2e72afbe","name":"Code Node - Preparar Contagem Demanda"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"bfB2hGaoM2mBgJaB","mode":"list","cachedResultName":"qtd de cobranças por demanda mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/bfB2hGaoM2mBgJaB"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30528,22656],"id":"2288dbb2-e39f-4493-8ac9-d366c52b39d7","name":"Get row(s) - Contagem Demanda","alwaysOutputData":true},{"parameters":{"dataTableId":{"__rl":true,"value":"x7kWy2QIsE6aGIXc","mode":"list","cachedResultName":"qtd sem resposta por pessoa mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/x7kWy2QIsE6aGIXc"},"columns":{"mappingMode":"defineBelow","value":{"quantidade":"={{ $json.quantidade }}","setor":"={{ $json.setor }}","ultima_cobranca":"={{ $json.ultima_cobranca }}","Name":"={{ $json.name }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"setor","displayName":"setor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ultima_cobranca","displayName":"ultima_cobranca","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30336,22720],"id":"c04397a1-750e-4b1e-b6f1-943f9564a0cd","name":"Insert row - Contagem"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"x7kWy2QIsE6aGIXc","mode":"list","cachedResultName":"qtd sem resposta por pessoa mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/x7kWy2QIsE6aGIXc"},"filters":{"conditions":[{"keyValue":"={{ $json.id_registro }}"}]},"columns":{"mappingMode":"defineBelow","value":{"quantidade":"={{ $json.quantidade }}","setor":"={{ $json.setor }}","ultima_cobranca":"={{ $json.ultima_cobranca }}","Name":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"setor","displayName":"setor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ultima_cobranca","displayName":"ultima_cobranca","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30336,22560],"id":"168253f4-358c-4d69-8fa4-ed5f9a295a81","name":"Update row(s) - Contagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b639fa2a-d7ae-4c53-92d7-282a3172520d","leftValue":"={{ $json.devedor_existe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[30144,22656],"id":"e873f865-cabd-41d2-9fda-1cf765d0c32a","name":"If - Devedor Existe"},{"parameters":{"jsCode":"// Busca se o devedor já existe na tabela de contagem\nconst dadosCobranca = $('Code in JavaScript3').first().json;\n\n// Pega registros existentes — pode ser vazio se a tabela não tem dados\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem').all();\n} catch (e) {\n  // Tabela vazia retorna sem itens — trata como lista vazia\n  registros = [];\n}\n\nconst nomeDevedor = dadosCobranca.devedor || '';\nconst setorDevedor = dadosCobranca.setorDemandado || '';\n\n// Procura registro existente pelo nome\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (reg.json.name && reg.json.name.trim().toLowerCase() === nomeDevedor.trim().toLowerCase()) {\n    registroExistente = reg.json;\n    break;\n  }\n}\n\nif (registroExistente) {\n  // Já existe → incrementar quantidade\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      devedor_existe: true,\n      id_registro: registroExistente.id,\n      name: nomeDevedor,\n      quantidade: qtdAtual + 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n} else {\n  // Não existe → criar novo\n  return [{\n    json: {\n      devedor_existe: false,\n      name: nomeDevedor,\n      quantidade: 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[29808,22656],"id":"679a2278-cf7f-4ac6-bfc7-9ec045d60131","name":"Code Node - Preparar Contagem"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"x7kWy2QIsE6aGIXc","mode":"list","cachedResultName":"qtd sem resposta por pessoa mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/x7kWy2QIsE6aGIXc"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[29504,22656],"id":"d4acf80d-4fe7-41a9-9c47-49f2cbcdbc2b","name":"Get row(s) - Contagem","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[31584,22656],"id":"36bf14be-4042-43b5-913f-5cc14e1e95ef","name":"Wait","webhookId":"90004988-04bb-4886-8ae6-dbd76ca594c3"}],"connections":{"Insert row - Contagem Demanda1":{"main":[[{"node":"Get row(s) - Contagem","type":"main","index":0}]]},"Code Node - Preparar Contagem Demanda1":{"main":[[{"node":"Insert row - Contagem Demanda1","type":"main","index":0}]]},"Code Node - Preparar Contagem1":{"main":[[{"node":"Insert row - pessoa diario","type":"main","index":0}]]},"Insert row - pessoa diario":{"main":[[{"node":"Code Node - Preparar Contagem Demanda1","type":"main","index":0}]]},"mensagem via whatsapp":{"main":[[{"node":"Update row(s)","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Code Node - Preparar Contagem1","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Code Node - Pré-triagem","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request - Monday GraphQL","type":"main","index":0}]]},"Code Node - Pré-triagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"é fim de semana?","type":"main","index":0}]]},"é fim de semana?":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"If":{"main":[[{"node":"Delete row(s)","type":"main","index":0}],[{"node":"Code Node - Montar Prompt","type":"main","index":0}]]},"Delete row(s)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request - Monday GraphQL":{"main":[[{"node":"If","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code Node - Determinar Remetente","type":"main","index":0}]]},"Code Node - Montar Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If - É Nível 2?","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Code Node - Determinar Remetente":{"main":[[{"node":"If1","type":"main","index":0}]]},"If - É Nível 2?":{"main":[[{"node":"esperar resposta","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"esperar resposta":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"mensagem via whatsapp","type":"main","index":0}]]},"Insert row - Contagem Demanda":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update row(s) - Contagem Demanda":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If - Demanda Existe":{"main":[[{"node":"Update row(s) - Contagem Demanda","type":"main","index":0}],[{"node":"Insert row - Contagem Demanda","type":"main","index":0}]]},"Code Node - Preparar Contagem Demanda":{"main":[[{"node":"If - Demanda Existe","type":"main","index":0}]]},"Get row(s) - Contagem Demanda":{"main":[[{"node":"Code Node - Preparar Contagem Demanda","type":"main","index":0}]]},"Insert row - Contagem":{"main":[[{"node":"Get row(s) - Contagem Demanda","type":"main","index":0}]]},"Update row(s) - Contagem":{"main":[[{"node":"Get row(s) - Contagem Demanda","type":"main","index":0}]]},"If - Devedor Existe":{"main":[[{"node":"Update row(s) - Contagem","type":"main","index":0}],[{"node":"Insert row - Contagem","type":"main","index":0}]]},"Code Node - Preparar Contagem":{"main":[[{"node":"If - Devedor Existe","type":"main","index":0}]]},"Get row(s) - Contagem":{"main":[[{"node":"Code Node - Preparar Contagem","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger - Relatorio":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-04-30T08:00:59.010-04:00","Readable date":"April 30th 2026, 8:00:59 am","Readable time":"8:00:59 am","Day of week":"Thursday","Year":"2026","Month":"April","Day of month":"30","Hour":"08","Minute":"00","Second":"59","Timezone":"America/New_York (UTC-04:00)"},"pairedItem":{"item":0}}]},"versionId":"1541380f-8885-4149-8cde-ce967696bc5b","activeVersionId":"1541380f-8885-4149-8cde-ce967696bc5b","versionCounter":644,"triggerCount":1,"shared":[{"updatedAt":"2026-04-10T14:28:49.042Z","createdAt":"2026-04-10T14:28:49.042Z","role":"workflow:owner","workflowId":"fxF2ZwiRIyNE9iHN","projectId":"kDKKlC23HqJCyHvF","project":{"updatedAt":"2026-04-09T20:33:54.993Z","createdAt":"2026-04-09T20:28:48.909Z","id":"kDKKlC23HqJCyHvF","name":"Isaac Raylen <isaac.gomes@contatoserv.com.br>","type":"personal","icon":null,"description":null,"creatorId":"811d2d9e-6074-4762-8533-fe3acae08af3"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-18T20:16:29.682Z","createdAt":"2026-05-18T19:55:40.359Z","versionId":"1541380f-8885-4149-8cde-ce967696bc5b","workflowId":"fxF2ZwiRIyNE9iHN","nodes":[{"parameters":{"dataTableId":{"__rl":true,"value":"qh3YHmbpzhSt4QzK","mode":"list","cachedResultName":"qtd de cobranças por demanda diario","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/qh3YHmbpzhSt4QzK"},"columns":{"mappingMode":"defineBelow","value":{"Demanda":"={{ $json.Demanda }}","pulse":"={{ $json.pulse }}","board":"={{ $json.board }}","quantidade":"={{ $json.quantidade }}","liderado":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Demanda","displayName":"Demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pulse","displayName":"pulse","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"board","displayName":"board","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"liderado","displayName":"liderado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31616,22352],"id":"a075f62c-575e-41b7-bef5-18df8a7ac6ff","name":"Insert row - Contagem Demanda1"},{"parameters":{"jsCode":"const dadosCobranca = $('Code in JavaScript3').first().json;\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem Demanda').all();\n} catch (e) {\n  registros = [];\n}\nconst pulseID = String(dadosCobranca.pulseID || '');\nconst boardID = String(dadosCobranca.boardID || '');\nconst itemName = dadosCobranca.itemName || '';\nconst devedor = dadosCobranca.devedor || dadosCobranca.nome_quem_deve || '';\n\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (String(reg.json.pulse) === pulseID) {\n    registroExistente = reg.json;\n    break;\n  }\n}\nif (registroExistente) {\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      demanda_existe: true,\n      id_registro: registroExistente.id,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: qtdAtual + 1,\n      devedor: devedor\n    }\n  }];\n} else {\n  return [{\n    json: {\n      demanda_existe: false,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: 1,\n      devedor: devedor\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[31472,22352],"id":"4491399c-e964-48d3-acbe-ed06a37b943c","name":"Code Node - Preparar Contagem Demanda1"},{"parameters":{"jsCode":"// Busca se o devedor já existe na tabela de contagem\nconst dadosCobranca = $('Code in JavaScript3').first().json;\n\n// Pega registros existentes — pode ser vazio se a tabela não tem dados\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem').all();\n} catch (e) {\n  // Tabela vazia retorna sem itens — trata como lista vazia\n  registros = [];\n}\n\nconst nomeDevedor = dadosCobranca.devedor || '';\nconst setorDevedor = dadosCobranca.setorDemandado || '';\n\n// Procura registro existente pelo nome\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (reg.json.name && reg.json.name.trim().toLowerCase() === nomeDevedor.trim().toLowerCase()) {\n    registroExistente = reg.json;\n    break;\n  }\n}\n\nif (registroExistente) {\n  // Já existe → incrementar quantidade\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      devedor_existe: true,\n      id_registro: registroExistente.id,\n      name: nomeDevedor,\n      quantidade: qtdAtual + 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n} else {\n  // Não existe → criar novo\n  return [{\n    json: {\n      devedor_existe: false,\n      name: nomeDevedor,\n      quantidade: 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[31152,22352],"id":"0e22a236-fbd9-460a-a425-83514b24ee0e","name":"Code Node - Preparar Contagem1"},{"parameters":{"dataTableId":{"__rl":true,"value":"04wn65XzrqRBgPcw","mode":"list","cachedResultName":"qtd sem resposta por pessoa - diario","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/04wn65XzrqRBgPcw"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","quantidade":"={{ $json.quantidade }}","setor":"={{ $json.setor }}","ultima_cobranca":"={{ $json.ultima_cobranca }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"setor","displayName":"setor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ultima_cobranca","displayName":"ultima_cobranca","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31296,22352],"id":"c9a312d4-55c1-4548-af3e-466ea47c7d27","name":"Insert row - pessoa diario"},{"parameters":{"content":"MENSAGEM WHATSAPP","height":192,"width":192,"color":"#185422"},"type":"n8n-nodes-base.stickyNote","position":[30736,22304],"typeVersion":1,"id":"9bd53306-5d8b-4cc4-9273-db090a54bff1","name":"Sticky Note2"},{"parameters":{"workflowId":{"__rl":true,"value":"adVZjlDzP6CaQ7lS","mode":"list","cachedResultUrl":"/workflow/adVZjlDzP6CaQ7lS","cachedResultName":"Subworkflow - Enviar Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Destinatário":"=120363424978312590@g.us","Mensagem":"={{ $('Code in JavaScript3').first().json.mensagemWhatsapp }}","Preview de Link":false},"matchingColumns":[],"schema":[{"id":"Destinatário","displayName":"Destinatário","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Delay","displayName":"Delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"Preview de Link","displayName":"Preview de Link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"Responder Mensagem - ID da Mensagem","displayName":"Responder Mensagem - ID da Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"Mencionar Todos","displayName":"Mencionar Todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":true},{"id":"Números para mencionar","displayName":"Números para mencionar","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[30784,22352],"id":"1c99c2ee-988d-46c3-b5c6-bfe41fece4a4","name":"mensagem via whatsapp"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"2EG6RLAStBK4tQu4","mode":"list","cachedResultName":"monitoramento monday","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/2EG6RLAStBK4tQu4"},"filters":{"conditions":[{"keyValue":"={{ $('Code in JavaScript3').item.json.id_datatable }}"},{}]},"columns":{"mappingMode":"defineBelow","value":{"notificado":true,"ultima_notificacao":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"pulseID","displayName":"pulseID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"boardID","displayName":"boardID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"lastupdate","displayName":"lastupdate","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"notificado","displayName":"notificado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ultima_notificacao","displayName":"ultima_notificacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30960,22352],"id":"d39e7256-8236-43dd-8f98-0e2836a83149","name":"Update row(s)"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8},{"triggerAtHour":13},{"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[25984,21952],"id":"3018d6c3-36ec-4575-aefa-3e23cf5c76a8","name":"Schedule Trigger"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"2EG6RLAStBK4tQu4","mode":"list","cachedResultName":"monitoramento monday","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/2EG6RLAStBK4tQu4"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[26624,21968],"id":"7c3d9162-b544-4d48-9800-dd1ff3f0ad85","name":"Get row(s)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[27216,21968],"id":"c85655c8-f36a-45d3-8c93-bf294f6396aa","name":"Loop Over Items"},{"parameters":{"jsCode":"// Nó 3 — Pré-triagem: filtra itens inativos há mais de 24h ÚTEIS\n// Finais de semana NÃO contam para horas/dias de inatividade\n// + proteção contra lastupdate inválido (NaN)\n// + proteção contra renotificação nas últimas 24h úteis\n// + proteção contra execução duplicada no mesmo dia\n// + deduplicação por pulseID\n\nconst HORAS_INATIVIDADE = 24;\nconst agora = new Date();\n\n// ============================================================\n// FUNÇÃO: Calcular horas úteis entre duas datas\n// Conta apenas horas de segunda a sexta\n// ============================================================\nfunction calcularHorasUteis(inicio, fim) {\n  if (inicio >= fim) return 0;\n\n  let horasUteis = 0;\n  const cursor = new Date(inicio);\n\n  // Avança hora a hora (otimizado: pula dias inteiros de fim de semana)\n  while (cursor < fim) {\n    const diaSemana = cursor.getDay(); // 0=Dom, 6=Sáb\n\n    if (diaSemana === 0) {\n      // Domingo → pula para segunda 00:00\n      cursor.setDate(cursor.getDate() + 1);\n      cursor.setHours(0, 0, 0, 0);\n      continue;\n    }\n    if (diaSemana === 6) {\n      // Sábado → pula para segunda 00:00\n      cursor.setDate(cursor.getDate() + 2);\n      cursor.setHours(0, 0, 0, 0);\n      continue;\n    }\n\n    // Dia útil — calcula horas restantes até o fim do dia ou até 'fim'\n    const fimDoDia = new Date(cursor);\n    fimDoDia.setDate(fimDoDia.getDate() + 1);\n    fimDoDia.setHours(0, 0, 0, 0);\n\n    const limiteCalc = fim < fimDoDia ? fim : fimDoDia;\n    const diffMs = limiteCalc.getTime() - cursor.getTime();\n    horasUteis += diffMs / (1000 * 60 * 60);\n\n    cursor.setTime(fimDoDia.getTime());\n  }\n\n  return horasUteis;\n}\n\nfunction calcularDiasUteis(inicio, fim) {\n  if (inicio >= fim) return 0;\n\n  let dias = 0;\n  const cursor = new Date(inicio);\n  cursor.setHours(0, 0, 0, 0);\n\n  const fimDia = new Date(fim);\n  fimDia.setHours(0, 0, 0, 0);\n\n  while (cursor <= fimDia) {\n    const diaSemana = cursor.getDay();\n    if (diaSemana !== 0 && diaSemana !== 6) {\n      dias++;\n    }\n    cursor.setDate(cursor.getDate() + 1);\n  }\n\n  // Se inicio e fim são no mesmo dia, conta como parte de 1 dia\n  return Math.max(dias - 1, 0);\n}\n\nconst limiteHorasUteis = HORAS_INATIVIDADE;\nconst itensParaAnalisar = [];\nconst pulseIDsVistos = new Set();\n\nfor (const item of $input.all()) {\n  const pid = String(item.json.pulseID);\n\n  // DEDUP: se já processamos esse pulseID nesta execução, pula\n  if (pulseIDsVistos.has(pid)) continue;\n  pulseIDsVistos.add(pid);\n\n  // PROTEÇÃO NaN: se lastupdate for inválido, pula o item\n  const lastUpdate = new Date(item.json.lastupdate);\n  if (isNaN(lastUpdate.getTime())) {\n    continue;\n  }\n\n  // Calcula horas e dias ÚTEIS (sem contar fins de semana)\n  const horasUteisInativo = calcularHorasUteis(lastUpdate, agora);\n  const diasUteisInativo = calcularDiasUteis(lastUpdate, agora);\n\n  // Descarta itens que ainda não passaram 24h úteis sem atualização\n  if (horasUteisInativo < limiteHorasUteis) continue;\n\n  // PROTEÇÃO DUPLA contra renotificação:\n  const foiNotificado = item.json.notificado === true || item.json.notificado === 'true';\n\n  if (foiNotificado && item.json.ultima_notificacao) {\n    const ultimaNotificacao = new Date(item.json.ultima_notificacao);\n\n    if (!isNaN(ultimaNotificacao.getTime())) {\n      // Calcula horas úteis desde última notificação\n      const horasUteisDesdeNotificacao = calcularHorasUteis(ultimaNotificacao, agora);\n\n      // Check 1: Se a última cobrança foi há menos de 24h úteis, pula\n      if (horasUteisDesdeNotificacao < limiteHorasUteis) {\n        continue;\n      }\n\n      // Check 2: Se já foi cobrado HOJE (mesmo dia), pula\n      const mesmoAno = ultimaNotificacao.getFullYear() === agora.getFullYear();\n      const mesmoMes = ultimaNotificacao.getMonth()    === agora.getMonth();\n      const mesmoDia = ultimaNotificacao.getDate()     === agora.getDate();\n\n      if (mesmoAno && mesmoMes && mesmoDia) {\n        continue;\n      }\n    }\n  }\n\n  itensParaAnalisar.push({\n    json: {\n      pulseID:            item.json.pulseID,\n      boardID:            item.json.boardID,\n      lastupdate:         item.json.lastupdate,\n      notificado:         item.json.notificado,\n      ultima_notificacao: item.json.ultima_notificacao,\n      horas_inativo:      Math.round(horasUteisInativo),\n      dias_inativo:       diasUteisInativo,\n      id_datatable:       item.json.id\n    }\n  });\n}\n\nreturn itensParaAnalisar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[26832,21968],"id":"b9f7f57e-3fd9-41f7-9372-455412838fdc","name":"Code Node - Pré-triagem"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"query { users(limit: 500) { id name email teams { id name } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[26416,21968],"id":"231868f0-9b84-4be6-bcd6-53b4253739d0","name":"HTTP Request1","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4ccc30ff-5fd5-471c-8a6d-cdd3645fa95c","leftValue":"={{ $json['Day of week'] }}","rightValue":"Sunday","operator":{"type":"string","operation":"equals"}},{"id":"dc6c19c9-f26e-4634-9c40-898a5e0599ad","leftValue":"={{ $json['Day of week'] }}","rightValue":"Saturday","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[26192,21952],"id":"f0afe845-7141-460c-a7c0-ed4aec605057","name":"é fim de semana?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"86315324-a950-4319-8ccc-8166b3b5f49f","leftValue":"={{ $json.data.items }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}},{"id":"23ddad6f-b394-4b6c-b6d5-c38c7cde0a9d","leftValue":"={{ $json.data.items[0].column_values[4].text }}","rightValue":"FINALIZADA","operator":{"type":"string","operation":"equals"}},{"id":"tuca-self-cobranca","leftValue":"={{ $json.data.items[0]?.column_values?.find(c => c.id === \"pessoas_mkkdd33s\")?.text?.toLowerCase() || \"\" }}","rightValue":"tuca","operator":{"type":"string","operation":"contains"}},{"id":"tapajos-self-cobranca","leftValue":"={{ $json.data.items[0]?.column_values?.find(c => c.id === \"pessoas_mkkdd33s\")?.text?.toLowerCase() || \"\" }}","rightValue":"tapaj","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[27904,22096],"id":"68e3df8a-e6e9-456b-a42b-8eb22b557ed6","name":"If"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"2EG6RLAStBK4tQu4","mode":"list","cachedResultName":"monitoramento monday","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/2EG6RLAStBK4tQu4"},"filters":{"conditions":[{"keyName":"pulseID","keyValue":"={{ $('Code Node - Pré-triagem').item.json.pulseID }}"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[28272,22080],"id":"7abfcf3b-a93d-4b63-a9ab-a7e725a6d362","name":"Delete row(s)","executeOnce":false,"alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query { items(ids: [{{ $json.pulseID }}]) { id name updates(limit: 15) { id text_body created_at creator { id name } replies { id text_body created_at creator { id name } } } column_values(ids: [\\\"person6\\\", \\\"pessoas_mkkdd33s\\\", \\\"dropdown_mkkdndgn\\\", \\\"sele__o_m_ltipla_mkkd31pa\\\", \\\"status_mkkd4hrz\\\"]) { id text value } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[27536,22096],"id":"5f51da41-deb2-4152-8a7b-197040e5605b","name":"HTTP Request - Monday GraphQL","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[28192,22368],"id":"ddf00986-8296-4ebd-86bb-ecc2f3b8cf5b","name":"Message a model","credentials":{"anthropicApi":{"id":"t2Qy4cBTMN8almyL","name":"Anthropic account 2"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Nó 9 — Parse Resposta IA\nconst iaResponse = $('Message a model').item.json;\nconst dadosOriginais = $('Code Node - Montar Prompt').item.json;\n\nlet responseText = '';\nif (iaResponse.message) {\n  responseText = iaResponse.message;\n} else if (iaResponse.content && Array.isArray(iaResponse.content)) {\n  responseText = iaResponse.content[0].text;\n} else if (iaResponse.text) {\n  responseText = iaResponse.text;\n} else {\n  responseText = JSON.stringify(iaResponse);\n}\n\nlet analise;\ntry {\n  const clean = responseText.replace(/```json|```/g, '').trim();\n  analise = JSON.parse(clean);\n} catch (e) {\n  return [{\n    json: {\n      ...dadosOriginais,\n      deve_notificar: false,\n      erro_parse: true,\n      resposta_raw: responseText\n    }\n  }];\n}\n\nconst userMap = dadosOriginais.userMap || {};\n\nconst gerarMencaoHTML = (userId) => {\n  let nome = null;\n  for (const [key, val] of Object.entries(userMap)) {\n    if (Number(val) === Number(userId)) {\n      nome = key;\n      break;\n    }\n  }\n  if (!nome) return '';\n  const nomeFormatado = nome.toLowerCase().replace(/\\s+/g, '-');\n  return `<a class=\"user_mention_editor router\" href=\"https://contato-serv.monday.com/users/${userId}-${nomeFormatado}\" data-mention-type=\"User\" data-mention-id=\"${userId}\" target=\"_blank\" rel=\"noopener noreferrer\">@${nome}</a>`;\n};\n\n// IDs de quem DEVE (cobrados)\nconst todosIdsDevedores = [];\nif (analise.user_id_quem_deve) {\n  todosIdsDevedores.push(Number(analise.user_id_quem_deve));\n}\nif (analise.user_ids_adicionais && Array.isArray(analise.user_ids_adicionais)) {\n  analise.user_ids_adicionais.forEach(id => {\n    if (id && !todosIdsDevedores.includes(Number(id))) {\n      todosIdsDevedores.push(Number(id));\n    }\n  });\n}\n\n// IDs do PSC (ciência) — garante que não repete devedores\nconst todosIdsPSC = [];\nif (analise.user_ids_psc && Array.isArray(analise.user_ids_psc)) {\n  analise.user_ids_psc.forEach(id => {\n    const numId = Number(id);\n    if (numId && !todosIdsDevedores.includes(numId) && !todosIdsPSC.includes(numId)) {\n      todosIdsPSC.push(numId);\n    }\n  });\n}\n\n// Menções HTML dos devedores\nconst mencoesDevedoresHTML = todosIdsDevedores\n  .map(id => gerarMencaoHTML(id))\n  .filter(m => m !== '')\n  .join(' ');\n\n// Menções HTML do PSC\nconst mencoesPSCHTML = todosIdsPSC\n  .map(id => gerarMencaoHTML(id))\n  .filter(m => m !== '')\n  .join(' ');\n\n// Converter markdown residual para HTML\nconst converterMarkdown = (texto) => {\n  return String(texto || '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<b>$1</b>')\n    .replace(/\\*(.+?)\\*/g, '<i>$1</i>');\n};\n\n// Limpar corpo de texto:\n// 1. Remove @mentions falsas (a IA escreve @Nome mas isso não marca ninguém no Monday)\n// 2. Remove qualquer linha \"PSC:\" que a IA tenha colocado no corpo\n//    (o PSC real é montado abaixo com HTML de menção funcional)\nconst limparCorpo = (texto) => {\n  let limpo = String(texto || '');\n  // Remove @mentions (mantém só o nome sem @)\n  limpo = limpo.replace(/@([A-ZÀ-Ü][a-zà-ü]+(?:\\s+[A-ZÀ-Ü][a-zà-ü]+)*)/g, '$1');\n  // Remove linhas que começam com \"PSC:\" ou \"PSC :\" (a IA às vezes duplica)\n  limpo = limpo.replace(/\\n?\\s*PSC\\s*:.*$/gim, '');\n  return limpo.trim();\n};\n\n// Montar mensagem completa: menções HTML + corpo limpo + seção PSC (se houver)\nlet mensagemMonday = '';\nif (analise.deve_notificar) {\n  const cabecalho = `<p>${mencoesDevedoresHTML}</p>`;\n  const corpoLimpo = limparCorpo(analise.mensagem_monday);\n  const corpo = `<p>${converterMarkdown(corpoLimpo)}</p>`;\n  const psc = mencoesPSCHTML\n    ? `<p>PSC: ${mencoesPSCHTML}</p>`\n    : '';\n  mensagemMonday = cabecalho + corpo + psc;\n}\n\nconst linkDemanda = `https://contato-serv.monday.com/boards/${dadosOriginais.boardID}/pulses/${dadosOriginais.pulseID}`;\n\nreturn [{\n  json: {\n    deve_notificar: analise.deve_notificar,\n    motivo: analise.motivo,\n    quem_deve: analise.quem_deve,\n    nome_quem_deve: analise.nome_quem_deve,\n    user_id_quem_deve: analise.user_id_quem_deve,\n    user_ids_adicionais: analise.user_ids_adicionais || [],\n    user_ids_psc: todosIdsPSC,\n    urgencia: analise.urgencia,\n    prazo_detectado: analise.prazo_detectado,\n    prazo_vencido: analise.prazo_vencido,\n    mensagem_monday_html: mensagemMonday,\n    mensagem_monday: analise.mensagem_monday,\n    mensagem_whatsapp: analise.mensagem_whatsapp,\n    resumo_demanda: analise.resumo_demanda || '',\n    setores_envolvidos: analise.setores_envolvidos,\n    pulseID: dadosOriginais.pulseID,\n    boardID: dadosOriginais.boardID,\n    itemName: dadosOriginais.itemName,\n    itemId: dadosOriginais.itemId,\n    setorDemandante: dadosOriginais.setorDemandante,\n    setorDemandado: dadosOriginais.setorDemandado,\n    horas_inativo: dadosOriginais.horas_inativo,\n    dias_inativo: dadosOriginais.dias_inativo,\n    id_datatable: dadosOriginais.id_datatable,\n    linkDemanda: linkDemanda,\n    updates: dadosOriginais.updates,\n    userMap: dadosOriginais.userMap,\n    ultimoUpdateId: dadosOriginais.ultimoUpdateId,\n    nivel_escalonamento: dadosOriginais.nivel_escalonamento,\n    remetente_nome: dadosOriginais.remetente_nome,\n    remetente_cargo: dadosOriginais.remetente_cargo,\n    setor_demandado_alvo: dadosOriginais.setor_demandado_alvo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[28544,22352],"id":"600d281a-082e-4c37-812c-33f6e10c8601","name":"Code in JavaScript"},{"parameters":{"jsCode":"// Nó 7 — Montar Prompt para análise da IA\n// VERSÃO 6 — Detecção robusta de prazos estendidos\n\nconst itemData = $('HTTP Request - Monday GraphQL').item.json;\nconst preTriagem = $('Code Node - Pré-triagem').item.json;\n\nconst item = itemData.data.items[0];\n\nconst getColumn = (id) => {\n  const col = item.column_values.find(c => c.id === id);\n  return col ? { text: col.text || '', value: col.value || '' } : { text: '', value: '' };\n};\n\nconst demandante      = getColumn('person6');\nconst demandado       = getColumn('pessoas_mkkdd33s');\nconst setorDemandante = getColumn('dropdown_mkkdndgn');\nconst setorDemandado  = getColumn('sele__o_m_ltipla_mkkd31pa');\nconst status          = getColumn('status_mkkd4hrz');\n\nconst parsePersonIds = (coluna) => {\n  try {\n    const parsed = JSON.parse(coluna.value);\n    if (parsed.personsAndTeams) {\n      return parsed.personsAndTeams\n        .filter(p => p.kind === 'person')\n        .map(p => p.id);\n    }\n    return [];\n  } catch (e) {\n    return [];\n  }\n};\n\nconst demandanteIds = parsePersonIds(demandante);\nconst demandadoIds  = parsePersonIds(demandado);\n\n// ==========================================\n// CONSTRUÇÃO DO userMap COM SETOR (TEAMS)\n// ==========================================\nconst usersData = $('HTTP Request1').first().json;\nconst userMap   = {};\nconst setorMap  = {};\n\nif (usersData.data && usersData.data.users) {\n  usersData.data.users.forEach(u => {\n    const id = Number(u.id);\n    userMap[u.name] = id;\n    if (u.teams && u.teams.length > 0) {\n      setorMap[id] = u.teams.map(t => t.name).join(', ');\n    }\n  });\n}\n\nitem.updates.forEach(u => {\n  if (u.creator?.id && u.creator?.name) {\n    userMap[u.creator.name] = Number(u.creator.id);\n  }\n  if (u.replies) {\n    u.replies.forEach(r => {\n      if (r.creator?.id && r.creator?.name) {\n        userMap[r.creator.name] = Number(r.creator.id);\n      }\n    });\n  }\n});\n\n// ==========================================\n// HISTÓRICO DE MENSAGENS\n// ==========================================\nconst todasMensagens = [];\n\nitem.updates.forEach(u => {\n  todasMensagens.push({\n    autor:   u.creator.name,\n    autorId: u.creator.id,\n    data:    u.created_at,\n    texto:   u.text_body,\n    tipo:    'atualização'\n  });\n\n  if (u.replies?.length > 0) {\n    u.replies.forEach(r => {\n      todasMensagens.push({\n        autor:   r.creator.name,\n        autorId: r.creator.id,\n        data:    r.created_at,\n        texto:   r.text_body,\n        tipo:    'resposta'\n      });\n    });\n  }\n});\n\ntodasMensagens.sort((a, b) => new Date(a.data) - new Date(b.data));\n\nconst ultimoUpdateId = item.updates?.length > 0 ? item.updates[0].id : null;\n\nconst updates = todasMensagens.map((m, i) =>\n  `[Mensagem ${i + 1} de ${todasMensagens.length}] Autor: ${m.autor} (ID: ${m.autorId}) | Data: ${m.data}\\nMensagem: ${m.texto}`\n).join('\\n\\n');\n\nconst agora        = new Date().toISOString();\nconst horas_inativo = preTriagem.horas_inativo;\n\n// ==========================================\n// 14 SETORES + LÍDERES\n// ==========================================\nconst mapaLideres = {\n  'DP':            'Odney',\n  'Financeiro':    'Ariana',\n  'RH':            'Rainer',\n  'TI':            'Rayro',\n  'Marketing':     'Aleane',\n  'Sesmt':         'Jessica',\n  'Compras':       'Vinicius',\n  'Contabilidade': 'Karine',\n  'Operacional':   'Karlla',\n  'AIONS':         'Karen Vasconcelos',\n  'Comercial':     'Dr. João',\n  'Contratos':     'Jeferson',\n  'Fiscal':        'Karine',\n  'Estoque':       'Ernandes',\n};\n\nconst NOME_DR_JOAO = 'Dr. João';\nconst NOME_TUCA    = 'Tuca';\n\n// ==========================================\n// MAPEAMENTO FUNCIONÁRIO → SETOR (fallback quando coluna está vazia)\n// ==========================================\nconst funcionarioSetor = {\n  'adelia henrique gomes': 'Estoque',\n  'sebastiao lopes da silva': 'Estoque',\n  'william da costa silva': 'Estoque',\n  'felipe goes batista': 'Estoque',\n  'adson carvalho plinio': 'Estoque',\n  'altemar dutra de souza ribeiro': 'Estoque',\n  'ernandes moura barbosa': 'Estoque',\n  'franciane oliveira da silva': 'DP',\n  'adria victoria noronha rocha': 'DP',\n  'jackson miranda de lira': 'DP',\n  'john williams costa silva': 'DP',\n  'thifany castro de souza': 'DP',\n  'eliza gabriely sousa dos santos': 'DP',\n  'odney da costa silva': 'DP',\n  'jeane almeida mathias mendes': 'Financeiro',\n  'douglas brito pinto': 'Financeiro',\n  'geynna alice alves campos': 'Financeiro',\n  'ariana souza marinho': 'Financeiro',\n  'mariana tayna da silva pinela': 'RH',\n  'rainer vicuna araujo pires': 'RH',\n  'gisele sousa da costa': 'RH',\n  'rayro wendel alves tomaz': 'TI',\n  'nicolas da costa nobre antunes': 'TI',\n  'aleane neves das chagas': 'Marketing',\n  'jessica jamile de oliveira frazao': 'Sesmt',\n  'hadassah kathryn peres vinente': 'Sesmt',\n  'robson nunes lima': 'Sesmt',\n  'emilly lopes da silva': 'Sesmt',\n  'ernanda marques de melo': 'Compras',\n  'mikaela luiza goncalves braz': 'Compras',\n  'julia barbara de almeida carvalho': 'Compras',\n  'vinicius paulino do nascimento': 'Compras',\n  'luiza manuelle de melo mustafa': 'Contabilidade',\n  'karine romaskevis de oliveira': 'Operacional',\n  'estefany beatriz mota da silva': 'Operacional',\n  'loyse cristina da silva e silva': 'Operacional',\n  'thiago albuquerque da silva': 'Operacional',\n  'thiago sarkis calixto': 'Operacional',\n  'mikaela trindade da silva': 'Operacional',\n  'evandro edipo de carlos lima da rocha': 'Operacional',\n  'ligia ribeiro regis': 'Operacional',\n  'julia melara pereira': 'Operacional',\n  'kamilly da silva ferreira': 'Operacional',\n  'thallison gomes de souza': 'Operacional',\n  'maria eduarda simoes da silva': 'Operacional',\n  'gabrielly nunes lima': 'Operacional',\n  'ednaldo da silva cruz': 'Operacional',\n  'karlla karolinne salles assis': 'Operacional',\n  'mikhael victor medeiros da silva': 'AIONS',\n  'karen mayara vasconcelos da silva': 'AIONS',\n  'bianca batista da costa': 'Comercial',\n  'ricardson silva galvao': 'Comercial',\n  'lara mariella ferreira cavalcante': 'Comercial',\n  'alan victor da silva ferreira': 'Comercial',\n  'anderson lamartine da silva almeida': 'Comercial',\n  'jeferson carlos cavalcante malcher': 'Contratos',\n  'francisco igor de sousa moura': 'Contratos',\n  'karine batista de oliveira': 'Fiscal',\n  'rebeca silva de oliveira': 'Operacional',\n  'carlos artur tapajos cavalcanti': 'Comercial',\n  'joao lucas vieira': 'Comercial',\n};\n\n// ==========================================\n// RESOLVER SETOR DO DEVEDOR\n// ==========================================\n// PRIORIDADE: setor da PESSOA (devedor) tem precedência sobre setor da demanda\nlet setorAlvo = '';\nconst nomeDevedor = (demandado.text || '').toLowerCase().trim();\n\nif (nomeDevedor) {\n  for (const [nomeFuncionario, setor] of Object.entries(funcionarioSetor)) {\n    const nf = nomeFuncionario.toLowerCase();\n    if (nomeDevedor === nf) { setorAlvo = setor; break; }\n    if (nomeDevedor.length >= 4 && (nomeDevedor.includes(nf) || nf.includes(nomeDevedor))) {\n      setorAlvo = setor;\n      break;\n    }\n  }\n}\n\n// Fallback: usar o setor da demanda apenas se não achou pelo nome do devedor\nif (!setorAlvo) {\n  setorAlvo = (setorDemandado.text || '').trim();\n}\n\nconst nomeLider = mapaLideres[setorAlvo] || NOME_TUCA;\n\n// ==========================================\n// ESCALONAMENTO INTELIGENTE — QUEM ENVIA\n// ==========================================\nconst nomesLideres = Object.values(mapaLideres)\n  .filter(n => n !== NOME_DR_JOAO)\n  .map(n => n.toLowerCase().trim());\n\nconst nomeDevedorTexto = (demandado.text || '').toLowerCase().trim();\n\nconst devedorEhDrJoao  = nomeDevedorTexto.includes('joão') && nomeDevedorTexto.includes('dr');\nconst devedorEhLider   = !devedorEhDrJoao && nomesLideres.some(nl => nomeDevedorTexto.includes(nl));\nconst setorEhComercial = setorAlvo === 'Comercial';\n\nlet nivelEscalonamento = 1;\nlet remetenteNome      = nomeLider;\nlet remetenteCargo     = `Líder do Setor (${setorAlvo})`;\n\nif (devedorEhDrJoao) {\n  nivelEscalonamento = 3;\n  remetenteNome  = NOME_TUCA;\n  remetenteCargo = 'CEO';\n} else if (devedorEhLider) {\n  if (horas_inativo >= 48) {\n    nivelEscalonamento = 3;\n    remetenteNome  = NOME_TUCA;\n    remetenteCargo = 'CEO';\n  } else {\n    nivelEscalonamento = 2;\n    remetenteNome  = NOME_DR_JOAO;\n    remetenteCargo = 'COO';\n  }\n} else if (setorEhComercial) {\n  if (horas_inativo >= 48) {\n    nivelEscalonamento = 3;\n    remetenteNome  = NOME_TUCA;\n    remetenteCargo = 'CEO';\n  } else {\n    nivelEscalonamento = 1;\n    remetenteNome  = NOME_DR_JOAO;\n    remetenteCargo = 'Líder do Setor (Comercial)';\n  }\n} else {\n  if (horas_inativo >= 72) {\n    nivelEscalonamento = 3;\n    remetenteNome  = NOME_TUCA;\n    remetenteCargo = 'CEO';\n  } else if (horas_inativo >= 48) {\n    nivelEscalonamento = 2;\n    remetenteNome  = NOME_DR_JOAO;\n    remetenteCargo = 'COO';\n  } else {\n    nivelEscalonamento = 1;\n    remetenteNome  = nomeLider;\n    remetenteCargo = `Líder do Setor (${setorAlvo})`;\n  }\n}\n\n// ==========================================\n// ENRIQUECIMENTO DO CONTEXTO — SETORES\n// ==========================================\nconst descreverPessoas = (ids) => ids.map(id => {\n  const nome  = Object.entries(userMap).find(([, v]) => v === Number(id))?.[0] || 'Desconhecido';\n  const setor = setorMap[Number(id)] || 'setor não identificado';\n  return `${nome} (ID: ${id}, setor: ${setor})`;\n}).join(', ');\n\nconst demandadosDetalhado  = descreverPessoas(demandadoIds);\nconst demandantesDetalhado = descreverPessoas(demandanteIds);\n\n// ==========================================\n// MONTAGEM DO PROMPT\n// ==========================================\n// Reduzir userMap: só inclui usuários mencionados nas mensagens + demandantes/demandados\nconst idsRelevantes = new Set();\ndemandanteIds.forEach(id => idsRelevantes.add(Number(id)));\ndemandadoIds.forEach(id => idsRelevantes.add(Number(id)));\ntodasMensagens.forEach(m => idsRelevantes.add(Number(m.autorId)));\nconst userMapEnxuto = {};\nfor (const [nome, id] of Object.entries(userMap)) {\n  if (idsRelevantes.has(Number(id))) userMapEnxuto[nome] = id;\n}\n\nconst prompt = `Analise demanda corporativa. Responda só JSON válido.\n\nDADOS:\n- Item: ${item.name} (id ${item.id}, status ${status.text})\n- Inativa há: ${horas_inativo}h / ${preTriagem.dias_inativo}d úteis\n- Demandante: ${demandantesDetalhado}\n- Demandado: ${demandadosDetalhado}\n- Setor demandante: ${setorDemandante.text}\n- Setor demandado: ${setorDemandado.text || setorAlvo}\n- Agora: ${agora}\n- Remetente da cobrança: ${remetenteNome} (${remetenteCargo})\n\nUSUÁRIOS (nome→id):\n${JSON.stringify(userMapEnxuto)}\n\nMENSAGENS (cronológicas, última = mais recente):\n${updates || '(nenhuma)'}\n\nREGRAS:\n1. PRAZO: Se mensagens mencionam prazo (data, \"amanhã\", \"semana que vem\", \"até X\"), calcule a data baseada na DATA DA MENSAGEM. Se prazo é hoje ou futuro → deve_notificar=false, prazo_vencido=false. Só notifica se prazo é estritamente anterior a hoje.\n2. QUEM DEVE: Quem recebeu a última cobrança e não respondeu. Não confunda com quem cobrou.\n3. URGÊNCIA por horas_inativo: ≤48h=\"baixa\", 49-120h=\"media\", >120h=\"alta\".\n4. user_id_quem_deve: ID exato do mapa. Se não achar, use -1.\n5. Se quem_deve=\"ambos\": principal em user_id_quem_deve, demais em user_ids_adicionais.\n6. PSC: setor oposto/líderes (não duplicar quem já é cobrado).\n7. Mensagem em nome de ${remetenteNome}, profissional, HTML <b></b>, sem emojis nem markdown nem @nome.\n\nJSON:\n{\"deve_notificar\":bool,\"motivo\":\"breve\",\"quem_deve\":\"demandante|demandado|ambos\",\"nome_quem_deve\":\"\",\"user_id_quem_deve\":0,\"user_ids_adicionais\":[],\"user_ids_psc\":[],\"urgencia\":\"baixa|media|alta\",\"prazo_detectado\":\"data ou null\",\"prazo_vencido\":true|false|null,\"mensagem_monday\":\"\",\"mensagem_whatsapp\":\"\",\"resumo_demanda\":\"1-2 frases sobre o tema\",\"setores_envolvidos\":[]}`;\n\nreturn [{\n  json: {\n    prompt,\n    pulseID:             preTriagem.pulseID,\n    boardID:             preTriagem.boardID,\n    itemName:            item.name,\n    itemId:              item.id,\n    demandante,\n    demandado,\n    demandanteIds,\n    demandadoIds,\n    setorDemandante:     setorDemandante.text,\n    setorDemandado:      setorDemandado.text || setorAlvo,\n    horas_inativo:       preTriagem.horas_inativo,\n    dias_inativo:        preTriagem.dias_inativo,\n    id_datatable:        preTriagem.id_datatable,\n    updates:             item.updates,\n    userMap,\n    setorMap,\n    ultimoUpdateId,\n    nivel_escalonamento: nivelEscalonamento,\n    remetente_nome:      remetenteNome,\n    remetente_cargo:     remetenteCargo,\n    setor_demandado_alvo: setorAlvo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[27904,22368],"id":"ec154d6d-a688-41f4-9f4c-a75d5a2a1d27","name":"Code Node - Montar Prompt"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4509bc10-6441-4350-afdc-11d69e4f253a","leftValue":"={{ $json.deve_notificar }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[28896,22352],"id":"3944390b-2c9d-41e6-afb2-3d1779874190","name":"If1"},{"parameters":{"jsCode":"// Nó 10.1 — Preparar mutations prontas para Monday + lista de notificações\nconst dados = $input.item.json;\n\n// IDs dos devedores (cobrados)\nconst userIds = [];\nif (dados.user_id_quem_deve) {\n  userIds.push(Number(dados.user_id_quem_deve));\n}\nif (dados.user_ids_adicionais && Array.isArray(dados.user_ids_adicionais)) {\n  dados.user_ids_adicionais.forEach(id => {\n    const numId = Number(id);\n    if (numId && !userIds.includes(numId)) {\n      userIds.push(numId);\n    }\n  });\n}\n\n// IDs do PSC (ciência)\nconst userIdsPSC = [];\nif (dados.user_ids_psc && Array.isArray(dados.user_ids_psc)) {\n  dados.user_ids_psc.forEach(id => {\n    const numId = Number(id);\n    if (numId && !userIds.includes(numId) && !userIdsPSC.includes(numId)) {\n      userIdsPSC.push(numId);\n    }\n  });\n}\n\nconst escapeGraphQL = (str) => {\n  return str\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\\r/g, '');\n};\n\nconst bodyEscapado = escapeGraphQL(dados.mensagem_monday_html);\nconst ultimoUpdateId = dados.ultimoUpdateId || null;\n\n// Mutation do create_update (reply)\nlet mutationUpdate;\nif (ultimoUpdateId) {\n  mutationUpdate = {\n    query: `mutation { create_update(item_id: ${dados.pulseID}, parent_id: ${ultimoUpdateId}, body: \"${bodyEscapado}\") { id } }`\n  };\n} else {\n  mutationUpdate = {\n    query: `mutation { create_update(item_id: ${dados.pulseID}, body: \"${bodyEscapado}\") { id } }`\n  };\n}\n\n// Texto da notificação de cobrança\nconst textoCobranca = escapeGraphQL(\n  dados.mensagem_monday || 'Você possui uma demanda pendente de atualização. Favor verificar.'\n);\n\n// Texto da notificação de ciência (PSC)\nconst textoCiencia = escapeGraphQL(\n  `[CIÊNCIA] A demanda \"${dados.itemName}\" recebeu uma cobrança automática. Você foi incluído para acompanhamento.`\n);\n\n// Notificações dos devedores (cobrança)\nconst notificacoesCobranca = userIds.map(userId => ({\n  query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"${textoCobranca}\", target_type: Project) { text } }`\n}));\n\n// Notificações do PSC (ciência)\nconst notificacoesPSC = userIdsPSC.map(userId => ({\n  query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"${textoCiencia}\", target_type: Project) { text } }`\n}));\n\n// Unir todas as notificações: devedores primeiro, PSC depois\nconst notificacoes = [...notificacoesCobranca, ...notificacoesPSC];\n\nreturn [{\n  json: {\n    ...dados,\n    nivel_escalonamento: dados.nivel_escalonamento,\n    token_remetente: dados.token_remetente,\n    todos_user_ids: userIds,\n    todos_user_ids_psc: userIdsPSC,\n    total_notificacoes: notificacoes.length,\n    ultimo_update_id: ultimoUpdateId,\n    mutation_update: mutationUpdate,\n    notificacoes: notificacoes\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[29104,22336],"id":"4045c980-528c-4d08-9d69-efe724e47e9b","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.token_remetente }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.mutation_update }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[29328,22336],"id":"9efa6e61-f4df-4328-b38d-cd63240fd951","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"// Nó 12 — Preparar notificações (sino) como itens separados\nconst dados = $('Code in JavaScript1').item.json;\n\nconst todosIds = [...(dados.todos_user_ids || [])];\nconst todosPSC = [...(dados.todos_user_ids_psc || [])];\n\nconst output = [];\n\n// Notificações de cobrança (devedores)\ntodosIds.forEach(userId => {\n  output.push({\n    json: {\n      notification_mutation: {\n        query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"Você possui uma demanda pendente de atualização. Favor verificar no Monday.\", target_type: Project) { text } }`\n      },\n      userId,\n      tipo_notificacao: 'cobranca',\n      token_remetente: dados.token_remetente, // Variável repassada para o HTTP Request2\n      nivel_escalonamento: dados.nivel_escalonamento,\n      remetente_nome: dados.remetente_nome,\n      resumo_demanda: dados.resumo_demanda || '',\n      pulseID: dados.pulseID,\n      boardID: dados.boardID,\n      itemName: dados.itemName,\n      mensagem_whatsapp: dados.mensagem_whatsapp,\n      setores_envolvidos: dados.setores_envolvidos,\n      linkDemanda: dados.linkDemanda,\n      nome_quem_deve: dados.nome_quem_deve,\n      urgencia: dados.urgencia,\n      horas_inativo: dados.horas_inativo,\n      dias_inativo: dados.dias_inativo,\n      id_datatable: dados.id_datatable,\n      motivo: dados.motivo,\n      setorDemandante: dados.setorDemandante,\n      setorDemandado: dados.setorDemandado\n    }\n  });\n});\n\n// Notificações de ciência (PSC)\ntodosPSC.forEach(userId => {\n  const nomeItem = (dados.itemName || '').replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n  output.push({\n    json: {\n      notification_mutation: {\n        query: `mutation { create_notification(user_id: ${userId}, target_id: ${dados.pulseID}, text: \"[CIÊNCIA] A demanda \\\\\"${nomeItem}\\\\\" recebeu uma cobrança automática. Você foi incluído para acompanhamento.\", target_type: Project) { text } }`\n      },\n      userId,\n      tipo_notificacao: 'ciencia',\n      token_remetente: dados.token_remetente, // Variável repassada para o HTTP Request2\n      nivel_escalonamento: dados.nivel_escalonamento,\n      remetente_nome: dados.remetente_nome,\n      resumo_demanda: dados.resumo_demanda || '',\n      pulseID: dados.pulseID,\n      boardID: dados.boardID,\n      itemName: dados.itemName,\n      mensagem_whatsapp: dados.mensagem_whatsapp,\n      setores_envolvidos: dados.setores_envolvidos,\n      linkDemanda: dados.linkDemanda,\n      nome_quem_deve: dados.nome_quem_deve,\n      urgencia: dados.urgencia,\n      horas_inativo: dados.horas_inativo,\n      dias_inativo: dados.dias_inativo,\n      id_datatable: dados.id_datatable,\n      motivo: dados.motivo,\n      setorDemandante: dados.setorDemandante,\n      setorDemandado: dados.setorDemandado\n    }\n  });\n});\n\nif (output.length === 0) {\n  return [{\n    json: {\n      notification_mutation: null,\n      tipo_notificacao: null,\n      token_remetente: dados.token_remetente, // Variável repassada para o HTTP Request2\n      nivel_escalonamento: dados.nivel_escalonamento,\n      remetente_nome: dados.remetente_nome,\n      resumo_demanda: dados.resumo_demanda || '',\n      pulseID: dados.pulseID,\n      boardID: dados.boardID,\n      itemName: dados.itemName,\n      mensagem_whatsapp: dados.mensagem_whatsapp,\n      setores_envolvidos: dados.setores_envolvidos,\n      linkDemanda: dados.linkDemanda,\n      nome_quem_deve: dados.nome_quem_deve,\n      urgencia: dados.urgencia,\n      horas_inativo: dados.horas_inativo,\n      dias_inativo: dados.dias_inativo,\n      id_datatable: dados.id_datatable,\n      motivo: dados.motivo,\n      setorDemandante: dados.setorDemandante,\n      setorDemandado: dados.setorDemandado\n    }\n  }];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[29952,22352],"id":"a0078edf-fbde-4220-b11a-fef48ad9af2c","name":"Code in JavaScript2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[28288,22592],"id":"4f811b73-282b-4d47-a762-2a3b9a223639","name":"Wait1","webhookId":"bc5a6834-76da-4b48-bacf-7a82abe087e3"},{"parameters":{"jsCode":"// Nó 9.5 — Determinar Remetente (token) com base no nível de escalonamento\n// 14 setores + tokens | Estoque e Contratos usam token Tuca | Comercial usa token Dr. João\n\nconst dados = $input.item.json;\n\n// ==========================================\n// MAPEAMENTO DE LÍDERES POR SETOR COM TOKENS\n// ==========================================\nconst mapaLideres = {\n  'DP':            { nome: 'Odney',                  token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDcxMTI0NiwiYWFpIjoxMSwidWlkIjo1MDQyOTAzMCwiaWFkIjoiMjAyNi0wNC0wMVQxOTozMjozMS4xNjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.ypy2lYhwp6dbdK2ACdSVptE7irBwyoYnf13Y_txm37A' },\n  'Financeiro':    { nome: 'Ariana',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0NzAwNjI2NiwiYWFpIjoxMSwidWlkIjo3MTUwOTMzNiwiaWFkIjoiMjAyNi0wNC0xN1QxMzo1ODowMC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.smsEhvnb0yc91nwcn2bDLeBvzdULO1BtRvixbit5zLQ' }, // TROCAR\n  'RH':            { nome: 'Rainer',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxNzYxNiwiYWFpIjoxMSwidWlkIjo2MDAwMjY0MywiaWFkIjoiMjAyNi0wMy0zMVQyMDo1NzowNC4xMTdaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.U0cRprY7mZRIQf7TaFqU6Ft9X3-EN9SITExBsLcJ2Nw' },\n  'TI':            { nome: 'Rayro',                  token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYwNDU1MjM0NSwiYWFpIjoxMSwidWlkIjo1NDE0MTk0NSwiaWFkIjoiMjAyNi0wMS0wN1QxNToyNjozNy4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.E825_7VUNkF3Wz0hj3bKp3ItTgJwnkSp3ZQajzuF63I' },\n  'Marketing':     { nome: 'Aleane',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYwNzY0Njc2MSwiYWFpIjoxMSwidWlkIjo2NDQ0MTk0MCwiaWFkIjoiMjAyNi0wMS0xNFQxODowMDoyMi4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.U3wEuDpmn4XDCwutu89KZaCAX2N0zEJ942tafKU-6no' },\n  'Sesmt':         { nome: 'Jessica',                token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxOTc0MCwiYWFpIjoxMSwidWlkIjo0NTQxNzMzMiwiaWFkIjoiMjAyNi0wMy0zMVQyMTowMjoyNi4yNzVaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.akgxNQulhvxAi7mwdNgfa5wC-haGXWJmG2iWiOVG-vI' },\n  'Compras':       { nome: 'Vinicius',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxODE5NCwiYWFpIjoxMSwidWlkIjo3NjAyMTM2MCwiaWFkIjoiMjAyNi0wMy0zMVQyMDo1ODozNi44MDVaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.TOTLf98sQf0a3YXZwd99TVFdInDjTEVNf-zEU0cgvbA' },\n  'Contabilidade': { nome: 'Karine Batista',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxODYzMCwiYWFpIjoxMSwidWlkIjo2NzE1ODYxNSwiaWFkIjoiMjAyNi0wMy0zMVQyMDo1OTo0NS44MjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.JJv19XkzZqfo2wIblrnqUibuJqfQFwZkJtsmJIPalws' }, // TROCAR\n  'Operacional':   { nome: 'Karlla',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjYwNDYyODI5OSwiYWFpIjoxMSwidWlkIjo2MDc4ODYyMiwiaWFkIjoiMjAyNi0wMS0wN1QxNzoxODo1NS4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MjMzODY4NjEsInJnbiI6InVzZTEifQ.dJs48mXAV4BYh80GtHr2GhSEBpfqMWED_xL5_WGCbxs' },\n  'AIONS':         { nome: 'Karen Vasconcelos',      token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQ0MjQ3NjE2MywiYWFpIjoxMSwidWlkIjo0NDI5NzU5NCwiaWFkIjoiMjAyNC0xMS0yOFQxNzo0NjoxNy4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.1-LvSIygROh-D_uLEMn2F-RO3mPaWWSVpITRP5P5n3w' },\n  'Comercial':     { nome: 'Dr. João',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng' }, // TROCAR\n  'Contratos':     { nome: 'Jeferson',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDcxNTAzOCwiYWFpIjoxMSwidWlkIjo3NDAyMTU4MSwiaWFkIjoiMjAyNi0wNC0wMVQxOTo0MDo0Ni43NjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.Qdq2E_WPQYvOkPIyyQpHIMlNAFBBmLnR27NoOOQBHNc' },\n  'Fiscal':        { nome: 'Karine Batista',                 token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY0MDIxODYzMCwiYWFpIjoxMSwidWlkIjo2NzE1ODYxNSwiaWFkIjoiMjAyNi0wMy0zMVQyMDo1OTo0NS44MjlaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.JJv19XkzZqfo2wIblrnqUibuJqfQFwZkJtsmJIPalws' },\n  'Estoque':       { nome: 'Ernandes',               token: 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng' }, // TROCAR\n};\n\nconst TOKEN_DR_JOAO = 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng';\nconst TOKEN_TUCA    = 'eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjQyMDQ4NjkxOCwiYWFpIjoxMSwidWlkIjozMTgyNjEyMSwiaWFkIjoiMjAyNC0xMC0wN1QxODozMDo1Ny4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTI2ODUwMDYsInJnbiI6InVzZTEifQ.OMBp40rLVAFWKcuuMHFpfsuMe80ljfInFzN5du3A_Ng';\n\n// ==========================================\n// RESOLUÇÃO DO TOKEN BASEADO NO NÍVEL\n// ==========================================\nconst nivel = dados.nivel_escalonamento || 1;\nconst setorAlvo = dados.setor_demandado_alvo || '';\n\nlet tokenRemetente;\n\nif (nivel === 3) {\n  tokenRemetente = TOKEN_TUCA;\n} else if (nivel === 2) {\n  tokenRemetente = TOKEN_DR_JOAO;\n} else {\n  // Nível 1 — usa token do líder do setor\n  const dadosLider = mapaLideres[setorAlvo];\n  tokenRemetente = dadosLider ? dadosLider.token : TOKEN_TUCA;\n}\n\nreturn [{\n  json: {\n    ...dados,\n    token_remetente: tokenRemetente\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[28736,22352],"id":"699f32e8-6286-4052-80ec-76a8f755a3bd","name":"Code Node - Determinar Remetente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d1e4805-00ad-461a-81ce-b94825beaef1","leftValue":"={{ $json.nivel_escalonamento }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[29520,22336],"id":"cee4c735-8445-4ccf-bd9b-838791b66335","name":"If - É Nível 2?"},{"parameters":{"workflowId":{"__rl":true,"value":"wt5uMJtRAMvHS5Qq","mode":"list","cachedResultUrl":"/workflow/wt5uMJtRAMvHS5Qq","cachedResultName":"Subworkflow - 2 horas sem resposta."},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[29712,22272],"id":"667f267c-f16b-4ef5-90b7-eb22c7078985","name":"esperar resposta"},{"parameters":{"content":"      ESPERAR RESPOSTA\n     (EXCLUSIVO DR JOÃO)","height":352,"color":5},"type":"n8n-nodes-base.stickyNote","position":[29648,22160],"typeVersion":1,"id":"15e23502-f563-4204-9c87-96280facf53e","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.token_remetente }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.notification_mutation }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[30160,22352],"id":"82f0fcdd-3b01-428c-8525-31232cb4d248","name":"HTTP Request2"},{"parameters":{"jsCode":"// Repassar dados da cobrança para gravar na DataTable cobranças_diarias\n// O envio individual vai para o grupo fixo (definido no node 'mensagem via whatsapp')\nconst dados = $('Code in JavaScript2').first().json;\n\nconst mensagemWhatsapp = `${dados.mensagem_whatsapp}\\n\\n🔗 Link: ${dados.linkDemanda}`;\n\nreturn [{\n  json: {\n    mensagemWhatsapp,\n    id_datatable:        dados.id_datatable,\n    pulseID:             dados.pulseID,\n    boardID:             dados.boardID,\n    itemName:            dados.itemName,\n    devedor:             dados.nome_quem_deve,\n    urgencia:            dados.urgencia,\n    dias_inativo:        String(dados.dias_inativo),\n    motivo:              dados.motivo,\n    setorDemandante:     dados.setorDemandante,\n    setorDemandado:      dados.setorDemandado,\n    linkDemanda:         dados.linkDemanda,\n    remetente_nome:      dados.remetente_nome,\n    nivel_escalonamento: dados.nivel_escalonamento,\n    resumo_demanda:      dados.resumo_demanda || '',\n    data_cobranca:       new Date().toISOString(),\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[30368,22352],"id":"e0e8be9d-6420-4c59-98f8-dc2c8433efce","name":"Code in JavaScript3"},{"parameters":{"dataTableId":{"__rl":true,"value":"cOmGR5JCvmH7MFPz","mode":"list","cachedResultName":"cobrança diaria","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/cOmGR5JCvmH7MFPz"},"columns":{"mappingMode":"defineBelow","value":{"pulseID":"={{ $json.pulseID }}","boardID":"={{ $json.boardID }}","urgencia":"={{ $json.urgencia }}","itemName":"={{ $json.itemName }}","setorDemandante":"={{ $json.setorDemandante }}","devedor":"={{ $json.devedor }}","motivo":"={{ $json.motivo }}","dias_inativo":"={{ $json.dias_inativo }}","setorDemandado":"={{ $json.setorDemandado }}","linkDemanda":"={{ $json.linkDemanda }}","mensagem_cobranca":"={{ $json.mensagemWhatsapp }}","remetente_nome":"={{ $json.remetente_nome }}","nivel_escalonamento":"={{ $json.nivel_escalonamento }}","resumo_demanda":"={{ $json.resumo_demanda }}","data_cobranca":"={{ $('Code in JavaScript3').item.json.data_cobranca }}"},"matchingColumns":[],"schema":[{"id":"pulseID","displayName":"pulseID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"boardID","displayName":"boardID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"itemName","displayName":"itemName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"devedor","displayName":"devedor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"urgencia","displayName":"urgencia","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"dias_inativo","displayName":"dias_inativo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"motivo","displayName":"motivo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"setorDemandante","displayName":"setorDemandante","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"setorDemandado","displayName":"setorDemandado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"linkDemanda","displayName":"linkDemanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"mensagem_cobranca","displayName":"mensagem_cobranca","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"remetente_nome","displayName":"remetente_nome","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nivel_escalonamento","displayName":"nivel_escalonamento","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resumo_demanda","displayName":"resumo_demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"data_cobranca","displayName":"data_cobranca","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30576,22352],"id":"c8f9d1b9-0b36-4b3f-98dd-bc0de1488a0e","name":"Insert row"},{"parameters":{"content":"ATUALIZAR BANCO DE DADOS MENSAL","height":336,"width":2288,"color":4},"type":"n8n-nodes-base.stickyNote","position":[29456,22544],"typeVersion":1,"id":"9d7ec30d-91a8-47c8-b943-b6445a1eec4f","name":"Sticky Note1"},{"parameters":{"dataTableId":{"__rl":true,"value":"bfB2hGaoM2mBgJaB","mode":"list","cachedResultName":"qtd de cobranças por demanda mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/bfB2hGaoM2mBgJaB"},"columns":{"mappingMode":"defineBelow","value":{"Demanda":"={{ $json.Demanda }}","pulse":"={{ $json.pulse }}","board":"={{ $json.board }}","quantidade":"={{ $json.quantidade }}","liderado":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Demanda","displayName":"Demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pulse","displayName":"pulse","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"board","displayName":"board","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"liderado","displayName":"liderado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31360,22720],"id":"35567ed1-215b-4cc7-9906-488772407392","name":"Insert row - Contagem Demanda"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"bfB2hGaoM2mBgJaB","mode":"list","cachedResultName":"qtd de cobranças por demanda mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/bfB2hGaoM2mBgJaB"},"filters":{"conditions":[{"keyValue":"={{ $json.id_registro }}"}]},"columns":{"mappingMode":"defineBelow","value":{"quantidade":"={{ $json.quantidade }}","liderado":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Demanda","displayName":"Demanda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pulse","displayName":"pulse","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"board","displayName":"board","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"liderado","displayName":"liderado","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[31360,22576],"id":"9c1a9bd7-dcc6-4031-98f9-3e5a807edc28","name":"Update row(s) - Contagem Demanda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cc283d98-1cbb-4c78-be69-f9fb9fa45af8","leftValue":"={{ $json.demanda_existe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[31152,22656],"id":"3106cbaa-f3a6-4f94-81bc-5d9f512bcab7","name":"If - Demanda Existe"},{"parameters":{"jsCode":"const dadosCobranca = $('Code in JavaScript3').first().json;\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem Demanda').all();\n} catch (e) {\n  registros = [];\n}\nconst pulseID = String(dadosCobranca.pulseID || '');\nconst boardID = String(dadosCobranca.boardID || '');\nconst itemName = dadosCobranca.itemName || '';\nconst devedor = dadosCobranca.devedor || dadosCobranca.nome_quem_deve || '';\n\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (String(reg.json.pulse) === pulseID) {\n    registroExistente = reg.json;\n    break;\n  }\n}\nif (registroExistente) {\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      demanda_existe: true,\n      id_registro: registroExistente.id,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: qtdAtual + 1,\n      devedor: devedor\n    }\n  }];\n} else {\n  return [{\n    json: {\n      demanda_existe: false,\n      Demanda: itemName,\n      pulse: pulseID,\n      board: boardID,\n      quantidade: 1,\n      devedor: devedor\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[30864,22656],"id":"209775a4-c06c-47bc-a479-106a2e72afbe","name":"Code Node - Preparar Contagem Demanda"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"bfB2hGaoM2mBgJaB","mode":"list","cachedResultName":"qtd de cobranças por demanda mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/bfB2hGaoM2mBgJaB"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30528,22656],"id":"2288dbb2-e39f-4493-8ac9-d366c52b39d7","name":"Get row(s) - Contagem Demanda","alwaysOutputData":true},{"parameters":{"dataTableId":{"__rl":true,"value":"x7kWy2QIsE6aGIXc","mode":"list","cachedResultName":"qtd sem resposta por pessoa mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/x7kWy2QIsE6aGIXc"},"columns":{"mappingMode":"defineBelow","value":{"quantidade":"={{ $json.quantidade }}","setor":"={{ $json.setor }}","ultima_cobranca":"={{ $json.ultima_cobranca }}","Name":"={{ $json.name }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"setor","displayName":"setor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ultima_cobranca","displayName":"ultima_cobranca","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30336,22720],"id":"c04397a1-750e-4b1e-b6f1-943f9564a0cd","name":"Insert row - Contagem"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"x7kWy2QIsE6aGIXc","mode":"list","cachedResultName":"qtd sem resposta por pessoa mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/x7kWy2QIsE6aGIXc"},"filters":{"conditions":[{"keyValue":"={{ $json.id_registro }}"}]},"columns":{"mappingMode":"defineBelow","value":{"quantidade":"={{ $json.quantidade }}","setor":"={{ $json.setor }}","ultima_cobranca":"={{ $json.ultima_cobranca }}","Name":"={{ $json.devedor }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quantidade","displayName":"quantidade","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"setor","displayName":"setor","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ultima_cobranca","displayName":"ultima_cobranca","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[30336,22560],"id":"168253f4-358c-4d69-8fa4-ed5f9a295a81","name":"Update row(s) - Contagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b639fa2a-d7ae-4c53-92d7-282a3172520d","leftValue":"={{ $json.devedor_existe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[30144,22656],"id":"e873f865-cabd-41d2-9fda-1cf765d0c32a","name":"If - Devedor Existe"},{"parameters":{"jsCode":"// Busca se o devedor já existe na tabela de contagem\nconst dadosCobranca = $('Code in JavaScript3').first().json;\n\n// Pega registros existentes — pode ser vazio se a tabela não tem dados\nlet registros = [];\ntry {\n  registros = $('Get row(s) - Contagem').all();\n} catch (e) {\n  // Tabela vazia retorna sem itens — trata como lista vazia\n  registros = [];\n}\n\nconst nomeDevedor = dadosCobranca.devedor || '';\nconst setorDevedor = dadosCobranca.setorDemandado || '';\n\n// Procura registro existente pelo nome\nlet registroExistente = null;\nfor (const reg of registros) {\n  if (reg.json.name && reg.json.name.trim().toLowerCase() === nomeDevedor.trim().toLowerCase()) {\n    registroExistente = reg.json;\n    break;\n  }\n}\n\nif (registroExistente) {\n  // Já existe → incrementar quantidade\n  const qtdAtual = Number(registroExistente.quantidade) || 0;\n  return [{\n    json: {\n      devedor_existe: true,\n      id_registro: registroExistente.id,\n      name: nomeDevedor,\n      quantidade: qtdAtual + 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n} else {\n  // Não existe → criar novo\n  return [{\n    json: {\n      devedor_existe: false,\n      name: nomeDevedor,\n      quantidade: 1,\n      setor: setorDevedor,\n      ultima_cobranca: new Date().toISOString()\n    }\n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[29808,22656],"id":"679a2278-cf7f-4ac6-bfc7-9ec045d60131","name":"Code Node - Preparar Contagem"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"x7kWy2QIsE6aGIXc","mode":"list","cachedResultName":"qtd sem resposta por pessoa mensal","cachedResultUrl":"/projects/kDKKlC23HqJCyHvF/datatables/x7kWy2QIsE6aGIXc"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[29504,22656],"id":"d4acf80d-4fe7-41a9-9c47-49f2cbcdbc2b","name":"Get row(s) - Contagem","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[31584,22656],"id":"36bf14be-4042-43b5-913f-5cc14e1e95ef","name":"Wait","webhookId":"90004988-04bb-4886-8ae6-dbd76ca594c3"}],"connections":{"Insert row - Contagem Demanda1":{"main":[[{"node":"Get row(s) - Contagem","type":"main","index":0}]]},"Code Node - Preparar Contagem Demanda1":{"main":[[{"node":"Insert row - Contagem Demanda1","type":"main","index":0}]]},"Code Node - Preparar Contagem1":{"main":[[{"node":"Insert row - pessoa diario","type":"main","index":0}]]},"Insert row - pessoa diario":{"main":[[{"node":"Code Node - Preparar Contagem Demanda1","type":"main","index":0}]]},"mensagem via whatsapp":{"main":[[{"node":"Update row(s)","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Code Node - Preparar Contagem1","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Code Node - Pré-triagem","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request - Monday GraphQL","type":"main","index":0}]]},"Code Node - Pré-triagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"é fim de semana?","type":"main","index":0}]]},"é fim de semana?":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"If":{"main":[[{"node":"Delete row(s)","type":"main","index":0}],[{"node":"Code Node - Montar Prompt","type":"main","index":0}]]},"Delete row(s)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request - Monday GraphQL":{"main":[[{"node":"If","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code Node - Determinar Remetente","type":"main","index":0}]]},"Code Node - Montar Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If - É Nível 2?","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Code Node - Determinar Remetente":{"main":[[{"node":"If1","type":"main","index":0}]]},"If - É Nível 2?":{"main":[[{"node":"esperar resposta","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"esperar resposta":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"mensagem via whatsapp","type":"main","index":0}]]},"Insert row - Contagem Demanda":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update row(s) - Contagem Demanda":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If - Demanda Existe":{"main":[[{"node":"Update row(s) - Contagem Demanda","type":"main","index":0}],[{"node":"Insert row - Contagem Demanda","type":"main","index":0}]]},"Code Node - Preparar Contagem Demanda":{"main":[[{"node":"If - Demanda Existe","type":"main","index":0}]]},"Get row(s) - Contagem Demanda":{"main":[[{"node":"Code Node - Preparar Contagem Demanda","type":"main","index":0}]]},"Insert row - Contagem":{"main":[[{"node":"Get row(s) - Contagem Demanda","type":"main","index":0}]]},"Update row(s) - Contagem":{"main":[[{"node":"Get row(s) - Contagem Demanda","type":"main","index":0}]]},"If - Devedor Existe":{"main":[[{"node":"Update row(s) - Contagem","type":"main","index":0}],[{"node":"Insert row - Contagem","type":"main","index":0}]]},"Code Node - Preparar Contagem":{"main":[[{"node":"If - Devedor Existe","type":"main","index":0}]]},"Get row(s) - Contagem":{"main":[[{"node":"Code Node - Preparar Contagem","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"Isaac Raylen","name":"Version 1541380f","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-18T20:16:29.679Z","id":1154,"workflowId":"fxF2ZwiRIyNE9iHN","versionId":"1541380f-8885-4149-8cde-ce967696bc5b","event":"activated","userId":"811d2d9e-6074-4762-8533-fe3acae08af3"}]}}