.n8n_backup/novo_u1Bl0gp9zlqjhyNm.json
{"updatedAt":"2026-05-14T20:39:03.155Z","createdAt":"2026-05-14T20:04:06.427Z","id":"u1Bl0gp9zlqjhyNm","name":"GERAR LANCAMENTO FINANCEIRO BENEFICIOS -","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[320,336]},{"parameters":{"options":{}},"id":"0f17a291-5a13-42f9-ad90-1b9e391b99b5","name":"Loop Eventos","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[752,352]},{"parameters":{"amount":7},"id":"5d69f232-ca81-49fa-8b24-49440e6255a4","name":"Wait RM Processar","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1408,512],"webhookId":"wait-rm-iter"},{"parameters":{"jsCode":"// Pega o IDFINANC MAIOR (mais recente) — gerado pelo FopRotinas atual\nconst resp = $input.first().json;\nlet ids = [];\n\nif (Array.isArray(resp)) ids = resp.map(r => r.IDFINANC).filter(Boolean);\nelse if (resp && resp.IDFINANC) ids = [resp.IDFINANC];\nelse if (resp && Array.isArray(resp[0])) ids = resp[0].map(r => r.IDFINANC).filter(Boolean);\n\nif (ids.length === 0) {\n  throw new Error('Nenhum IDFINANC retornado');\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst integrados = new Set(staticData.idsIntegrados || []);\n\nconst novos = ids.filter(id => !integrados.has(id));\nlet idAtual;\nif (novos.length > 0) {\n  idAtual = Math.max(...novos);\n} else {\n  idAtual = Math.max(...ids);\n}\n\nconst loopMeta = $('Loop Eventos').item.json;\nreturn [{\n  json: {\n    ...loopMeta,\n    idFinanc: idAtual,\n    IDFINANC: idAtual\n  }\n}];"},"id":"416bd923-e66c-4c02-9037-6f0ae44a1c86","name":"Pegar Ultimo IDFINANC","type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,512]},{"parameters":{"jsCode":"const input = $input.first().json;\n\nif (!Array.isArray(input.chapas) || input.chapas.length === 0) {\n  throw new Error('Input invalido: chapas[] vazio ou ausente');\n}\nif (!Array.isArray(input.eventos) || input.eventos.length === 0) {\n  throw new Error('Input invalido: eventos[] vazio ou ausente');\n}\n\nconst hoje = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst dataIso = `${hoje.getFullYear()}-${pad(hoje.getMonth() + 1)}-${pad(hoje.getDate())}`;\n\nlet mesCompAtual = input.mesComp - 1;\nlet anoCompAtual = input.anoComp;\nif (mesCompAtual < 1) { mesCompAtual = 12; anoCompAtual -= 1; }\n\nconst tz = -hoje.getTimezoneOffset();\nconst tzSign = tz >= 0 ? '+' : '-';\nconst tzHH = pad(Math.floor(Math.abs(tz) / 60));\nconst tzMM = pad(Math.abs(tz) % 60);\nconst scheduleDateTime = `${dataIso}T${pad(hoje.getHours())}:${pad(hoje.getMinutes())}:${pad(hoje.getSeconds())}.0000000${tzSign}${tzHH}:${tzMM}`;\n\nconst uuid = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3) | 0x8).toString(16);\n});\n\n// 1 item por evento → cada evento entra no loop\nreturn input.eventos.map(ev => ({\n  json: {\n    ...input,\n    eventoAtual: ev,\n    dataEmissao: `${dataIso}T00:00:00`,\n    dataIso,\n    scheduleDateTime,\n    executionId: uuid(),\n    mesCompAtual,\n    anoCompAtual,\n    chapasXml: input.chapas.map(c => `<a:string>${c}</a:string>`).join('\\n      '),\n    eventosXml: `<a:string>${ev}</a:string>`,\n    chapaAtual: input.chapas[0]\n  }\n}));"},"id":"4f48169a-831d-42be-86b2-d47bea013ea8","name":"Montar Parametros FopRotinas1","type":"n8n-nodes-base.code","typeVersion":2,"position":[528,352]},{"parameters":{"jsCode":"const d = $input.first().json;\n\nconst xmlInner = `<?xml version=\"1.0\" encoding=\"utf-16\"?>\n<FopParamsRotinasLancFinanceiro z:Id=\"i1\" xmlns=\"http://www.totvs.com.br/RM/\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:z=\"http://schemas.microsoft.com/2003/10/Serialization/\">\n  <ActionModule xmlns=\"http://www.totvs.com/\">P</ActionModule>\n  <ActionName xmlns=\"http://www.totvs.com/\">FopRotinasLancFinanceiroAction</ActionName>\n  <CanParallelize xmlns=\"http://www.totvs.com/\">true</CanParallelize>\n  <CanSendMail xmlns=\"http://www.totvs.com/\">false</CanSendMail>\n  <CanWaitSchedule xmlns=\"http://www.totvs.com/\">false</CanWaitSchedule>\n  <CodUsuario xmlns=\"http://www.totvs.com/\">003080</CodUsuario>\n  <ConnectionId i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <ConnectionString i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <Context z:Id=\"i2\" xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://www.totvs.com.br/RM/\">\n    <a:_params xmlns:b=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$EXERCICIOFISCAL</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODLOCPRT</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODTIPOCURSO</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$EDUTIPOUSR</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODUNIDADEBIB</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODCOLIGADA</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">${d.coligada}</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$RHTIPOUSR</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODIGOEXTERNO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODSISTEMA</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">P</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODUSUARIOSERVICO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\" /></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODUSUARIO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">003080</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$IDPRJ</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CHAPAFUNCIONARIO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODFILIAL</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n    </a:_params>\n    <a:Environment>DotNet</a:Environment>\n  </Context>\n  <CustomData i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <DisableIsolateProcess xmlns=\"http://www.totvs.com/\">false</DisableIsolateProcess>\n  <DriverType i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <ExecutionId xmlns=\"http://www.totvs.com/\">${d.executionId}</ExecutionId>\n  <FailureMessage xmlns=\"http://www.totvs.com/\">Falha na execucao do processo</FailureMessage>\n  <FriendlyLogs i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <HideProgressDialog xmlns=\"http://www.totvs.com/\">false</HideProgressDialog>\n  <HostName xmlns=\"http://www.totvs.com/\">n8n-integration</HostName>\n  <Initialized xmlns=\"http://www.totvs.com/\">true</Initialized>\n  <Ip xmlns=\"http://www.totvs.com/\">127.0.0.1</Ip>\n  <IsolateProcess xmlns=\"http://www.totvs.com/\">false</IsolateProcess>\n  <JobID xmlns=\"http://www.totvs.com/\">\n    <Children />\n    <ExecID>1</ExecID>\n    <ID>1</ID>\n    <IsPriorityJob>false</IsPriorityJob>\n  </JobID>\n  <JobServerHostName xmlns=\"http://www.totvs.com/\">165112-core-instance-N-RM-P-CZHJVP-1-6e186WIN-CE01</JobServerHostName>\n  <MasterActionName i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <MaximumQuantityOfPrimaryKeysPerProcess xmlns=\"http://www.totvs.com/\">1000</MaximumQuantityOfPrimaryKeysPerProcess>\n  <MinimumQuantityOfPrimaryKeysPerProcess xmlns=\"http://www.totvs.com/\">1</MinimumQuantityOfPrimaryKeysPerProcess>\n  <NetworkUser xmlns=\"http://www.totvs.com/\">n8n</NetworkUser>\n  <NotifyEmail xmlns=\"http://www.totvs.com/\">false</NotifyEmail>\n  <NotifyEmailList i:nil=\"true\" xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\n  <NotifyFluig xmlns=\"http://www.totvs.com/\">false</NotifyFluig>\n  <OnlineMode xmlns=\"http://www.totvs.com/\">false</OnlineMode>\n  <PrimaryKeyList xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\n  <PrimaryKeyNames i:nil=\"true\" xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\n  <PrimaryKeyTableName i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <ProcessName xmlns=\"http://www.totvs.com/\">Geracao de Lancamentos Financeiros</ProcessName>\n  <QuantityOfSplits xmlns=\"http://www.totvs.com/\">0</QuantityOfSplits>\n  <SaveLogInDatabase xmlns=\"http://www.totvs.com/\">true</SaveLogInDatabase>\n  <SaveParamsExecution xmlns=\"http://www.totvs.com/\">false</SaveParamsExecution>\n  <ScheduleDateTime xmlns=\"http://www.totvs.com/\">${d.scheduleDateTime}</ScheduleDateTime>\n  <Scheduler xmlns=\"http://www.totvs.com/\">JobMonitor</Scheduler>\n  <SendMail xmlns=\"http://www.totvs.com/\">false</SendMail>\n  <ServerName xmlns=\"http://www.totvs.com/\">FopRotinasLancFinanceiroProcess</ServerName>\n  <ServiceInterface i:nil=\"true\" xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.datacontract.org/2004/07/System\" />\n  <ShouldParallelize xmlns=\"http://www.totvs.com/\">false</ShouldParallelize>\n  <ShowReExecuteButton xmlns=\"http://www.totvs.com/\">true</ShowReExecuteButton>\n  <StatusMessage i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <SuccessMessage xmlns=\"http://www.totvs.com/\">Processo executado com sucesso</SuccessMessage>\n  <SyncExecution xmlns=\"http://www.totvs.com/\">false</SyncExecution>\n  <UseJobMonitor xmlns=\"http://www.totvs.com/\">true</UseJobMonitor>\n  <UserName xmlns=\"http://www.totvs.com/\">003080</UserName>\n  <WaitSchedule xmlns=\"http://www.totvs.com/\">false</WaitSchedule>\n  <EnableJobErrorProgressbar xmlns=\"http://www.totvs.com/\">false</EnableJobErrorProgressbar>\n  <EnableTracing xmlns=\"http://www.totvs.com/\">false</EnableTracing>\n  <LocalOnlyExecutor xmlns=\"http://www.totvs.com/\">RMSJobData</LocalOnlyExecutor>\n  <RMSJobIds i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <SlicesCount xmlns=\"http://www.totvs.com/\">0</SlicesCount>\n  <AnoComp>${d.anoComp}</AnoComp>\n  <AnoCompAnteriorIRRF i:nil=\"true\" />\n  <AnoCompAtual>${d.anoCompAtual}</AnoCompAtual>\n  <AnoCompAtualIRRF i:nil=\"true\" />\n  <AnoCompSeguinteIRRF i:nil=\"true\" />\n  <CarregaMovimentoMesIRRFAnterior>false</CarregaMovimentoMesIRRFAnterior>\n  <CarregaMovimentoMesIRRFAtual>true</CarregaMovimentoMesIRRFAtual>\n  <CarregaMovimentoMesIRRFProximo>true</CarregaMovimentoMesIRRFProximo>\n  <ChapaAte i:nil=\"true\" />\n  <ChapaDe i:nil=\"true\" />\n  <Chapas i:nil=\"true\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\n  <CodReceita>0561</CodReceita>\n  <CodUsuario>003080</CodUsuario>\n  <CodigosLanctoAtivos xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n    ${d.eventosXml}\n  </CodigosLanctoAtivos>\n  <Coligada>${d.coligada}</Coligada>\n  <ConsideraApenasUltimoPeriodoGozoFerias>false</ConsideraApenasUltimoPeriodoGozoFerias>\n  <ContaCaixa />\n  <DataEmissao>${d.dataEmissao}</DataEmissao>\n  <DataFinalIR>2024-01-31T00:00:00</DataFinalIR>\n  <DataInicialIR>2024-01-01T00:00:00</DataInicialIR>\n  <DataPgtoFinalGerLancFer>0001-01-01T00:00:00</DataPgtoFinalGerLancFer>\n  <DataPgtoInicialGerLancFer>0001-01-01T00:00:00</DataPgtoInicialGerLancFer>\n  <DataPrevBaixa>${d.dataEmissao}</DataPrevBaixa>\n  <DataVencimento>${d.dataEmissao}</DataVencimento>\n  <DesconsiderarIRRFPLR>false</DesconsiderarIRRFPLR>\n  <FiltrarEventosLanctoIRRF>false</FiltrarEventosLanctoIRRF>\n  <FiltrarLanctoFerias>false</FiltrarLanctoFerias>\n  <ForcarInclusaoLancFinancSemelhante>false</ForcarInclusaoLancFinancSemelhante>\n  <Fracionado>false</Fracionado>\n  <GeraLanctoBloqueado>false</GeraLanctoBloqueado>\n  <GeraLanctoRateadoCentroCusto>false</GeraLanctoRateadoCentroCusto>\n  <GeraLanctoRateadoDepartamento>false</GeraLanctoRateadoDepartamento>\n  <Global>false</Global>\n  <LoteLanctoFinanc i:nil=\"true\" />\n  <MesComp>${d.mesComp}</MesComp>\n  <MesCompAnteriorIRRF i:nil=\"true\" />\n  <MesCompAtual>${d.mesCompAtual}</MesCompAtual>\n  <MesCompAtualIRRF i:nil=\"true\" />\n  <MesCompSeguinteIRRF i:nil=\"true\" />\n  <NumeroLoteFinanceiro>0</NumeroLoteFinanceiro>\n  <OpcaoAgrupamento>IndividualFuncionario</OpcaoAgrupamento>\n  <OpcaoOrdenacao>Chapa</OpcaoOrdenacao>\n  <Periodo />\n  <PeriodoCompAnteriorIRRF i:nil=\"true\" />\n  <PeriodoCompAtualIRRF i:nil=\"true\" />\n  <PeriodoCompSeguinteIRRF i:nil=\"true\" />\n  <QtdeSlice>0</QtdeSlice>\n  <QuebraSecao>??.??.????.??.????</QuebraSecao>\n  <ReformaTrabalhistaAtiva>true</ReformaTrabalhistaAtiva>\n  <SelecaoFuncionario>\n    <Chapa xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n      ${d.chapasXml}\n    </Chapa>\n    <CodRecebimento>DHMOPQST</CodRecebimento>\n    <CodSituacao>ACDEFGIKLMNOPQRSTUVWYZ</CodSituacao>\n    <CodTipo>ABCDEFIMNOPRSTUVWXZ</CodTipo>\n    <Contexto z:Id=\"i3\">\n      <_params xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$EXERCICIOFISCAL</a:Key><a:Value i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODLOCPRT</a:Key><a:Value i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODTIPOCURSO</a:Key><a:Value i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$EDUTIPOUSR</a:Key><a:Value i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODUNIDADEBIB</a:Key><a:Value i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODCOLIGADA</a:Key><a:Value i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">${d.coligada}</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$DATASISTEMA</a:Key><a:Value i:type=\"b:dateTime\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">${d.dataEmissao}</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$RHTIPOUSR</a:Key><a:Value i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODIGOEXTERNO</a:Key><a:Value i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODSISTEMA</a:Key><a:Value i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">P</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODUSUARIOSERVICO</a:Key><a:Value i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\" /></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODUSUARIO</a:Key><a:Value i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">003080</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$IDPRJ</a:Key><a:Value i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CHAPAFUNCIONARIO</a:Key><a:Value i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n        <a:KeyValueOfanyTypeanyType><a:Key i:type=\"b:string\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">$CODFILIAL</a:Key><a:Value i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">-1</a:Value></a:KeyValueOfanyTypeanyType>\n      </_params>\n      <Environment>Delphi</Environment>\n    </Contexto>\n    <DataFimCompetencia>0001-01-01T00:00:00</DataFimCompetencia>\n    <ExibeSituacaoAdmissaoProxMes>false</ExibeSituacaoAdmissaoProxMes>\n    <FiltroGlobais z:Id=\"i4\"><FiltroID>-1</FiltroID><NomeFiltro /><Parametros /></FiltroGlobais>\n    <FiltroGlobaisTemporario i:nil=\"true\" />\n    <FiltroPerfil />\n    <FormulaSelecao />\n    <NaoPermiteCodSituacao i:nil=\"true\" />\n    <NaoUsaCodReceb>false</NaoUsaCodReceb>\n    <NaoUsaSituacao>false</NaoUsaSituacao>\n    <NaoUsaTipoFunc>false</NaoUsaTipoFunc>\n    <SkipSecurity>false</SkipSecurity>\n    <UsaHstSituacao>false</UsaHstSituacao>\n  </SelecaoFuncionario>\n  <SlicedFilter i:nil=\"true\" />\n  <TabOp01 />\n  <TabOp02 />\n  <TabOp03 />\n  <TabOp04 />\n  <TabOp05 />\n  <UsaCentroCusto>false</UsaCentroCusto>\n  <UsaContaClienteFornec>false</UsaContaClienteFornec>\n  <UsaFilialContabil>false</UsaFilialContabil>\n  <UsaFornecFunc>false</UsaFornecFunc>\n  <UsaNaturezaFinanceiraEvento>false</UsaNaturezaFinanceiraEvento>\n  <UsaPametrosTabOp01>false</UsaPametrosTabOp01>\n  <UsaPametrosTabOp02>false</UsaPametrosTabOp02>\n  <UsaPametrosTabOp03>false</UsaPametrosTabOp03>\n  <UsaPametrosTabOp04>false</UsaPametrosTabOp04>\n  <UsaPametrosTabOp05>false</UsaPametrosTabOp05>\n  <UsaRateioFixoValor>false</UsaRateioFixoValor>\n  <UsaTomadorServico>true</UsaTomadorServico>\n</FopParamsRotinasLancFinanceiro>`;\n\nconst soapBody = `<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tot=\"http://www.totvs.com/\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <tot:ExecuteWithXmlParams>\n         <tot:ProcessServerName>FopRotinasLancFinanceiroProcess</tot:ProcessServerName>\n         <tot:strXmlParams><![CDATA[${xmlInner}]]></tot:strXmlParams>\n         <tot:Contexto>CODSISTEMA=P;CODCOLIGADA=${d.coligada};CODUSUARIO=003080</tot:Contexto>\n      </tot:ExecuteWithXmlParams>\n   </soapenv:Body>\n</soapenv:Envelope>`;\n\nreturn [{ json: { ...d, soapBody: String(soapBody) } }];"},"id":"d52d0147-d605-4cee-8f3d-f665a7f28bde","name":"Montar SOAP FopRotinas1","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,512]},{"parameters":{"method":"POST","url":"https://contatoservicos165112.rm.cloudtotvs.com.br:8051/wsProcess/IwsProcess","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/xml; charset=utf-8"},{"name":"SOAPAction","value":"\"http://www.totvs.com/IwsProcess/ExecuteWithXmlParams\""}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml","body":"={{ $json.soapBody }}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":3000}}}},"id":"df1d1b3e-fe3c-4f25-a811-6cb7592e5177","name":"POST FopRotinas1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1184,512],"credentials":{"httpBasicAuth":{"id":"hjrpdzC3W0TsA1c2","name":"RM MIKE"}}},{"parameters":{"method":"POST","url":"https://headed-shawl-annex.ngrok-free.dev/consultar-rm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"AIONS-ISAACR-2026"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ codigo_sql: 'IDFINAN', solicitante: 'n8n-gerar-lancamento-financeiro', codigo_sistema: 'P', codigo_coligada: 0, parametros: { CODCOLIGADA: $('Loop Eventos').item.json.coligada, CHAPA: $('Loop Eventos').item.json.chapaAtual, DATAEMISSAO: $('Loop Eventos').item.json.dataEmissao } }) }}","options":{}},"id":"e39511ad-e274-4e33-b82d-3ff0b2e12618","name":"Consultar IDFINAN1 (AIONS)","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1632,512]},{"parameters":{"jsCode":"const d = $input.first().json;\nconst idFinanc = d.idFinanc || d.IDFINANC;\n\nif (!idFinanc) {\n  throw new Error('IDFINANC ausente no input');\n}\n\nconst uuid = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3) | 0x8).toString(16);\n});\nconst execId = uuid();\n\nconst hoje = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst dataIso = `${hoje.getFullYear()}-${pad(hoje.getMonth() + 1)}-${pad(hoje.getDate())}`;\nconst tz = -hoje.getTimezoneOffset();\nconst tzSign = tz >= 0 ? '+' : '-';\nconst tzHH = pad(Math.floor(Math.abs(tz) / 60));\nconst tzMM = pad(Math.abs(tz) % 60);\nconst scheduleDateTime = `${dataIso}T${pad(hoje.getHours())}:${pad(hoje.getMinutes())}:${pad(hoje.getSeconds())}.0000000${tzSign}${tzHH}:${tzMM}`;\n\nconst xmlInner = `<?xml version=\"1.0\" encoding=\"utf-16\"?>\n<FopLancIntegraTerceiroParms z:Id=\"i1\" xmlns=\"http://www.totvs.com.br/RM/\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:z=\"http://schemas.microsoft.com/2003/10/Serialization/\">\n  <ActionModule xmlns=\"http://www.totvs.com/\">P</ActionModule>\n  <ActionName xmlns=\"http://www.totvs.com/\">FopLancIntegraFinanceiroTerceiroAction</ActionName>\n  <CanParallelize xmlns=\"http://www.totvs.com/\">true</CanParallelize>\n  <CanSendMail xmlns=\"http://www.totvs.com/\">false</CanSendMail>\n  <CanWaitSchedule xmlns=\"http://www.totvs.com/\">false</CanWaitSchedule>\n  <CodUsuario xmlns=\"http://www.totvs.com/\">003080</CodUsuario>\n  <ConnectionId i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <ConnectionString i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <Context z:Id=\"i2\" xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://www.totvs.com.br/RM/\">\n    <a:_params xmlns:b=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$EXERCICIOFISCAL</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODLOCPRT</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODTIPOCURSO</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$EDUTIPOUSR</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODUNIDADEBIB</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODCOLIGADA</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">${d.coligada}</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$RHTIPOUSR</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODIGOEXTERNO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODSISTEMA</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">P</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODUSUARIOSERVICO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\" /></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODUSUARIO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">003080</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$IDPRJ</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CHAPAFUNCIONARIO</b:Key><b:Value i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n      <b:KeyValueOfanyTypeanyType><b:Key i:type=\"c:string\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">$CODFILIAL</b:Key><b:Value i:type=\"c:int\" xmlns:c=\"http://www.w3.org/2001/XMLSchema\">-1</b:Value></b:KeyValueOfanyTypeanyType>\n    </a:_params>\n    <a:Environment>DotNet</a:Environment>\n  </Context>\n  <CustomData i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <DisableIsolateProcess xmlns=\"http://www.totvs.com/\">false</DisableIsolateProcess>\n  <DriverType i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <ExecutionId xmlns=\"http://www.totvs.com/\">${execId}</ExecutionId>\n  <FailureMessage xmlns=\"http://www.totvs.com/\">Falha na execução do processo</FailureMessage>\n  <FriendlyLogs i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <HideProgressDialog xmlns=\"http://www.totvs.com/\">false</HideProgressDialog>\n  <HostName xmlns=\"http://www.totvs.com/\">n8n-integration</HostName>\n  <Initialized xmlns=\"http://www.totvs.com/\">true</Initialized>\n  <Ip xmlns=\"http://www.totvs.com/\">10.0.1.7</Ip>\n  <IsolateProcess xmlns=\"http://www.totvs.com/\">false</IsolateProcess>\n  <JobID xmlns=\"http://www.totvs.com/\">\n    <Children />\n    <ExecID>1</ExecID>\n    <ID>1</ID>\n    <IsPriorityJob>false</IsPriorityJob>\n  </JobID>\n  <JobServerHostName xmlns=\"http://www.totvs.com/\">165112-core-instance-N-RM-P-CZHJVP-1-6e186WIN-CE01</JobServerHostName>\n  <MasterActionName xmlns=\"http://www.totvs.com/\">FopLancFinanceiroAction</MasterActionName>\n  <MaximumQuantityOfPrimaryKeysPerProcess xmlns=\"http://www.totvs.com/\">1000</MaximumQuantityOfPrimaryKeysPerProcess>\n  <MinimumQuantityOfPrimaryKeysPerProcess xmlns=\"http://www.totvs.com/\">1</MinimumQuantityOfPrimaryKeysPerProcess>\n  <NetworkUser xmlns=\"http://www.totvs.com/\">n8n</NetworkUser>\n  <NotifyEmail xmlns=\"http://www.totvs.com/\">false</NotifyEmail>\n  <NotifyEmailList i:nil=\"true\" xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\n  <NotifyFluig xmlns=\"http://www.totvs.com/\">false</NotifyFluig>\n  <OnlineMode xmlns=\"http://www.totvs.com/\">false</OnlineMode>\n  <PrimaryKeyList xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n    <a:ArrayOfanyType>\n      <a:anyType i:type=\"b:short\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">${d.coligada}</a:anyType>\n      <a:anyType i:type=\"b:int\" xmlns:b=\"http://www.w3.org/2001/XMLSchema\">${idFinanc}</a:anyType>\n    </a:ArrayOfanyType>\n  </PrimaryKeyList>\n  <PrimaryKeyNames xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n    <a:string>CODCOLIGADA</a:string>\n    <a:string>IDFINANC</a:string>\n  </PrimaryKeyNames>\n  <PrimaryKeyTableName xmlns=\"http://www.totvs.com/\">PFINANCEIRO</PrimaryKeyTableName>\n  <ProcessName xmlns=\"http://www.totvs.com/\">Integração financeira com outros Backoffices</ProcessName>\n  <QuantityOfSplits xmlns=\"http://www.totvs.com/\">0</QuantityOfSplits>\n  <SaveLogInDatabase xmlns=\"http://www.totvs.com/\">true</SaveLogInDatabase>\n  <SaveParamsExecution xmlns=\"http://www.totvs.com/\">false</SaveParamsExecution>\n  <ScheduleDateTime xmlns=\"http://www.totvs.com/\">${scheduleDateTime}</ScheduleDateTime>\n  <Scheduler xmlns=\"http://www.totvs.com/\">JobMonitor</Scheduler>\n  <SendMail xmlns=\"http://www.totvs.com/\">false</SendMail>\n  <ServerName xmlns=\"http://www.totvs.com/\">FopLancIntegraFinanceiroTerceiroProcess</ServerName>\n  <ServiceInterface i:nil=\"true\" xmlns=\"http://www.totvs.com/\" xmlns:a=\"http://schemas.datacontract.org/2004/07/System\" />\n  <ShouldParallelize xmlns=\"http://www.totvs.com/\">false</ShouldParallelize>\n  <ShowReExecuteButton xmlns=\"http://www.totvs.com/\">true</ShowReExecuteButton>\n  <StatusMessage i:nil=\"true\" xmlns=\"http://www.totvs.com/\" />\n  <SuccessMessage xmlns=\"http://www.totvs.com/\">Processo executado com sucesso</SuccessMessage>\n  <SyncExecution xmlns=\"http://www.totvs.com/\">false</SyncExecution>\n  <UseJobMonitor xmlns=\"http://www.totvs.com/\">true</UseJobMonitor>\n  <UserName xmlns=\"http://www.totvs.com/\">003080</UserName>\n  <WaitSchedule xmlns=\"http://www.totvs.com/\">false</WaitSchedule>\n  <Coligada>${d.coligada}</Coligada>\n</FopLancIntegraTerceiroParms>`;\n\nconst soapBody = `<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tot=\"http://www.totvs.com/\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <tot:ExecuteWithXmlParams>\n         <tot:ProcessServerName>FopLancIntegraFinanceiroTerceiroProcess</tot:ProcessServerName>\n         <tot:strXmlParams><![CDATA[${xmlInner}]]></tot:strXmlParams>\n         <tot:Contexto>CODSISTEMA=P;CODCOLIGADA=${d.coligada};CODUSUARIO=003080</tot:Contexto>\n      </tot:ExecuteWithXmlParams>\n   </soapenv:Body>\n</soapenv:Envelope>`;\n\nreturn [{ json: { ...d, soapBody: String(soapBody) } }];"},"id":"b93f201a-8ec6-40c0-a786-54bc4c15b5a3","name":"Montar SOAP IntegrarBackOffices1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,512]},{"parameters":{"method":"POST","url":"https://contatoservicos165112.rm.cloudtotvs.com.br:8051/wsProcess/IwsProcess","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/xml; charset=utf-8"},{"name":"SOAPAction","value":"\"http://www.totvs.com/IwsProcess/ExecuteWithXmlParams\""}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml","body":"={{ $json.soapBody }}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":3000}}}},"id":"2e7dc7d8-7e1f-44e1-9765-191092b1262d","name":"POST IntegrarBackOffices1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2288,512],"credentials":{"httpBasicAuth":{"id":"hjrpdzC3W0TsA1c2","name":"RM MIKE"}}},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nstaticData.idsIntegrados = staticData.idsIntegrados || [];\n\nconst it = $input.first().json;\nconst id = $('Montar SOAP IntegrarBackOffices1').item.json.idFinanc;\n\nconst xml = String(it.data || it.body || JSON.stringify(it));\nconst m = xml.match(/<ExecuteWithXmlParamsResult>(\\d+)<\\/ExecuteWithXmlParamsResult>/);\nconst ok = m && parseInt(m[1]) === 1;\n\nif (ok && id && !staticData.idsIntegrados.includes(id)) {\n  staticData.idsIntegrados.push(id);\n}\n\nreturn [{\n  json: {\n    idFinanc: id,\n    ok,\n    eventoAtual: $('Loop Eventos').item.json.eventoAtual,\n    totalIntegrados: staticData.idsIntegrados.length\n  }\n}];"},"id":"65940eca-194d-40af-9c2e-06b95ba8275e","name":"Registrar Integrado1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,528]},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst integrados = staticData.idsIntegrados || [];\nconst meta = $('When Executed by Another Workflow').first().json;\n\nstaticData.idsIntegrados = [];\n\nreturn [{\n  json: {\n    sucesso: true,\n    contrato: meta.contrato,\n    competencia: `${meta.mesComp}/${meta.anoComp}`,\n    totalChapas: meta.chapas.length,\n    totalEventos: meta.eventos.length,\n    eventos: meta.eventos,\n    idsIntegrados: integrados,\n    totalIntegrados: integrados.length\n  }\n}];"},"id":"f4af4e8c-bab2-4465-9b77-03340ae5bc61","name":"Coletar Resultado1","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,192]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"39d02f57-bac6-4b87-9efc-3ff0d2c2a489","leftValue":"={{ $json.data }}","rightValue":"Erro ao gerar WSDL do endereço","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2496,512],"id":"f522f50f-9018-47de-80a9-187874a93fad","name":"error"},{"parameters":{"workflowId":{"__rl":true,"value":"J8GBTvZGyhPGiO11","mode":"list","cachedResultUrl":"/workflow/J8GBTvZGyhPGiO11","cachedResultName":"MENSAGEM"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Destinatário":"120363400013959285@g.us","Mensagem":"={{ $json.Mensagem }}"},"matchingColumns":[],"schema":[{"id":"Destinatário","displayName":"Destinatário","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Delay","displayName":"Delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"Preview de Link","displayName":"Preview de Link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":true},{"id":"Responder Mensagem - ID da Mensagem","displayName":"Responder Mensagem - ID da Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"Mencionar Todos","displayName":"Mencionar Todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":true},{"id":"Números para mencionar","displayName":"Números para mencionar","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3120,352],"id":"0f3cbf3a-a37f-4f6d-95c7-e88343b2fba7","name":"Call 'MENSAGEM'"},{"parameters":{"jsCode":"const loop = $('Loop Eventos').item.json;\nconst evento = String(loop.eventoAtual || '');\nconst beneficio = evento === '100'\n  ? 'VR (alimentação)'\n  : evento === '110'\n    ? 'VT (transporte)'\n    : `desconhecido (evento ${evento})`;\n\nconst pad = n => String(n).padStart(2, '0');\nconst competencia = `${pad(loop.mesComp)}/${loop.anoComp}`;\n\nlet idFinanc = '—';\ntry { idFinanc = $('Pegar Ultimo IDFINANC').item.json.idFinanc || '—'; } catch (e) {}\n\nconst mensagem = [\n  'Erro ao lançar no Protheus',\n  `Chapa: ${loop.chapaAtual}`,\n  `Benefício: ${beneficio}`,\n  `Contrato: ${loop.contrato}`,\n  `Competência: ${competencia}`,\n  `IDFINANC: ${idFinanc}`\n].join('\\n');\n\nreturn [{ json: { Destinatário: '120363400013959285@g.us', Mensagem: mensagem } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,352],"id":"9e2b2ab2-52fb-43dc-83ea-17e661eb1548","name":"Code in JavaScript"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Montar Parametros FopRotinas1","type":"main","index":0}]]},"Loop Eventos":{"main":[[{"node":"Coletar Resultado1","type":"main","index":0}],[{"node":"Montar SOAP FopRotinas1","type":"main","index":0}]]},"Wait RM Processar":{"main":[[{"node":"Consultar IDFINAN1 (AIONS)","type":"main","index":0}]]},"Pegar Ultimo IDFINANC":{"main":[[{"node":"Montar SOAP IntegrarBackOffices1","type":"main","index":0}]]},"Montar Parametros FopRotinas1":{"main":[[{"node":"Loop Eventos","type":"main","index":0}]]},"Montar SOAP FopRotinas1":{"main":[[{"node":"POST FopRotinas1","type":"main","index":0}]]},"POST FopRotinas1":{"main":[[{"node":"Wait RM Processar","type":"main","index":0}]]},"Consultar IDFINAN1 (AIONS)":{"main":[[{"node":"Pegar Ultimo IDFINANC","type":"main","index":0}]]},"Montar SOAP IntegrarBackOffices1":{"main":[[{"node":"POST IntegrarBackOffices1","type":"main","index":0}]]},"POST IntegrarBackOffices1":{"main":[[{"node":"error","type":"main","index":0}]]},"Registrar Integrado1":{"main":[[{"node":"Loop Eventos","type":"main","index":0}]]},"error":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Registrar Integrado1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call 'MENSAGEM'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"tipo":"Diario","coligada":3,"anoComp":2026,"mesComp":5,"contrato":"SEMSA","codSecao":"01.01.0085.01.0112","chapas":["007336"],"eventos":["100","110"]},"pairedItem":{"item":0}}]},"versionId":"0b9a999a-4a38-4e87-91f7-79cf363902ce","activeVersionId":null,"versionCounter":12,"triggerCount":0,"shared":[{"updatedAt":"2026-05-14T20:04:06.427Z","createdAt":"2026-05-14T20:04:06.427Z","role":"workflow:owner","workflowId":"u1Bl0gp9zlqjhyNm","projectId":"kDKKlC23HqJCyHvF","project":{"updatedAt":"2026-04-09T20:33:54.993Z","createdAt":"2026-04-09T20:28:48.909Z","id":"kDKKlC23HqJCyHvF","name":"Isaac Raylen <isaac.gomes@contatoserv.com.br>","type":"personal","icon":null,"description":null,"creatorId":"811d2d9e-6074-4762-8533-fe3acae08af3"}}],"tags":[],"activeVersion":null}