.n8n_backup/novo_dSCt3YwcvhaAySQi.json
{"updatedAt":"2026-04-24T13:19:05.745Z","createdAt":"2026-04-23T20:15:56.545Z","id":"dSCt3YwcvhaAySQi","name":"Intermitente — 1. Preparar","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// ==============================================================\n// WF1 - Extrair dados do item do monday, gerar UUID e lista de dias\n// ==============================================================\n\n// Troque pelo domínio real do app quando estiver publicado.\nconst APP_BASE_URL = 'http://localhost:5173';\n\n// IDs técnicos das colunas do board \"Plano Intermitentes\"\nconst COL_CONTRATO   = 'color_mktcnxwn';\nconst COL_DATA_INI   = 'date_mktayxhb';\nconst COL_DATA_FIM   = 'date_mktasnwq';\nconst COL_NOME       = 'dropdown_mktadatt';\n\n// O node \"Get an item\" retorna o item direto como o primeiro input.\n// A depender da versão, ele pode estar embrulhado em .data ou .item.\nconst raw = $input.first().json;\nconst item = raw.data?.item ?? raw.item ?? raw;\n\nconst columnValues = item.column_values ?? [];\nconst getCol = (id) => columnValues.find(c => c.id === id);\n\nconst contrato   = getCol(COL_CONTRATO)?.text || null;\nconst dataInicio = getCol(COL_DATA_INI)?.text || null;\nconst dataFim    = getCol(COL_DATA_FIM)?.text || null;\nconst nomeCol    = getCol(COL_NOME);\nconst nome       = nomeCol?.text || item.name || 'Sem nome';\n\nif (!dataInicio || !dataFim) {\n  throw new Error(`Item ${item.id} sem data_inicio (${dataInicio}) ou data_fim (${dataFim}). Cheque as colunas ${COL_DATA_INI} e ${COL_DATA_FIM}.`);\n}\n\n// Gerar UUID criptográfico (disponível em Node >= 14.17)\nconst uuid = crypto.randomUUID();\n\n// Montar lista de dias (inclusive início e fim)\nconst dias = [];\nconst atual = new Date(dataInicio + 'T00:00:00Z');\nconst fim = new Date(dataFim + 'T00:00:00Z');\nwhile (atual <= fim) {\n  dias.push(atual.toISOString().slice(0, 10));\n  atual.setUTCDate(atual.getUTCDate() + 1);\n}\n\nconst link = `${APP_BASE_URL}/preencher/${uuid}`;\n\nreturn [{\n  json: {\n    uuid,\n    monday_item_id: String(item.id),\n    nome,\n    contrato,\n    data_inicio: dataInicio,\n    data_fim: dataFim,\n    dias,\n    link,\n    link_text: 'Abrir formulário'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,144],"id":"92ce73d8-0c30-4c97-ba2b-fddfd172c347","name":"Preparar dados"},{"parameters":{"tableId":"processamentos","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $json.uuid }}"},{"fieldId":"monday_item_id","fieldValue":"={{ $json.monday_item_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"contrato","fieldValue":"={{ $json.contrato }}"},{"fieldId":"data_inicio","fieldValue":"={{ $json.data_inicio }}"},{"fieldId":"data_fim","fieldValue":"={{ $json.data_fim }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,144],"id":"bae04017-0b51-4667-bc27-e3a51361cb70","name":"Insert processamento","credentials":{"supabaseApi":{"id":"wxB2RMd8goMwJfmv","name":"supabase ray"}}},{"parameters":{"resource":"boardItemColumn"},"type":"n8n-nodes-base.mondayCom","typeVersion":1,"position":[1040,144],"id":"643f85ca-2824-4e44-a9dc-36db477bdf2a","name":"Atualizar Link Column","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"httpMethod":"POST","path":"Intermitentehaha","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,144],"id":"d16efc92-ac6f-4176-9c81-af3b5a052e9c","name":"Webhook1","webhookId":"9920a692-0005-461e-bca6-b63126a46cf3"},{"parameters":{"resource":"boardItem","operation":"get","itemId":"={{ $json.body.event.pulseId.toString() }}"},"type":"n8n-nodes-base.mondayCom","typeVersion":1,"position":[368,144],"id":"5f91e925-8c43-4c17-859b-8ee546d6b0d5","name":"Get an item1","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}}],"connections":{"Preparar dados":{"main":[[{"node":"Insert processamento","type":"main","index":0}]]},"Insert processamento":{"main":[[{"node":"Atualizar Link Column","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Get an item1","type":"main","index":0}]]},"Get an item1":{"main":[[{"node":"Preparar dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a85155e-d424-443d-8390-45c6e0a29d1d","activeVersionId":null,"versionCounter":44,"triggerCount":1,"shared":[{"updatedAt":"2026-04-23T20:15:56.545Z","createdAt":"2026-04-23T20:15:56.545Z","role":"workflow:owner","workflowId":"dSCt3YwcvhaAySQi","projectId":"kDKKlC23HqJCyHvF","project":{"updatedAt":"2026-04-09T20:33:54.993Z","createdAt":"2026-04-09T20:28:48.909Z","id":"kDKKlC23HqJCyHvF","name":"Isaac Raylen <isaac.gomes@contatoserv.com.br>","type":"personal","icon":null,"description":null,"creatorId":"811d2d9e-6074-4762-8533-fe3acae08af3"}}],"tags":[],"activeVersion":null}