.n8n_backup/novo_kphngWRKkLMbRIRw.json
{"updatedAt":"2026-05-14T19:30:49.337Z","createdAt":"2026-05-14T19:27:11.223Z","id":"kphngWRKkLMbRIRw","name":"Intermitente — 8. Buscar empregado RM","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"convocar-buscar-empregado","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1584,480],"id":"a9296180-36f0-42a9-b201-ea0a36c49f54","name":"Webhook","webhookId":"convocar-buscar-empregado-wh"},{"parameters":{"jsCode":"// ==============================================================\n// WF8 — Buscar empregado no RM (autocomplete) — via AIONS API\n// Entrada:  ?nome=<string> (mínimo 3 caracteres)\n// Saída:    { resultados: [{nome, chapa, cpf, funcao, admissao, secao, codcoligada}, ...] }\n// SQL:      \"BEN 2\" via POST /consultar-rm (AIONS).\n// ==============================================================\n\nconst nomeRaw = ($json.query?.nome || '').toString().trim();\n\nif (nomeRaw.length < 3) {\n  return [{\n    json: {\n      _statusCode: 200,\n      _skip: true,\n      resultados: []\n    }\n  }];\n}\n\nconst nomeLike = `%${nomeRaw}%`;\n\nreturn [{\n  json: {\n    nomeRaw,\n    nomeLike\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,480],"id":"6de5b698-a2b2-49d4-a1c3-b38a2ad65dcd","name":"Preparar URL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json._skip }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,480],"id":"a1e01ec3-38eb-4591-8f69-ef1da02eed39","name":"Query curta?"},{"parameters":{"method":"POST","url":"https://headed-shawl-annex.ngrok-free.dev/consultar-rm","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"AIONS-ISAACR-2026"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ codigo_sql: 'BEN 2', solicitante: 'n8n-intermitente-buscar-empregado', codigo_sistema: 'P', codigo_coligada: 3, parametros: { '$CODCOLIGADA': 3, NOME: $json.nomeLike } }) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,576],"id":"1e4ac6c9-337d-42e0-ace7-14098adba027","name":"Consultar RM (AIONS)"},{"parameters":{"jsCode":"// ==============================================================\n// WF8 — Normaliza resposta do RM em shape camelCase\n// Mapeamento dos campos do BEN 2:\n//   'Nome do Intermitente'  → nome\n//   'Matrícula/Chapa'       → chapa\n//   'Seção'                 → secao\n//   'Descrição Seção'       → descricaoSecao\n//   'Função'                → funcao\n//   'Data de Admissão'      → admissao (YYYY-MM-DD)\n// CPF: BEN 2 atual não retorna CPF — fica vazio.\n//      Se ampliar a consulta SQL, basta mapear 'CPF' aqui.\n//\n// Nota: o HTTP Request do n8n quebra a resposta JSON-array do RM\n//       em N items (1 por linha). Por isso iteramos $input.all().\n// ==============================================================\n\nfunction normalizaAdmissao(v) {\n  if (!v) return '';\n  const s = String(v).trim();\n  // \"YYYY-MM-DD HH:mm:ss\" → \"YYYY-MM-DD\"\n  const m = s.match(/^(\\d{4}-\\d{2}-\\d{2})/);\n  if (m) return m[1];\n  // \"DD/MM/YYYY\" → \"YYYY-MM-DD\"\n  const m2 = s.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})/);\n  if (m2) return `${m2[3]}-${m2[2]}-${m2[1]}`;\n  return s;\n}\n\nfunction extrairLinhas(item) {\n  const j = item?.json;\n  if (!j) return [];\n  if (Array.isArray(j)) return j;\n  if (Array.isArray(j.body)) return j.body;\n  if (Array.isArray(j.value)) return j.value;\n  if (Array.isArray(j.data)) return j.data;\n  // single-row?\n  if (j['Nome do Intermitente'] || j['Matrícula/Chapa'] || j.nome) return [j];\n  return [];\n}\n\nconst todos = $input.all();\nconst linhas = todos.flatMap(extrairLinhas);\n\nconst resultados = linhas\n  .map((r) => ({\n    nome: String(r['Nome do Intermitente'] || r.nome || '').trim(),\n    chapa: String(r['Matrícula/Chapa'] || r.chapa || '').trim(),\n    cpf: String(r['CPF'] || r.cpf || '').trim(),\n    funcao: String(r['Função'] || r.funcao || '').trim(),\n    admissao: normalizaAdmissao(r['Data de Admissão'] || r.admissao),\n    secao: String(r['Seção'] || r.secao || '').trim(),\n    descricaoSecao: String(r['Descrição Seção'] || r.descricaoSecao || '').trim(),\n    codcoligada: 3\n  }))\n  .filter((e) => e.nome.length > 0);\n\n// Dedup por chapa (caso BEN 2 retorne linhas duplicadas)\nconst vistos = new Set();\nconst dedup = [];\nfor (const r of resultados) {\n  const key = r.chapa || r.nome;\n  if (vistos.has(key)) continue;\n  vistos.add(key);\n  dedup.push(r);\n}\n\nreturn [{\n  json: {\n    _statusCode: 200,\n    resultados: dedup\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,576],"id":"f64ca985-9ae2-49d6-b5c5-95dbd9261e7c","name":"Moldar resposta"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ resultados: $json.resultados || [] }) }}","options":{"responseCode":"={{ $json._statusCode || 200 }}","responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2704,464],"id":"30f9f362-2889-42ab-b089-c53f7f926881","name":"Responder"}],"connections":{"Webhook":{"main":[[{"node":"Preparar URL","type":"main","index":0}]]},"Preparar URL":{"main":[[{"node":"Query curta?","type":"main","index":0}]]},"Query curta?":{"main":[[{"node":"Responder","type":"main","index":0}],[{"node":"Consultar RM (AIONS)","type":"main","index":0}]]},"Consultar RM (AIONS)":{"main":[[{"node":"Moldar resposta","type":"main","index":0}]]},"Moldar resposta":{"main":[[{"node":"Responder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"4cd05185-d367-4183-bf2e-09e8723bb82a","activeVersionId":null,"versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-05-14T19:27:11.223Z","createdAt":"2026-05-14T19:27:11.223Z","role":"workflow:owner","workflowId":"kphngWRKkLMbRIRw","projectId":"kDKKlC23HqJCyHvF","project":{"updatedAt":"2026-04-09T20:33:54.993Z","createdAt":"2026-04-09T20:28:48.909Z","id":"kDKKlC23HqJCyHvF","name":"Isaac Raylen <isaac.gomes@contatoserv.com.br>","type":"personal","icon":null,"description":null,"creatorId":"811d2d9e-6074-4762-8533-fe3acae08af3"}}],"tags":[],"activeVersion":null}