.n8n_backup/novo_Jw920S5JLkuWK0j2.json
{"updatedAt":"2026-05-19T15:37:14.211Z","createdAt":"2026-05-18T02:25:51.384Z","id":"Jw920S5JLkuWK0j2","name":"Intermitente Processar Atestados (subworkflow)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[9984,3584],"id":"cdab371a-6321-48ec-af41-ea08f575b35c","name":"Receber Input"},{"parameters":{"jsCode":"// Recebe item unico do WF3 caller com atestados_para_upload[] + binaries.\n// Emite N items, 1 por atestado, com binary normalizado em key '0'.\n// Se algum binary nao chegar, retorna erro bloqueante estruturado.\nconst input = $input.first();\nconst hist = input.json || {};\nconst binary = input.binary || {};\nconst atestados = Array.isArray(hist.atestados_para_upload) ? hist.atestados_para_upload : [];\nconst out = [];\nfor (const a of atestados) {\n  const binaryName = a.binary_name || ('atestado_' + a.id);\n  const bin = binary[binaryName];\n  const base = { atestado_id: a.id, data_inicio: a.data_inicio, data_fim: a.data_fim, tipo_documento: a.tipo_documento || a.tipoDocumento || 'atestado', periodos: Array.isArray(a.periodos) ? a.periodos : [], primeiro_dia_foi_trabalhar: a.primeiro_dia_foi_trabalhar, primeiro_dia_trabalhou_seis_horas: a.primeiro_dia_trabalhou_seis_horas, nome_arquivo: a.nome_arquivo, tamanho_arquivo: a.tamanho_arquivo, hist_uuid: hist.uuid, hist_item_id: hist.item_id, hist_nome: hist.nome, hist_contrato: hist.contrato, historico_file_column: a.historico_file_column || 'file_mm3cvt54', binary_name: binaryName };\n  if (!bin) { out.push({ json: { ...base, _erro: true, _erro_code: 'arquivo_ausente', _erro_etapa: 'receber_arquivo_atestado', _erro_msg: 'Binary ausente no subworkflow: ' + binaryName } }); continue; }\n  out.push({ json: base, binary: { '0': bin } });\n}\nif (atestados.length > 0 && out.length === 0) return [{ json: { _erro: true, _erro_code: 'arquivo_ausente', _erro_etapa: 'expandir_atestados', _erro_msg: 'Nenhum arquivo de atestado chegou ao subworkflow.' } }];\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[10240,3584],"id":"2a936cdf-22dc-409a-8c80-a7bc56477451","name":"Expandir Atestados"},{"parameters":{"jsCode":"// Monta GraphQL create_item no board Controle de Atestados.\nconst BOARD_CONTROLE = 18298015951;\nconst GROUP_CONTROLE = 'topics';\nconst a = $json;\nif (a._erro) return [{ json: { ...a, queryControle: 'query { me { id } }', skip_http: true }, binary: $binary }];\nconst meses = ['JANEIRO','FEVEREIRO','MAR\\u00c7O','ABRIL','MAIO','JUNHO','JULHO','AGOSTO','SETEMBRO','OUTUBRO','NOVEMBRO','DEZEMBRO'];\nfunction br(iso) { if (!iso) return ''; const parts = iso.split('-'); return parts[2] + '/' + parts[1] + '/' + parts[0]; }\nfunction dias(inicio, fim) { const out = []; const cur = new Date(inicio + 'T00:00:00Z'); const end = new Date(fim + 'T00:00:00Z'); while (cur <= end) { out.push(cur.toISOString().slice(0,10)); cur.setUTCDate(cur.getUTCDate()+1); } return out; }\nfunction contratoLabel(v) { const s = String(v || '').toUpperCase().trim(); if (s.includes('DETRAN')) return 'DETRAN'; if (s.includes('TRE')) return 'TRE PB'; if (s.includes('SEMSA')) return 'SEMSA'; if (s.includes('CETAM')) return 'CETAM'; if (s.includes('INTERIOR')) return 'SEDUC INTERIOR'; if (s.includes('COORDENADORIA')) return 'SEDUC COORDENADORIAS'; if (s.includes('ESCOLA')) return 'SEDUC ESCOLA'; return s || 'SEDUC SEDE'; }\nfunction labelHoras(a) { if (!a.primeiro_dia_foi_trabalhar) return 'N\\u00e3o se aplica'; if (a.primeiro_dia_trabalhou_seis_horas === true) return 'Trabalhou +6h'; if (a.primeiro_dia_trabalhou_seis_horas === false) return 'Trabalhou -6h'; return 'N\\u00e3o se aplica'; }\nconst datas = dias(a.data_inicio, a.data_fim);\nconst mesIndex = Number(String(a.data_inicio).slice(5,7)) - 1;\nconst competencia = meses[mesIndex] || '';\nconst columnValues = { single_select5yq25pm: { label: 'INTERMITENTE' }, sele__o_individual__1: { label: a.tipo_documento === 'declaracao' ? 'Declaracao de Comparecimento' : 'Atestado M\\u00e9dico' }, numberjox5johv: String(datas.length), short_textcpcyzaec: br(a.data_inicio) + ' a ' + br(a.data_fim), date: { date: a.data_inicio }, single_selectkiwkh2d: { label: 'NDA' }, single_selectcovdz0i: { label: labelHoras(a) }, sele__o_individual8__1: { label: 'Sem acompanhamento' }, department: { label: contratoLabel(a.hist_contrato) }, short_textl33u569o: 'Convocacao ' + a.hist_uuid + ' | Historico ' + a.hist_item_id + ' | ' + a.data_inicio + ' a ' + a.data_fim + (a.tipo_documento === 'declaracao' ? ' | Declaracao: ' + (a.periodos || []).join('+') : ''), color_mky1mjh7: { label: 'VALIDADO' }, status: { label: 'VERIFICAR' }, color_mkzbgzc6: { label: 'AGUARDANDO RETORNO' } };\nif (competencia) columnValues.dropdown_mkzsebbf = { labels: [competencia] };\nconst escaped = JSON.stringify(JSON.stringify(columnValues));\nconst query = 'mutation { create_item(board_id: ' + BOARD_CONTROLE + ', group_id: ' + JSON.stringify(GROUP_CONTROLE) + ', item_name: ' + JSON.stringify(a.hist_nome) + ', column_values: ' + escaped + ', create_labels_if_missing: true) { id } }';\nreturn [{ json: { ...$json, queryControle: query }, binary: $binary }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[10496,3584],"id":"48152506-746e-4039-8c12-5572b99aba84","name":"Preparar Create Item Controle"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: $json.queryControle }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[10752,3584],"id":"e67851e3-db7e-4747-a15e-a4e7e4cbaad5","name":"Criar Item Atestado Controle","credentials":{"mondayApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"},"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const BOARD_CONTROLE = 18298015951;\nconst r = $json;\nconst all = $('Preparar Create Item Controle').all();\nconst idx = $itemIndex;\nconst prep = all[idx]?.json || {};\nconst bin = all[idx]?.binary || {};\nif (prep._erro) return [{ json: { ...prep, monday_item_id: null, monday_item_url: null }, binary: bin }];\nconst itemId = r?.data?.create_item?.id || r?.body?.data?.create_item?.id || null;\nconst errors = r?.errors || r?.body?.errors || r?.error || null;\nfunction detalhe(v) { try { return typeof v === 'string' ? v : JSON.stringify(v); } catch { return String(v); } }\nfunction mondayCode(msg) { const s = String(msg || '').toLowerCase(); if (s.includes('permission') || s.includes('permiss') || s.includes('credential') || s.includes('unauthorized') || s.includes('forbidden')) return 'erro_monday_permissao'; if (s.includes('rate') || s.includes('limit') || s.includes('complexity') || s.includes('too many')) return 'erro_monday_limite'; return 'erro_criar_atestado_monday'; }\nif (!itemId) { const msg = detalhe(errors || 'Sem id retornado ao criar item no Controle de Atestados'); return [{ json: { ...prep, _erro: true, _erro_code: mondayCode(msg), _erro_etapa: 'criar_atestado_controle', _erro_msg: msg, monday_item_id: null, monday_item_url: null }, binary: bin }]; }\nreturn [{ json: { ...prep, monday_item_id: String(itemId), monday_item_url: 'https://contato-serv.monday.com/boards/' + BOARD_CONTROLE + '/pulses/' + itemId }, binary: bin }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[11008,3584],"id":"5413b9a6-f494-45ea-8fde-db13f6d96e58","name":"Capturar IDs Atestados"},{"parameters":{"jsCode":"const fileMutation = 'mutation ($file: File!, $item_id: ID!, $column_id: String!) { add_file_to_column(item_id: $item_id, column_id: $column_id, file: $file) { id } }';\nconst a = $json;\nif (a._erro) return [{ json: { ...a, upload_controle_query: 'query { me { id } }', upload_controle_variables: '{}', upload_controle_map: '{}', skip_http: true }, binary: $binary }];\nreturn [{ json: { ...a, upload_controle_query: fileMutation, upload_controle_variables: JSON.stringify({ file: null, item_id: a.monday_item_id, column_id: 'files' }), upload_controle_map: JSON.stringify({ '0': ['variables.file'] }) }, binary: $binary }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[11264,3584],"id":"09376663-4e10-4bff-aa9c-5a56c0bbdf55","name":"Preparar Upload Controle"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2/file","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $credentials.mondayApi.apiToken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"query","value":"={{ $json.upload_controle_query }}"},{"name":"variables","value":"={{ $json.upload_controle_variables }}"},{"name":"map","value":"={{ $json.upload_controle_map }}"},{"parameterType":"formBinaryData","name":"0","inputDataFieldName":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[11520,3584],"id":"4f6ce6f9-eece-488f-89b5-fc9c3bc42b47","name":"Upload Arquivo Atestado Controle","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const all = $('Preparar Upload Controle').all();\nconst idx = $itemIndex;\nconst prep = all[idx]?.json || {};\nconst bin = all[idx]?.binary || {};\nif (prep._erro) return [{ json: { ...prep, upload_controle_ok: false }, binary: bin }];\nconst respUpload = $json;\nconst uploadOK = !!(respUpload?.data?.add_file_to_column?.id || respUpload?.body?.data?.add_file_to_column?.id);\nconst uploadErrors = respUpload?.errors || respUpload?.body?.errors || respUpload?.error || null;\nconst fileMutation = 'mutation ($file: File!, $item_id: ID!, $column_id: String!) { add_file_to_column(item_id: $item_id, column_id: $column_id, file: $file) { id } }';\nreturn [{ json: { ...prep, upload_controle_ok: uploadOK, upload_controle_error: uploadOK ? null : uploadErrors, upload_historico_query: fileMutation, upload_historico_variables: JSON.stringify({ file: null, item_id: prep.hist_item_id, column_id: prep.historico_file_column }), upload_historico_map: JSON.stringify({ '0': ['variables.file'] }) }, binary: bin }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[11776,3584],"id":"0c2d2851-2471-4542-b7a3-c1b8680a268f","name":"Preparar Upload Histórico"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2/file","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $credentials.mondayApi.apiToken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"query","value":"={{ $json.upload_historico_query }}"},{"name":"variables","value":"={{ $json.upload_historico_variables }}"},{"name":"map","value":"={{ $json.upload_historico_map }}"},{"parameterType":"formBinaryData","name":"0","inputDataFieldName":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[12032,3584],"id":"197b45fe-4335-476b-b508-c4758f122055","name":"Upload Arquivo Atestado Histórico","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const prepNodeName = 'Preparar Upload Histórico';\nconst all = $(prepNodeName).all();\nconst respostas = $input.all();\nfunction detalhe(v) { if (!v) return null; try { return typeof v === 'string' ? v : JSON.stringify(v); } catch { return String(v); } }\nfunction mondayCode(msg, fallback) { const s = String(msg || '').toLowerCase(); if (s.includes('permission') || s.includes('permiss') || s.includes('credential') || s.includes('unauthorized') || s.includes('forbidden')) return 'erro_monday_permissao'; if (s.includes('rate') || s.includes('limit') || s.includes('complexity') || s.includes('too many')) return 'erro_monday_limite'; return fallback; }\nconst atestados_enriquecidos = [];\nconst errors = [];\nfor (let i = 0; i < all.length; i++) {\n  const prep = all[i].json;\n  const resp = respostas[i]?.json || {};\n  const uploadHistOK = !!(resp?.data?.add_file_to_column?.id || resp?.body?.data?.add_file_to_column?.id);\n  const uploadHistError = resp?.errors || resp?.body?.errors || resp?.error || null;\n  atestados_enriquecidos.push({ id: prep.atestado_id, data_inicio: prep.data_inicio, data_fim: prep.data_fim, tipo_documento: prep.tipo_documento || 'atestado', periodos: Array.isArray(prep.periodos) ? prep.periodos : [], primeiro_dia_foi_trabalhar: prep.primeiro_dia_foi_trabalhar, primeiro_dia_trabalhou_seis_horas: prep.primeiro_dia_trabalhou_seis_horas, nome_arquivo: prep.nome_arquivo, tamanho_arquivo: prep.tamanho_arquivo, monday_item_id: prep.monday_item_id || null, monday_item_url: prep.monday_item_url || null, upload_controle_ok: prep.upload_controle_ok ?? false, upload_historico_ok: uploadHistOK });\n  if (prep._erro) errors.push({ erro: prep._erro_code || 'erro_criar_atestado_monday', atestado_id: prep.atestado_id, etapa: prep._erro_etapa || 'criar_atestado_controle', detalhe_tecnico: prep._erro_msg });\n  if (prep.monday_item_id && !prep.upload_controle_ok) errors.push({ erro: mondayCode(detalhe(prep.upload_controle_error), 'erro_anexar_controle'), atestado_id: prep.atestado_id, etapa: 'anexar_controle', detalhe_tecnico: detalhe(prep.upload_controle_error) || 'Upload no Controle de Atestados falhou' });\n  if (prep.monday_item_id && !uploadHistOK) errors.push({ erro: mondayCode(detalhe(uploadHistError), 'erro_anexar_historico'), atestado_id: prep.atestado_id, etapa: 'anexar_historico', detalhe_tecnico: detalhe(uploadHistError) || 'Upload no Histórico falhou' });\n}\nreturn [{ json: { ok: errors.length === 0, atestados_processados: atestados_enriquecidos.length, atestados_enriquecidos, errors } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12288,3584],"id":"adcbb534-00db-46ac-b852-f5f8887eb6ff","name":"Aggregar Resultados"},{"parameters":{"jsCode":"const agg = $('Aggregar Resultados').first().json;\nfunction msg(code) {\n  const map = {\n    erro_criar_atestado_monday: 'Nao foi possivel criar o registro do atestado no Monday.',\n    erro_anexar_controle: 'Nao foi possivel anexar o arquivo no Controle de Atestados.',\n    erro_anexar_historico: 'Nao foi possivel anexar o arquivo no Historico.',\n    erro_atualizar_historico: 'O atestado foi processado, mas nao foi possivel atualizar o Historico.',\n    erro_monday_permissao: 'O Monday recusou a operacao por permissao ou credencial.',\n    erro_monday_limite: 'O Monday limitou a requisicao. Tente novamente em alguns minutos.',\n    erro_interno_atestado: 'Erro interno ao processar o atestado.'\n  };\n  return map[code] || map.erro_interno_atestado;\n}\nif (!agg.ok) {\n  const first = agg.errors?.[0] || {};\n  const code = first.erro || 'erro_interno_atestado';\n  return [{ json: {\n    ok: false,\n    _statusCode: code === 'erro_monday_limite' ? 429 : 500,\n    erro: code,\n    mensagem: msg(code),\n    atestado_id: first.atestado_id || null,\n    etapa: first.etapa || 'processar_atestado',\n    detalhe_tecnico: first.detalhe_tecnico || JSON.stringify(agg.errors || []),\n    notificar_whatsapp: true\n  } }];\n}\nreturn [{ json: {\n  ok: true,\n  atestados_processados: agg.atestados_processados,\n  atestados_enriquecidos: agg.atestados_enriquecidos\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12528,3584],"id":"9b6bedcd-caa3-47e4-bead-fbb8d3bf42aa","name":"Finalizar Resultado Atestados","alwaysOutputData":true}],"connections":{"Receber Input":{"main":[[{"node":"Expandir Atestados","type":"main","index":0}]]},"Expandir Atestados":{"main":[[{"node":"Preparar Create Item Controle","type":"main","index":0}]]},"Preparar Create Item Controle":{"main":[[{"node":"Criar Item Atestado Controle","type":"main","index":0}]]},"Criar Item Atestado Controle":{"main":[[{"node":"Capturar IDs Atestados","type":"main","index":0}],[{"node":"Capturar IDs Atestados","type":"main","index":0}]]},"Capturar IDs Atestados":{"main":[[{"node":"Preparar Upload Controle","type":"main","index":0}]]},"Preparar Upload Controle":{"main":[[{"node":"Upload Arquivo Atestado Controle","type":"main","index":0}]]},"Upload Arquivo Atestado Controle":{"main":[[{"node":"Preparar Upload Histórico","type":"main","index":0}],[{"node":"Preparar Upload Histórico","type":"main","index":0}]]},"Aggregar Resultados":{"main":[[{"node":"Finalizar Resultado Atestados","type":"main","index":0}]]},"Preparar Upload Histórico":{"main":[[{"node":"Upload Arquivo Atestado Histórico","type":"main","index":0}]]},"Upload Arquivo Atestado Histórico":{"main":[[{"node":"Aggregar Resultados","type":"main","index":0}],[{"node":"Aggregar Resultados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"1db6ccfe-027d-4536-b720-9dc569dec3f6","activeVersionId":null,"versionCounter":108,"triggerCount":0,"shared":[{"updatedAt":"2026-05-18T02:25:51.384Z","createdAt":"2026-05-18T02:25:51.384Z","role":"workflow:owner","workflowId":"Jw920S5JLkuWK0j2","projectId":"kDKKlC23HqJCyHvF","project":{"updatedAt":"2026-04-09T20:33:54.993Z","createdAt":"2026-04-09T20:28:48.909Z","id":"kDKKlC23HqJCyHvF","name":"Isaac Raylen <isaac.gomes@contatoserv.com.br>","type":"personal","icon":null,"description":null,"creatorId":"811d2d9e-6074-4762-8533-fe3acae08af3"}}],"tags":[],"activeVersion":null}