docs/n8n/wf1-preparar.json
{
  "name": "Intermitente — 1. Preparar (monday)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Intermitentehaha",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-560, 32],
      "id": "af789ace-b82e-4da7-a951-d7a91e12248f",
      "name": "Webhook",
      "webhookId": "9920a692-0005-461e-bca6-b63126a46cf3"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "itemId": "={{ $json.body.event.pulseId.toString() }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [-336, 32],
      "id": "0d3aedf2-a9b2-490a-9b8b-bb4d63882dbd",
      "name": "Get item origem",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==============================================================\n// WF1 — Preparar (monday)\n// Extrai dados do item origem, gera UUID, monta dias e link,\n// e prepara column_values JSON para o create_item no board histórico.\n// ==============================================================\n\nconst APP_BASE_URL    = 'http://192.168.0.40'; // VM intranet (sem domínio)\nconst BOARD_ORIGEM_ID = 18408773953; // só para montar URL do item origem\n\n// Colunas do board ORIGEM (mensal)\nconst COL_ORIGEM_CONTRATO = 'color_mktcnxwn';\nconst COL_ORIGEM_DATA_INI = 'date_mktayxhb';\nconst COL_ORIGEM_DATA_FIM = 'date_mktasnwq';\nconst COL_ORIGEM_NOME     = 'dropdown_mktadatt';\nconst COL_ORIGEM_CHAPA    = 'texto'; // Funcionário (código de chapa)\n\n// Colunas do board HISTÓRICO (destino) — IDs verificados em 2026-04-30\nconst COL_HIST_UUID         = 'text_mm2xjend';\nconst COL_HIST_CONTRATO     = 'text_mm2x1ktb';\nconst COL_HIST_SOLICITANTE  = 'text_mm2xxkm8';\nconst COL_HIST_CHAPA        = 'text_mm33v9kp'; // Funcionário (código de chapa)\nconst COL_HIST_DATA_INICIO  = 'date_mm2xtp93';\nconst COL_HIST_DATA_FIM     = 'date_mm2xrr5q';\nconst COL_HIST_EXPIRA_EM    = 'date_mm2xrvt4';\nconst COL_HIST_CRIADO_EM    = 'date_mm2x115h';\nconst COL_HIST_STATUS       = 'color_mm2xkqpc';\nconst COL_HIST_ITEM_ORIGEM  = 'link_mm2x1rk0';\nconst COL_HIST_LINK_PREENCH = 'link_mm2xfay7';\n\nconst raw = $input.first().json;\nconst item = raw.data?.item ?? raw.item ?? raw;\nconst columnValues = item.column_values ?? [];\nconst getCol = (id) => columnValues.find(c => c.id === id);\n\nconst contrato   = getCol(COL_ORIGEM_CONTRATO)?.text || null;\nconst dataInicio = getCol(COL_ORIGEM_DATA_INI)?.text || null;\nconst dataFim    = getCol(COL_ORIGEM_DATA_FIM)?.text || null;\nconst nomeCol    = getCol(COL_ORIGEM_NOME);\nconst nome       = nomeCol?.text || item.name || 'Sem nome';\nconst chapa      = getCol(COL_ORIGEM_CHAPA)?.text || '';\n\nif (!dataInicio || !dataFim) {\n  throw new Error(`Item ${item.id} sem data_inicio (${dataInicio}) ou data_fim (${dataFim}).`);\n}\n\n// UUID v4 (Code node do n8n Cloud não expõe crypto global)\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\nconst uuid = uuidv4();\n\n// Lista de dias inclusivos\nconst dias = [];\nconst atual = new Date(dataInicio + 'T00:00:00Z');\nconst fim = new Date(dataFim + 'T00:00:00Z');\nwhile (atual <= fim) {\n  dias.push(atual.toISOString().slice(0, 10));\n  atual.setUTCDate(atual.getUTCDate() + 1);\n}\n\nconst link = `${APP_BASE_URL}/preencher/${uuid}`;\nconst itemOrigemUrl = `https://contato-serv.monday.com/boards/${BOARD_ORIGEM_ID}/pulses/${item.id}`;\n\nconst agora = new Date();\nconst expiraEm = new Date(agora);\nexpiraEm.setUTCDate(expiraEm.getUTCDate() + 30);\n\nfunction dateValue(iso, withTime) {\n  if (!iso) return null;\n  const d = new Date(iso);\n  if (Number.isNaN(d.getTime())) return null;\n  const yyyy = d.getUTCFullYear();\n  const mm = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(d.getUTCDate()).padStart(2, '0');\n  if (!withTime) return { date: `${yyyy}-${mm}-${dd}` };\n  const hh = String(d.getUTCHours()).padStart(2, '0');\n  const mi = String(d.getUTCMinutes()).padStart(2, '0');\n  const ss = String(d.getUTCSeconds()).padStart(2, '0');\n  return { date: `${yyyy}-${mm}-${dd}`, time: `${hh}:${mi}:${ss}` };\n}\n\n// Monta o objeto column_values para o create_item\nconst columnValuesForCreate = {\n  [COL_HIST_UUID]:         uuid,\n  [COL_HIST_CONTRATO]:     contrato || '',\n  [COL_HIST_SOLICITANTE]:  '', // preencha se quiser puxar do webhook event.userId\n  [COL_HIST_CHAPA]:        chapa,\n  [COL_HIST_DATA_INICIO]:  dateValue(dataInicio, false),\n  [COL_HIST_DATA_FIM]:     dateValue(dataFim, false),\n  [COL_HIST_EXPIRA_EM]:    dateValue(expiraEm.toISOString(), false),\n  [COL_HIST_CRIADO_EM]:    dateValue(agora.toISOString(), true),\n  [COL_HIST_STATUS]:       { label: 'Aguardando' },\n  [COL_HIST_ITEM_ORIGEM]:  { url: itemOrigemUrl, text: 'Item origem' },\n  [COL_HIST_LINK_PREENCH]: { url: link, text: 'Preencher' }\n};\n\nreturn [{\n  json: {\n    uuid,\n    monday_item_id: String(item.id),\n    nome,\n    contrato,\n    data_inicio: dataInicio,\n    data_fim: dataFim,\n    dias,\n    link,\n    link_text: 'Abrir formulário',\n    column_values_json: JSON.stringify(columnValuesForCreate)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, 32],
      "id": "c1a2b3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Preparar dados"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "create",
        "boardId": 18411141462,
        "groupId": "topics",
        "name": "={{ $json.nome }}",
        "additionalFields": {
          "columnValues": "={{ $json.column_values_json }}"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [128, 32],
      "id": "d2e3f4a5-b6c7-8901-2345-6789abcdef01",
      "name": "Criar item histórico",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItemColumn",
        "operation": "changeMultiple",
        "boardId": 18408773953,
        "itemId": "={{ $('Preparar dados').first().json.monday_item_id }}",
        "columnValues": "={{ JSON.stringify({ link_mm2pn9kg: { url: $('Preparar dados').first().json.link, text: $('Preparar dados').first().json.link_text } }) }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [368, 32],
      "id": "e3f4a5b6-c7d8-9012-3456-7890abcdef12",
      "name": "Atualizar Link Column",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Get item origem", "type": "main", "index": 0 }]]
    },
    "Get item origem": {
      "main": [[{ "node": "Preparar dados", "type": "main", "index": 0 }]]
    },
    "Preparar dados": {
      "main": [[{ "node": "Criar item histórico", "type": "main", "index": 0 }]]
    },
    "Criar item histórico": {
      "main": [[{ "node": "Atualizar Link Column", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "wf1-preparar-monday-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "dSCt3YwcvhaAySQi",
  "tags": []
}
