docs/n8n/wf2-ler.json
{
  "name": "Intermitente — 2. Ler (monday)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "intermitente-ler",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-560, 32],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567001",
      "name": "Webhook",
      "webhookId": "07b92cd6-de6c-482c-ab96-69fe9ad99568"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": 18411141462,
        "columnId": "text_mm2xjend",
        "columnValue": "={{ $json.query.uuid }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [-336, 32],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567002",
      "name": "Buscar por UUID",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ==============================================================\n// WF2 — Ler (monday)\n// Recebe o resultado de getByColumnValue, parseia as colunas\n// e devolve no shape esperado pelo frontend.\n// ==============================================================\n\n// Colunas do board HISTÓRICO\nconst COL_UUID         = 'text_mm2xjend';\nconst COL_PROTOCOLO    = 'text_mm2xsvg6';\nconst COL_CONTRATO     = 'text_mm2x1ktb';\nconst COL_DATA_INICIO  = 'date_mm2xtp93';\nconst COL_DATA_FIM     = 'date_mm2xrr5q';\nconst COL_EXPIRA_EM    = 'date_mm2xrvt4';\nconst COL_CRIADO_EM    = 'date_mm2x115h';\nconst COL_CONCLUIDO    = 'date_mm2xh1vm';\nconst COL_EDITADO_EM   = 'date_mm2x62fq';\nconst COL_STATUS       = 'color_mm2xkqpc';\nconst COL_EDITADO      = 'boolean_mm2x1aa4';\nconst COL_DIAS_EXTRAS  = 'long_text_mm2x73w6';\nconst COL_DIAS_DESATIV = 'long_text_mm2xm820';\nconst COL_RESPOSTAS    = 'long_text_mm2xtcpw';\nconst COL_TRABALHA_SABADO = 'color_mm34yyet';\nconst COL_SABADOS_EXTRAS  = 'text_mm3bfn6h';\n\nconst all = $input.all();\nconst uuid = $('Webhook').first().json.query?.uuid;\n\n// Quando getByColumnValue não acha nada, ou retorna [] ou um item-vazio\nfunction firstRealItem() {\n  for (const it of all) {\n    const j = it.json;\n    if (!j) continue;\n    if (j.id && (j.column_values || j.name)) return j;\n  }\n  return null;\n}\n\nconst item = firstRealItem();\nif (!item) {\n  return [{\n    json: {\n      _statusCode: 404,\n      erro: 'nao_encontrado',\n      mensagem: 'Link inválido ou expirado.'\n    }\n  }];\n}\n\nconst columnValues = item.column_values ?? [];\nconst getCol = (id) => columnValues.find(c => c.id === id) || null;\nconst text = (id) => getCol(id)?.text ?? null;\nconst rawValue = (id) => getCol(id)?.value ?? null;\n\nfunction parseDate(id) {\n  // monday Date returns text 'YYYY-MM-DD' or 'YYYY-MM-DD HH:mm:ss'\n  const t = text(id);\n  if (!t) return null;\n  return t;\n}\n\nfunction parseStatusLabel(id) {\n  return text(id);\n}\n\nfunction parseCheckbox(id) {\n  const v = rawValue(id);\n  if (!v) return false;\n  try {\n    const parsed = typeof v === 'string' ? JSON.parse(v) : v;\n    return parsed?.checked === true || parsed?.checked === 'true';\n  } catch { return false; }\n}\n\nfunction parseLongTextJson(id, fallback) {\n  const t = text(id);\n  if (!t) return fallback;\n  try { return JSON.parse(t); } catch { return fallback; }\n}\n\nconst dataInicio = parseDate(COL_DATA_INICIO);\nconst dataFim    = parseDate(COL_DATA_FIM);\nconst statusLabel = parseStatusLabel(COL_STATUS);\nconst statusMap = {\n  'Aguardando': 'aguardando',\n  'Concluído':  'concluido',\n  'Concluido':  'concluido',\n  'Expirado':   'expirado'\n};\nlet status = statusMap[statusLabel] || 'aguardando';\n\nconst expiraEm = parseDate(COL_EXPIRA_EM);\nconst agora = new Date();\nif (status === 'aguardando' && expiraEm) {\n  if (agora > new Date(expiraEm + 'T23:59:59Z')) status = 'expirado';\n}\n\n// Trabalha sábado (do board origem, label SIM/NÃO)\nconst trabalhaSabadoLabel = parseStatusLabel(COL_TRABALHA_SABADO);\nconst trabalhaSabado = !!trabalhaSabadoLabel && /sim/i.test(trabalhaSabadoLabel);\n\n// Sábados extras (text livre): aceita lista separada por vírgula, ponto-e-vírgula ou quebra de linha\nconst sabadosExtrasRaw = text(COL_SABADOS_EXTRAS);\nconst sabadosExtras = sabadosExtrasRaw\n  ? sabadosExtrasRaw\n      .split(/[,;\\n]/)\n      .map(s => s.trim())\n      .filter(s => /^\\d{4}-\\d{2}-\\d{2}$/.test(s))\n  : [];\n\n// Lista de dias inclusivos (período base). Pula domingos sempre; pula\n// sábados quando intermitente NÃO trabalha aos sábados (sábado extra\n// entra via coluna própria, não na lista padrão).\nconst dias = [];\nif (dataInicio && dataFim) {\n  const cur = new Date(dataInicio + 'T00:00:00Z');\n  const fim = new Date(dataFim + 'T00:00:00Z');\n  while (cur <= fim) {\n    const dow = cur.getUTCDay();\n    const pular = dow === 0 || (!trabalhaSabado && dow === 6);\n    if (!pular) dias.push(cur.toISOString().slice(0, 10));\n    cur.setUTCDate(cur.getUTCDate() + 1);\n  }\n}\n\nconst respostas      = parseLongTextJson(COL_RESPOSTAS, []);\nconst diasExtras     = parseLongTextJson(COL_DIAS_EXTRAS, []);\nconst diasDesativ    = parseLongTextJson(COL_DIAS_DESATIV, []);\n\nreturn [{\n  json: {\n    _statusCode: 200,\n    uuid: text(COL_UUID) || uuid,\n    status,\n    nome: item.name,\n    contrato: text(COL_CONTRATO),\n    data_inicio: dataInicio,\n    data_fim: dataFim,\n    dias,\n    expira_em: expiraEm,\n    concluido_em: parseDate(COL_CONCLUIDO),\n    protocolo: text(COL_PROTOCOLO),\n    editado: parseCheckbox(COL_EDITADO),\n    editado_em: parseDate(COL_EDITADO_EM),\n    respostas,\n    dias_extras: diasExtras,\n    dias_desativados: diasDesativ,\n    trabalha_sabado: trabalhaSabado,\n    sabados_extras: sabadosExtras\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, 32],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567003",
      "name": "Moldar resposta"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json._statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [128, 32],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567004",
      "name": "Responder"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Buscar por UUID", "type": "main", "index": 0 }]]
    },
    "Buscar por UUID": {
      "main": [[{ "node": "Moldar resposta", "type": "main", "index": 0 }]]
    },
    "Moldar resposta": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "wf2-ler-monday-v2-sabados",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "WHtIQDf8oOWinGyx",
  "tags": []
}
