docs/n8n/wf3-finalizar.json
{
  "name": "Intermitente — 3. Finalizar (monday)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intermitente-finalizar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-720, 32],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567101",
      "name": "Webhook",
      "webhookId": "eb331f4e-864f-4b0d-94b6-b17d6d50ca9f"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": 18411141462,
        "columnId": "text_mm2xjend",
        "columnValue": "={{ $json.query.uuid || $json.body.uuid }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [-496, 32],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567102",
      "name": "Buscar por UUID",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ==============================================================\n// WF3 — Validar e preparar (monday)\n// Lê o item encontrado, valida o payload e calcula:\n//   - estado novo (concluido) e timestamps\n//   - agregados (qtd_faltas, qtd_atrasos, total_minutos_atraso)\n//   - flag editado se já estava concluido OU eh_correcao=true\n// Saída: column_values_json para o change_multiple no item.\n// ==============================================================\n\nconst COL_UUID         = 'text_mm2xjend';\nconst COL_PROTOCOLO    = 'text_mm2xsvg6';\nconst COL_DATA_INICIO  = 'date_mm2xtp93';\nconst COL_DATA_FIM     = 'date_mm2xrr5q';\nconst COL_EXPIRA_EM    = 'date_mm2xrvt4';\nconst COL_CONCLUIDO_EM = 'date_mm2xh1vm';\nconst COL_EDITADO_EM   = 'date_mm2x62fq';\nconst COL_STATUS       = 'color_mm2xkqpc';\nconst COL_EDITADO      = 'boolean_mm2x1aa4';\nconst COL_QTD_FALTAS   = 'numeric_mm2xe2zk';\nconst COL_QTD_ATRASOS  = 'numeric_mm2x18hh';\nconst COL_TOTAL_MIN    = 'numeric_mm2x4fjj';\nconst COL_DIAS_EXTRAS  = 'long_text_mm2x73w6';\nconst COL_DIAS_DESATIV = 'long_text_mm2xm820';\nconst COL_RESPOSTAS    = 'long_text_mm2xtcpw';\nconst COL_TOTAL_MIN_DEVIDOS = 'numeric_mm3455ss';\nconst COL_DIAS_PERDE_VT     = 'numeric_mm345xb6';\nconst COL_DIAS_PERDE_VR     = 'numeric_mm34a3ph';\nconst COL_CONTRATO          = 'text_mm2x1ktb';\nconst COL_CHAPA             = 'text_mm33v9kp';\nconst COL_OPTANTE_VT        = 'color_mm34ry47'; // status SIM/NÃO\nconst COL_TRABALHA_SAB      = 'color_mm34yyet'; // status SIM/NÃO\n\nconst webhook = $('Webhook').first().json;\nconst body = webhook.body || {};\nconst uuid = webhook.query?.uuid || body.uuid;\nconst respostas = Array.isArray(body.respostas) ? body.respostas : [];\nconst protocolo = body.protocolo || null;\nconst diasExtras = Array.isArray(body.dias_extras) ? body.dias_extras : [];\nconst diasDesativ = Array.isArray(body.dias_desativados) ? body.dias_desativados : [];\nconst ehCorrecaoFlag = !!body.eh_correcao;\n\nconst all = $input.all();\nfunction firstRealItem() {\n  for (const it of all) {\n    const j = it.json;\n    if (j && j.id && (j.column_values || j.name)) return j;\n  }\n  return null;\n}\nconst item = firstRealItem();\n\nif (!item) {\n  return [{ json: { _statusCode: 404, _erro: 'nao_encontrado', mensagem: 'Processamento não encontrado.' } }];\n}\n\nconst columnValues = item.column_values ?? [];\nconst getCol = (id) => columnValues.find(c => c.id === id);\nconst text = (id) => getCol(id)?.text ?? null;\nconst rawValue = (id) => getCol(id)?.value ?? null;\n\nfunction parseCheckbox(id) {\n  const v = rawValue(id);\n  if (!v) return false;\n  try {\n    const parsed = typeof v === 'string' ? JSON.parse(v) : v;\n    return parsed?.checked === true || parsed?.checked === 'true';\n  } catch { return false; }\n}\n\nconst statusLabel = text(COL_STATUS);\nconst dataInicio  = text(COL_DATA_INICIO);\nconst dataFim     = text(COL_DATA_FIM);\nconst expiraEm    = text(COL_EXPIRA_EM);\nconst concluidoEmAtual = text(COL_CONCLUIDO_EM);\nconst jaEstavaEditado = parseCheckbox(COL_EDITADO);\n\nconst agora = new Date();\n\n// 410 expirado\nif (statusLabel === 'Expirado' || (expiraEm && agora > new Date(expiraEm + 'T23:59:59Z') && statusLabel !== 'Concluído')) {\n  return [{ json: { _statusCode: 410, _erro: 'expirado', mensagem: 'Link expirado.' } }];\n}\n\n// 409 já concluído (se NÃO for correção)\nif ((statusLabel === 'Concluído' || statusLabel === 'Concluido') && !ehCorrecaoFlag) {\n  return [{ json: { _statusCode: 409, _erro: 'ja_concluido', mensagem: 'Este formulário já foi finalizado.' } }];\n}\n\n// Validar protocolo\nif (!protocolo || !/^PROT-[A-Z0-9-]+$/i.test(protocolo)) {\n  return [{ json: { _statusCode: 400, _erro: 'protocolo_invalido', mensagem: 'Protocolo ausente ou inválido.' } }];\n}\n\n// Conjunto de dias \"válidos\" = [periodo base sem domingos] ∪ extras − desativados\nconst diasBase = [];\nif (dataInicio && dataFim) {\n  const cur = new Date(dataInicio + 'T00:00:00Z');\n  const fim = new Date(dataFim + 'T00:00:00Z');\n  while (cur <= fim) {\n    if (cur.getUTCDay() !== 0) {\n      diasBase.push(cur.toISOString().slice(0, 10));\n    }\n    cur.setUTCDate(cur.getUTCDate() + 1);\n  }\n}\nconst desativ = new Set(diasDesativ);\nconst diasValidos = [...new Set([...diasBase, ...diasExtras])].filter(d => !desativ.has(d)).sort();\n\n// Validar respostas: 1 por dia válido\nconst mapaRespostas = new Map(respostas.map(r => [r.data, r]));\nconst respostasFinal = [];\nfor (const dia of diasValidos) {\n  const r = mapaRespostas.get(dia);\n  if (!r || !r.tipo) {\n    return [{ json: { _statusCode: 400, _erro: 'resposta_faltando', mensagem: `Resposta faltando para o dia ${dia}.` } }];\n  }\n  if (!['sem_ocorrencia','falta','atraso'].includes(r.tipo)) {\n    return [{ json: { _statusCode: 400, _erro: 'tipo_invalido', mensagem: `Tipo inválido em ${dia}: ${r.tipo}` } }];\n  }\n  const minutos = r.minutos_atraso;\n  if (r.tipo === 'atraso' && (!Number.isInteger(minutos) || minutos <= 0)) {\n    return [{ json: { _statusCode: 400, _erro: 'minutos_invalidos', mensagem: `Minutos de atraso inválidos em ${dia}.` } }];\n  }\n  respostasFinal.push({\n    data: dia,\n    tipo: r.tipo,\n    minutos_atraso: r.tipo === 'atraso' ? minutos : null\n  });\n}\n\n// Agregados\nconst qtdFaltas  = respostasFinal.filter(r => r.tipo === 'falta').length;\nconst qtdAtrasos = respostasFinal.filter(r => r.tipo === 'atraso').length;\nconst totalMin   = respostasFinal.reduce((acc, r) => acc + (r.tipo === 'atraso' ? (r.minutos_atraso || 0) : 0), 0);\n\n// Tempo devido + dias perde VT/VR (regra: jornada seg-sex=480min, sab=240min, dom=0;\n// VT perde em falta+desconsid (qualquer dia util); VR perde em falta+desconsid+atraso seg-sex)\nfunction _dow(d) { return new Date(d + 'T00:00:00Z').getUTCDay(); }\nfunction _jornadaMin(d) { const x = _dow(d); if (x === 0) return 0; if (x === 6) return 240; return 480; }\nfunction _isSabado(d) { return _dow(d) === 6; }\nfunction _isDomingo(d) { return _dow(d) === 0; }\n\nlet totalMinDevidos = 0;\nlet diasPerdeVT = 0;\nlet diasPerdeVR = 0;\n\nfor (const d of diasDesativ) {\n  if (_isDomingo(d)) continue;\n  totalMinDevidos += _jornadaMin(d);\n  diasPerdeVT += 1;\n  if (!_isSabado(d)) diasPerdeVR += 1;\n}\nfor (const r of respostasFinal) {\n  if (_isDomingo(r.data)) continue;\n  if (r.tipo === 'falta') {\n    totalMinDevidos += _jornadaMin(r.data);\n    diasPerdeVT += 1;\n    if (!_isSabado(r.data)) diasPerdeVR += 1;\n  } else if (r.tipo === 'atraso') {\n    // Atraso: NAO conta como dia perdido de VR. Vira valor proporcional\n    // calculado depois pelo WF de geracao de desconto (vrDia x min/480).\n    // Aqui so soma minutos pra auditoria.\n    totalMinDevidos += r.minutos_atraso || 0;\n  }\n}\n\n// Flag editado: se já estava concluído OU body.eh_correcao\nconst ehReedicao = (statusLabel === 'Concluído' || statusLabel === 'Concluido') || ehCorrecaoFlag;\nconst editadoFlag = ehReedicao || jaEstavaEditado;\n\nfunction dateValue(d, withTime) {\n  if (!d) return null;\n  const x = d instanceof Date ? d : new Date(d);\n  if (Number.isNaN(x.getTime())) return null;\n  const yyyy = x.getUTCFullYear();\n  const mm = String(x.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(x.getUTCDate()).padStart(2, '0');\n  if (!withTime) return { date: `${yyyy}-${mm}-${dd}` };\n  const hh = String(x.getUTCHours()).padStart(2, '0');\n  const mi = String(x.getUTCMinutes()).padStart(2, '0');\n  const ss = String(x.getUTCSeconds()).padStart(2, '0');\n  return { date: `${yyyy}-${mm}-${dd}`, time: `${hh}:${mi}:${ss}` };\n}\n\n// Concluido_em: preserva se já existia\nconst concluidoEmFinal = concluidoEmAtual || `${agora.toISOString().slice(0, 19).replace('T', ' ')}`;\n\nconst columnValuesUpdate = {\n  [COL_STATUS]:        { label: 'Concluído' },\n  [COL_PROTOCOLO]:     protocolo,\n  [COL_CONCLUIDO_EM]:  dateValue(concluidoEmAtual ? concluidoEmAtual : agora.toISOString(), true),\n  [COL_EDITADO]:       { checked: editadoFlag ? 'true' : 'false' },\n  [COL_EDITADO_EM]:    ehReedicao ? dateValue(agora.toISOString(), true) : null,\n  [COL_QTD_FALTAS]:    String(qtdFaltas),\n  [COL_QTD_ATRASOS]:   String(qtdAtrasos),\n  [COL_TOTAL_MIN]:     String(totalMin),\n  [COL_TOTAL_MIN_DEVIDOS]: String(totalMinDevidos),\n  [COL_DIAS_PERDE_VT]:     String(diasPerdeVT),\n  [COL_DIAS_PERDE_VR]:     String(diasPerdeVR),\n  [COL_DIAS_EXTRAS]:   { text: JSON.stringify(diasExtras) },\n  [COL_DIAS_DESATIV]:  { text: JSON.stringify(diasDesativ) },\n  [COL_RESPOSTAS]:     { text: JSON.stringify(respostasFinal) }\n};\n\n// Remover chaves null para não sobrescrever data com vazio (caso ehReedicao=false)\nfor (const k of Object.keys(columnValuesUpdate)) {\n  if (columnValuesUpdate[k] === null || columnValuesUpdate[k] === undefined) {\n    delete columnValuesUpdate[k];\n  }\n}\n\nreturn [{\n  json: {\n    _statusCode: 200,\n    item_id: String(item.id),\n    uuid,\n    protocolo,\n    editado: editadoFlag,\n    eh_reedicao: ehReedicao,\n    concluido_em_final: concluidoEmFinal,\n    column_values_json: JSON.stringify(columnValuesUpdate),\n    // Dados pra cadeia de desconto (após atualizar histórico)\n    nome: item.name,\n    chapa: text(COL_CHAPA) || '',\n    contrato: text(COL_CONTRATO) || '',\n    data_inicio: dataInicio,\n    data_fim: dataFim,\n    optante_vt: text(COL_OPTANTE_VT) || 'NÃO',\n    trabalha_sabado: text(COL_TRABALHA_SAB) || 'NÃO',\n    qtd_faltas: qtdFaltas,\n    qtd_atrasos: qtdAtrasos,\n    total_min_atraso: totalMin,\n    total_min_devidos: totalMinDevidos,\n    dias_perde_vt: diasPerdeVT,\n    dias_perde_vr: diasPerdeVR,\n    respostas_final: respostasFinal,\n    dias_desativ: diasDesativ\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-272, 32],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567103",
      "name": "Validar e preparar"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json._statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-48, 32],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567104",
      "name": "Se OK"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": 18411141462,
        "itemId": "={{ $('Validar e preparar').first().json.item_id }}",
        "columnValues": "={{ $('Validar e preparar').first().json.column_values_json }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [192, -64],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567108",
      "name": "Atualizar item",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://003080:.2099840340@contatoservicos165112.rm.cloudtotvs.com.br:8051/api/framework/v1/consultaSQLServer/RealizaConsulta/BEN%202/3/P/?parameters=$CODCOLIGADA%3D3%3BNOME%3D{{ encodeURIComponent('%' + $('Validar e preparar').first().json.nome.trim() + '%') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [432, -64],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567112",
      "name": "Buscar Empregado RM"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": 18400981023,
        "columnId": "text_mm0rpqxs",
        "columnValue": "={{ $('Validar e preparar').first().json.chapa }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [672, -64],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567113",
      "name": "Buscar Desconto Existente",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ==============================================================\n// WF3 — Decidir Desconto\n// Combina dados do histórico + RM + items existentes no board descontos\n// pra calcular descontoVR/VT e decidir create/update/skip.\n// ==============================================================\n\nconst BOARD_DESCONTOS = 18400981023;\nconst GROUP_DESCONTOS = 'group_mm0rmjs3';\n\n// Colunas do board Base de Desconto - Intermitente (18400981023)\nconst COL_D_NOME           = 'dropdown_mm0rgfrx';\nconst COL_D_MATRICULA      = 'text_mm0rpqxs';\nconst COL_D_CPF            = 'text_mm0r5ted';\nconst COL_D_DATA_INICIO    = 'date_mm0r6tyr';\nconst COL_D_DATA_FIM       = 'date_mm0rzpyv';\nconst COL_D_DIAS_PERDE_VT  = 'numeric_mm3428yj';\nconst COL_D_DIAS_PERDE_VR  = 'numeric_mm34p6p7';\nconst COL_D_QTD_ATRASOS    = 'numeric_mm2pj1av';\nconst COL_D_DESCONTO_VR    = 'numeric_mm0rgsaw';\nconst COL_D_DESCONTO_VT    = 'numeric_mm0r5tca';\nconst COL_D_STATUS         = 'color_mm0r8mjr';\nconst COL_D_RESIDUAL_VR    = 'numeric_mm0r1691';\nconst COL_D_RESIDUAL_VT    = 'numeric_mm0rtwwg';\nconst COL_D_DESCONTADO_VR  = 'numeric_mm0rqy6z';\nconst COL_D_DESCONTADO_VT  = 'numeric_mm0r6cn0';\n\nconst hist = $('Validar e preparar').first().json;\nconst rmRaw = $('Buscar Empregado RM').first().json;\n\n// RM pode retornar array (múltiplos matches) — pega primeiro com nome bate\nconst rmList = Array.isArray(rmRaw) ? rmRaw : (rmRaw ? [rmRaw] : []);\nconst nomeNorm = (s) => String(s || '').toUpperCase().trim();\nconst rm = rmList.find(r => nomeNorm(r['Nome do Intermitente']) === nomeNorm(hist.nome)) || null;\n\nif (!rm) {\n  return [{ json: { _statusCode: 200, acao: 'skip', motivo: 'nome_rm_nao_bate', warning: `Nome \"${hist.nome}\" não encontrado no RM ou não bate.` } }];\n}\n\nconst chapa = String(rm['Matrícula/Chapa'] || hist.chapa).trim();\nconst cpf = String(rm['CPF'] || '').trim();\nconst funcao = nomeNorm(rm['Função']);\nconst contrato = nomeNorm(hist.contrato);\nconst optanteVT = String(hist.optante_vt || '').toUpperCase() === 'SIM';\n// trabalhaSabado: hoje só usado pra info; cálculo do desconto já considera dow direto\n\n// ----- Resolver regra de benefício (mesma tabela do PONTUAL Nó 6) -----\nlet vrDia = 0;\nlet vtDia = 0;\nlet regraAplicada = '';\n\nif (contrato === 'DETRAN') {\n  if (funcao.includes('PORTARIA')) {\n    vrDia = 514.50 / 30;\n    regraAplicada = 'DETRAN - Agente de Portaria';\n  } else if (funcao.includes('MOTO BOY')) {\n    vrDia = 27.00;\n    regraAplicada = 'DETRAN - Moto Boy';\n  } else {\n    vrDia = 588.00 / 30;\n    regraAplicada = `DETRAN - Outras Funções (${funcao})`;\n  }\n  vtDia = 10.00;\n} else if (contrato === 'TRE PB') {\n  vrDia = 660.00 / 30;\n  vtDia = 10.40;\n  regraAplicada = 'TRE PB';\n} else {\n  vrDia = 24.50;\n  vtDia = 10.00;\n  regraAplicada = `Padrão (${contrato})`;\n}\n\nif (!optanteVT) vtDia = 0;\nvrDia = Math.round(vrDia * 100) / 100;\nvtDia = Math.round(vtDia * 100) / 100;\n\n// ----- Calcular descontoVR e descontoVT (regra fina) -----\n// VR: faltas+desconsid em seg-sex (dia inteiro) + atraso seg-sex (proporcional minutos/480)\n//     sábado nunca tem VR\n// VT: faltas+desconsid em qualquer dia útil (dia inteiro), atraso não afeta VT\n//     domingo ignorado\nfunction _dow(d) { return new Date(d + 'T00:00:00Z').getUTCDay(); }\nfunction _isSabado(d) { return _dow(d) === 6; }\nfunction _isDomingo(d) { return _dow(d) === 0; }\n\nlet descontoVR = 0;\nlet descontoVT = 0;\n\nfor (const d of hist.dias_desativ || []) {\n  if (_isDomingo(d)) continue;\n  if (!_isSabado(d)) descontoVR += vrDia;\n  descontoVT += vtDia;\n}\nfor (const r of hist.respostas_final || []) {\n  if (_isDomingo(r.data)) continue;\n  if (r.tipo === 'falta') {\n    if (!_isSabado(r.data)) descontoVR += vrDia;\n    descontoVT += vtDia;\n  } else if (r.tipo === 'atraso') {\n    if (!_isSabado(r.data) && r.minutos_atraso) {\n      descontoVR += vrDia * (r.minutos_atraso / 480);\n    }\n  }\n}\n\nif (!optanteVT) descontoVT = 0;\ndescontoVR = Math.round(descontoVR * 100) / 100;\ndescontoVT = Math.round(descontoVT * 100) / 100;\n\nif (descontoVR === 0 && descontoVT === 0) {\n  return [{ json: { _statusCode: 200, acao: 'skip', motivo: 'sem_divida', regraAplicada } }];\n}\n\n// ----- Buscar item desconto existente: filtrar por chapa + datas -----\nconst descontosRaw = $input.all();\nconst descontosList = [];\nfor (const it of descontosRaw) {\n  const j = it.json;\n  if (!j || !j.id || !j.column_values) continue;\n  const cols = {};\n  for (const c of j.column_values) cols[c.id] = { text: c.text, value: c.value };\n  const di = cols[COL_D_DATA_INICIO]?.text || null;\n  const df = cols[COL_D_DATA_FIM]?.text || null;\n  if (di === hist.data_inicio && df === hist.data_fim) {\n    descontosList.push({\n      id: String(j.id),\n      status: nomeNorm(cols[COL_D_STATUS]?.text)\n    });\n  }\n}\n\nconst existente = descontosList[0] || null;\n\n// Bloquear correção se desconto já consumido\nif (existente && (existente.status === 'PARCIAL' || existente.status === 'FINALIZADO')) {\n  return [{ json: {\n    _statusCode: 409,\n    _erro: 'desconto_em_consumo',\n    mensagem: 'Não é possível corrigir: o desconto desta convocação já foi parcial ou totalmente consumido.',\n    acao: 'skip'\n  } }];\n}\n\n// Montar column_values\nfunction toDate(d) { return d ? { date: d } : null; }\n\nconst columnValues = {\n  [COL_D_NOME]:           { labels: [hist.nome] }, // monday cria/usa label automaticamente quando array de strings\n  [COL_D_MATRICULA]:      chapa,\n  [COL_D_CPF]:            cpf,\n  [COL_D_DATA_INICIO]:    toDate(hist.data_inicio),\n  [COL_D_DATA_FIM]:       toDate(hist.data_fim),\n  [COL_D_DIAS_PERDE_VT]:  String(hist.dias_perde_vt || 0),\n  [COL_D_DIAS_PERDE_VR]:  String(hist.dias_perde_vr || 0),\n  [COL_D_QTD_ATRASOS]:    String(hist.total_min_atraso || 0),\n  [COL_D_DESCONTO_VR]:    String(descontoVR),\n  [COL_D_DESCONTO_VT]:    String(descontoVT),\n  [COL_D_STATUS]:         { label: 'PENDENTE' },\n  [COL_D_RESIDUAL_VR]:    String(descontoVR),\n  [COL_D_RESIDUAL_VT]:    String(descontoVT),\n  [COL_D_DESCONTADO_VR]:  '0',\n  [COL_D_DESCONTADO_VT]:  '0'\n};\n\n// Remover entradas null\nfor (const k of Object.keys(columnValues)) {\n  if (columnValues[k] === null || columnValues[k] === undefined) delete columnValues[k];\n}\n\nconst acao = existente ? 'update' : 'create';\nreturn [{ json: {\n  _statusCode: 200,\n  acao,\n  item_id_desconto: existente?.id || null,\n  board_id: BOARD_DESCONTOS,\n  group_id: GROUP_DESCONTOS,\n  item_name: 'INTERMITENTE',\n  column_values_json: JSON.stringify(columnValues),\n  descontoVR,\n  descontoVT,\n  regraAplicada,\n  vrDia,\n  vtDia\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, -64],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567114",
      "name": "Decidir Desconto"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ ['create','update'].includes($json.acao) }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1024, -64],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567118",
      "name": "Deve Processar Desconto?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.acao }}",
              "rightValue": "create",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, -64],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567115",
      "name": "Acao Create?"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "create",
        "boardId": 18400981023,
        "groupId": "={{ $('Decidir Desconto').first().json.group_id }}",
        "name": "={{ $('Decidir Desconto').first().json.item_name }}",
        "additionalFields": {
          "columnValues": "={{ $('Decidir Desconto').first().json.column_values_json }}"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [1376, -160],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567116",
      "name": "Criar Desconto",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": 18400981023,
        "itemId": "={{ $('Decidir Desconto').first().json.item_id_desconto }}",
        "columnValues": "={{ $('Decidir Desconto').first().json.column_values_json }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [1376, 32],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567117",
      "name": "Atualizar Desconto",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, uuid: $('Validar e preparar').first().json.uuid, protocolo: $('Validar e preparar').first().json.protocolo, editado: $('Validar e preparar').first().json.editado, concluido_em: $('Validar e preparar').first().json.concluido_em_final, desconto: { acao: $('Decidir Desconto').first().json.acao, descontoVR: $('Decidir Desconto').first().json.descontoVR, descontoVT: $('Decidir Desconto').first().json.descontoVT, regra: $('Decidir Desconto').first().json.regraAplicada, motivo: $('Decidir Desconto').first().json.motivo || null, warning: $('Decidir Desconto').first().json.warning || null } }) }}",
        "options": {
          "responseCode": "={{ $('Decidir Desconto').first().json._statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1616, -64],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567110",
      "name": "Responder OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, erro: $json._erro, mensagem: $json.mensagem }) }}",
        "options": {
          "responseCode": "={{ $json._statusCode }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [192, 160],
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567111",
      "name": "Responder Erro"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Buscar por UUID", "type": "main", "index": 0 }]]
    },
    "Buscar por UUID": {
      "main": [[{ "node": "Validar e preparar", "type": "main", "index": 0 }]]
    },
    "Validar e preparar": {
      "main": [[{ "node": "Se OK", "type": "main", "index": 0 }]]
    },
    "Se OK": {
      "main": [
        [{ "node": "Atualizar item", "type": "main", "index": 0 }],
        [{ "node": "Responder Erro", "type": "main", "index": 0 }]
      ]
    },
    "Atualizar item": {
      "main": [[{ "node": "Buscar Empregado RM", "type": "main", "index": 0 }]]
    },
    "Buscar Empregado RM": {
      "main": [[{ "node": "Buscar Desconto Existente", "type": "main", "index": 0 }]]
    },
    "Buscar Desconto Existente": {
      "main": [[{ "node": "Decidir Desconto", "type": "main", "index": 0 }]]
    },
    "Decidir Desconto": {
      "main": [[{ "node": "Deve Processar Desconto?", "type": "main", "index": 0 }]]
    },
    "Deve Processar Desconto?": {
      "main": [
        [{ "node": "Acao Create?", "type": "main", "index": 0 }],
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    },
    "Acao Create?": {
      "main": [
        [{ "node": "Criar Desconto", "type": "main", "index": 0 }],
        [{ "node": "Atualizar Desconto", "type": "main", "index": 0 }]
      ]
    },
    "Criar Desconto": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    },
    "Atualizar Desconto": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "wf3-finalizar-monday-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "SFIXUWLNNyTpaBfv",
  "tags": []
}
