docs/n8n/wf4-buscar-protocolo.json
{
  "name": "Intermitente — 4. Buscar protocolo (monday)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "intermitente-buscar-protocolo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-560, 32],
      "id": "c1d2e3f4-a5b6-7890-abcd-ef1234567201",
      "name": "Webhook",
      "webhookId": "8b9d8d8a-2c0d-4f3e-8e7b-d3c2a1b09876"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "getByColumnValue",
        "boardId": 18411141462,
        "columnId": "text_mm2xsvg6",
        "columnValue": "={{ ($json.query.protocolo || '').toString().trim().toUpperCase() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [-336, 32],
      "id": "c1d2e3f4-a5b6-7890-abcd-ef1234567202",
      "name": "Buscar por Protocolo",
      "credentials": {
        "mondayComApi": {
          "id": "6I0ycSr6PQJkBYpc",
          "name": "Ray0"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ==============================================================\n// WF4 — Buscar UUID por protocolo (monday)\n// Recebe item encontrado por column_value=protocolo, retorna uuid+nome.\n// ==============================================================\n\nconst COL_UUID = 'text_mm2xjend';\n\nconst all = $input.all();\nfunction firstRealItem() {\n  for (const it of all) {\n    const j = it.json;\n    if (j && j.id && (j.column_values || j.name)) return j;\n  }\n  return null;\n}\nconst item = firstRealItem();\n\nif (!item) {\n  return [{\n    json: {\n      _statusCode: 404,\n      erro: 'protocolo_nao_encontrado',\n      mensagem: 'Protocolo não encontrado.'\n    }\n  }];\n}\n\nconst columnValues = item.column_values ?? [];\nconst getCol = (id) => columnValues.find(c => c.id === id);\nconst uuid = getCol(COL_UUID)?.text || null;\n\nif (!uuid) {\n  return [{\n    json: {\n      _statusCode: 500,\n      erro: 'item_sem_uuid',\n      mensagem: 'Item encontrado, mas sem UUID. Verifique o board.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _statusCode: 200,\n    uuid,\n    nome: item.name\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, 32],
      "id": "c1d2e3f4-a5b6-7890-abcd-ef1234567203",
      "name": "Moldar resposta"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json._statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [128, 32],
      "id": "c1d2e3f4-a5b6-7890-abcd-ef1234567204",
      "name": "Responder"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Buscar por Protocolo", "type": "main", "index": 0 }]]
    },
    "Buscar por Protocolo": {
      "main": [[{ "node": "Moldar resposta", "type": "main", "index": 0 }]]
    },
    "Moldar resposta": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "wf4-buscar-protocolo-monday-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "wf4buscarprotocolo01",
  "tags": []
}
