_wf7tmp/full.json
{"updatedAt":"2026-06-17T15:13:41.967Z","createdAt":"2026-06-17T14:26:29.809Z","id":"dX8OZzxr6sh0Upug","name":"Intermitente - 7. Convocar (monday)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intermitente-convocar","responseMode":"responseNode","options":{"binaryPropertyName":"termo_convocacao","rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,1552],"id":"41a243f6-4933-4940-9061-af07b56182a2","name":"Webhook","webhookId":"intermitente-convocar-wh"},{"parameters":{"jsCode":"// ==============================================================\n// WF7 - Convocar (monday)\n// Recebe multipart/form-data do form web /convocar.\n// Valida campos, monta column_values_json para o board ENTRADA\n// (18413180912). Não dispara WF1 - operacional ativa coluna 'ativar'\n// manualmente depois.\n// ==============================================================\n\nconst BOARD_ENTRADA = 18413180912;\nconst GROUP_ID = 'topics';\n\n// Colunas do board ENTRADA (Plan. de Intermitentes mensal/pontual)\nconst COL = {\n  NOME_EMPREGADO:       'dropdown_mktadatt',  // dropdown - nome do empregado (chosenValues)\n  CPF:                  'dup__of_matr_cula',  // text\n  CHAPA:                'texto',              // text (Funcionário)\n  FUNCAO:               'texto0',             // text\n  ADMISSAO:             'text_mkzh8jhn',      // text (data string)\n  ESCALA:               'text_mkvn2cmr',      // text\n  SOLICITANTE:          'color_mktc9q29',     // status (OPERACIONAL/RH)\n  CONTRATO:             'color_mktcnxwn',     // status\n  LOCAL_UNIDADE:        'texto75',            // text legado\n  LOCAL_UNIDADE_DROPDOWN: 'dropdown_mm3ts726', // dropdown global\n  SABADO:               'color_mktaavmp',     // status SIM/NÃO\n  INSALUBRIDADE:        'color_mktq63xa',     // status SIM/NÃO/NÃO INFORMADO\n  INTERIOR:             'color__1',           // status SIM/NÃO\n  TIPO_CONVOCACAO:      'color_mkta71ex',     // status (PONTUAL fixo)\n  DATA_INICIO:          'date_mktayxhb',      // date\n  DATA_FIM:             'date_mktasnwq',      // date\n  JUSTIFICATIVA:        'color_mktarrgs',     // status\n  EMPREGADO_SUBSTITUIDO:'text_mktc23av',      // text\n  STATUS_CONVOCACAO:      'color_mm3a8ana',     // status Valida/Cancelada/Bloqueada - conflito\n  CANCELAMENTO_INICIO: 'date_mm3b88ta',     // inicio do cancelamento parcial\n  OPTANTE_VT: 'optante___vt',      // status SIM/NÃO/SIM*\n  VT_SO_VOLTA: 'color_mkwaw840',   // status SIM/NÃO\n};\n\nconst body = $input.first().json.body || {};\n\nfunction str(v) { return (v === undefined || v === null) ? '' : String(v).trim(); }\nfunction normalizeVtLabel(v) {\n  const raw = str(v).normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toUpperCase();\n  if (raw === 'SIM*') return 'SIM*';\n  if (raw === 'SIM' || raw === 'TRUE' || raw === '1') return 'SIM';\n  return 'NÃO';\n}\nfunction req(field) {\n  const v = str(body[field]);\n  if (!v) {\n    throw new Error(`campo_obrigatorio:${field}`);\n  }\n  return v;\n}\n\nlet payload;\ntry {\n  payload = {\n    name:                  req('name'),\n    empregadoNome:         req('empregado_nome'),\n    empregadoChapa:        str(body.empregado_chapa),\n    empregadoCpf:          str(body.empregado_cpf),\n    empregadoFuncao:       str(body.empregado_funcao),\n    empregadoAdmissao:     str(body.empregado_admissao),\n    escala:                req('escala'),\n    solicitante:           req('solicitante'),\n    contrato:              req('contrato'),\n    localUnidade:          req('local_unidade'),\n    sabado:                req('sabado'),\n    insalubridade:         req('insalubridade'),\n    interior:              req('interior'),\n    dataInicio:            req('data_inicio'),\n    dataFim:               req('data_fim'),\n    justificativa:         req('justificativa'),\n    empregadoSubstituido:  req('empregado_substituido'),\n    optanteVt:            normalizeVtLabel(body.optante_vt ?? body.optanteVT ?? body.vale_transporte ?? body.valeTransporte ?? body.vt),\n  };\n} catch (e) {\n  const msg = String(e.message || e);\n  const m = msg.match(/^campo_obrigatorio:(.+)$/);\n  return [{\n    json: {\n      _statusCode: 400,\n      ok: false,\n      erro: 'campo_obrigatorio',\n      mensagem: m ? `Campo obrigatório ausente: ${m[1]}` : 'Payload inválido.'\n    }\n  }];\n}\n\n// Validação de datas\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(payload.dataInicio) || !/^\\d{4}-\\d{2}-\\d{2}$/.test(payload.dataFim)) {\n  return [{ json: { _statusCode: 400, ok: false, erro: 'data_invalida', mensagem: 'Datas devem estar no formato YYYY-MM-DD.' } }];\n}\nif (payload.dataInicio > payload.dataFim) {\n  return [{ json: { _statusCode: 400, ok: false, erro: 'data_invalida', mensagem: 'Data início > data fim.' } }];\n}\n\n\n\n\n\n\n\nconst UNIDADES_POR_CONTRATO = {\"SEMSA\":[\"SECRETARIA MUNICIPAL DE SAUDE SEMSA\",\"SEMSA - ADM\",\"SEMSA - ARTHUR VIRGILIO\",\"SEMSA - C DE REABILITAÇÃO PROF ROY GRACE\",\"SEMSA - CAPS AD DR. AFRANIO SOARES\",\"SEMSA - CAPS AD DRA ELIANA VITORINO SCHA\",\"SEMSA - CAPS BENJAMIM MATIAS FERNANDES\",\"SEMSA - CAPS INFANTO JUVENIL LESTE\",\"SEMSA - CAPS INFANTO JUVENIL SUL\",\"SEMSA - CENTRO DE ZOONOSES\",\"SEMSA - CEO LESTE PROF DR. JAIR MACHADO\",\"SEMSA - CEO NORTE DR. RUBIM SA\",\"SEMSA - CEO SUL DR. JOSE F DE OLIVEIRA\",\"SEMSA - CF CARLSON GRACIE\",\"SEMSA - CF CARMEN NICOLAU\",\"SEMSA - CF DESEMBARGADOR FABIO COUTO\",\"SEMSA - CF DR. ANTONIO REIS\",\"SEMSA - CF SEVERIANO NUNES\",\"SEMSA - CF WALDIR BUGALHO\",\"SEMSA - DR. JOSE AVELINO PEREIRA\",\"SEMSA - DR. LUIZ MONTENEGRO\",\"SEMSA - DR. SILAS DE OLIVEIRA SANTOS\",\"SEMSA - INTERMITENTE\",\"SEMSA - LAB DE CITOPATOLOGIA SEBASTIAO MARINHO\",\"SEMSA - LABORATORIO DE VIGILANCIA\",\"SEMSA - LABORATORIO DISTRITAL LESTE\",\"SEMSA - LABORATÓRIO DISTRITAL NORTE\",\"SEMSA - LABORATORIO DISTRITAL OESTE\",\"SEMSA - LABORATORIO DISTRITAL SUL\",\"SEMSA - MOVEL\",\"SEMSA - POL DR. JOSE ANTONIO DA SILVA\",\"SEMSA - POL. DR. RAIMUNDO FRANCO DE SA\",\"SEMSA - POLI DR. ANTONIO COMTE TELLES\",\"SEMSA - POLICLINICA ANA BARRETO\",\"SEMSA - POLICLINICA CASTELO BRANCO\",\"SEMSA - POLICLINICA DR. DJALMA BATISTA\",\"SEMSA - RESCISÃO INDIRETA\",\"SEMSA - SEDE\",\"SEMSA - UBS AJURICABA\",\"SEMSA - UBS ALFREDO CAMPOS\",\"SEMSA - UBS ALMIR PEDREIRA\",\"SEMSA - UBS ARMANDO MENDES\",\"SEMSA - UBS AUGIAS GADELHA\",\"SEMSA - UBS BAIRRO DA PAZ\",\"SEMSA - UBS BALBINA MESTRINHO\",\"SEMSA - UBS BIANCA DE CARVALHO\",\"SEMSA - UBS CACILDA DE FREITAS\",\"SEMSA - UBS DEODATO DE MIRANDA LEÃO\",\"SEMSA - UBS DOM MILTON CORREA\",\"SEMSA - UBS DR. JOSE AMAZONAS PALHANO\",\"SEMSA - UBS DR. JOSE RAYOL DOS SANTOS\",\"SEMSA - UBS DR. PLATÃO ARAUJO\",\"SEMSA - UBS DRA. LUIZA DO CARMO RIBEIRO\",\"SEMSA - UBS ENF IVONE LIMA\",\"SEMSA - UBS FATIMA ANDRADE\",\"SEMSA - UBS FRANK ROSEMBERG CALDERON\",\"SEMSA - UBS FREI VALERIO DI CARLO\",\"SEMSA - UBS GEBES DE MEDEIROS\",\"SEMSA - UBS GERALDO MAGELA\",\"SEMSA - UBS GILSON MOREIRA\",\"SEMSA - UBS GUILHERME ALEXANDRE\",\"SEMSA - UBS JAPIIM\",\"SEMSA - UBS JOÃO NOGUEIRA\",\"SEMSA - UBS JOSE FIGLIOUOLO\",\"SEMSA - UBS JOSE RAYOL DOS SANTOS\",\"SEMSA - UBS JOSEPHINA DE MELO\",\"SEMSA - UBS LAGO DO ALEIXO\",\"SEMSA - UBS LEONOR DE FREITAS\",\"SEMSA - UBS LINDALVA DAMASCENO\",\"SEMSA - UBS LOURENÇO BORGHI\",\"SEMSA - UBS LUCIO FLAVIO DE VASCONCELOS\",\"SEMSA - UBS LUIZ MONTENEGRO\",\"SEMSA - UBS MANSOUR BULBOL\",\"SEMSA - UBS MARIA IDA MENTONI\",\"SEMSA - UBS MARIA LEONOR BRILHANTE\",\"SEMSA - UBS MAUAZINHO\",\"SEMSA - UBS MEGUMO KADO\",\"SEMSA - UBS MJ PM SALVIO BELOTA\",\"SEMSA - UBS MORRO DA LIBERDADE\",\"SEMSA - UBS NILTON LINS\",\"SEMSA - UBS NOVA ESPERANÇA\",\"SEMSA - UBS PETROPOLIS\",\"SEMSA - UBS REDENÇÃO\",\"SEMSA - UBS SANTA LUZIA\",\"SEMSA - UBS SANTO ANTONIO\",\"SEMSA - UBS SANTOS DUMONT\",\"SEMSA - UBS SAO FRANCISCO\",\"SEMSA - UBS SÃO VICENTE DE PAULO\",\"SEMSA - UBS THEODOMIRO GARRIDO\",\"SEMSA - UBS THEOMARIO PINTO DA COSTA\",\"SEMSA - UBS VICENTE PALOTTI\",\"SEMSA - UBS VILA DA PRATA\",\"SEMSA - UBSR ADA VIANA\",\"SEMSA - UBSR EPHIGENIO SALLES\",\"SEMSA - USF ILIDIO DE ALMEIDA LIMA\",\"SEMSA - USF S-07\",\"UEA - ESA\",\"UEA - ESAT\",\"UEA - ESCOLA DE DIREITO\",\"UEA - EST\",\"UEA - NAOPE\",\"UEA - POLICLINICA\"],\"SEDUC ESCOLA\":[\"SEDUC - COORDENADORIA 1\",\"SEDUC - COORDENADORIA 2\",\"SEDUC - COORDENADORIA 3\",\"SEDUC - COORDENADORIA 4\",\"SEDUC - COORDENADORIA 6\",\"SEDUC - COORDENADORIA 7\",\"SEDUC - DEPOSITO ALIMENTAÇÃO\",\"SEDUC - DEPOSITO TORQUATO\",\"SEDUC - DEPOSITO V8\",\"SEDUC - ESCOLA\",\"SEDUC ESCOLA - AMELIA BITTENCOURT\",\"SEDUC ESCOLA - ANTONIO TELLES\",\"SEDUC ESCOLA - AUGUSTO CARNEIRO\",\"SEDUC ESCOLA - AUREA PINHEIRO\",\"SEDUC ESCOLA - BALBINA MESTRINHO\",\"SEDUC ESCOLA - CACILDA BRAULE\",\"SEDUC ESCOLA - CARVALHO LEAL\",\"SEDUC ESCOLA - CECILIA FERREIRA\",\"SEDUC ESCOLA - CLEOMENES\",\"SEDUC ESCOLA - CMPM V\",\"SEDUC ESCOLA - COORDENADORIA 5\",\"SEDUC ESCOLA - DARIANA ZULEICA\",\"SEDUC ESCOLA - DEMOSTENES BELDUQUE\",\"SEDUC ESCOLA - DIOFANTO VIEIRA\",\"SEDUC ESCOLA - DJALMA BATISTA\",\"SEDUC ESCOLA - E.E ANTONIO NUNES JIMENEZ\",\"SEDUC ESCOLA - E.E. ROSINA F. DA SILVA\",\"SEDUC ESCOLA - ELISA BESSA\",\"SEDUC ESCOLA - ENCARREGADO\",\"SEDUC ESCOLA - ERNANE NASCIMENTO\",\"SEDUC ESCOLA - ESC ESTADUAL PADRE PEDRO GISLANDY\",\"SEDUC ESCOLA - FRANCISCO ALBUQUERQUE\",\"SEDUC ESCOLA - FREI SILVIO\",\"SEDUC ESCOLA - GARCITYLZO\",\"SEDUC ESCOLA - HOMERO DE MIRANDA LEÃO\",\"SEDUC ESCOLA - IRMÃ GABRIELLE\",\"SEDUC ESCOLA - IRMÃ GABRIELLE ANEXO\",\"SEDUC ESCOLA - JAIRO DA SILVA\",\"SEDUC ESCOLA - MANOEL RODRIGUES\",\"SEDUC ESCOLA - MANUEL ANTONIO\",\"SEDUC ESCOLA - MARIA AMELIA\",\"SEDUC ESCOLA - MARIA ARMINDA\",\"SEDUC ESCOLA - MARIA MADALENA\",\"SEDUC ESCOLA - MARIA TEIXEIRA GOES\",\"SEDUC ESCOLA - MARQUES DE SANTA CRUZ\",\"SEDUC ESCOLA - MAYARA REDMAN\",\"SEDUC ESCOLA - PAULO FREIRE\",\"SEDUC ESCOLA - PROF. JACIRA CABOCLO\",\"SEDUC ESCOLA - REINALDO THOMPSON\",\"SEDUC ESCOLA - RESCISÃO INDIRETA\",\"SEDUC ESCOLA - RIBEIRO DA CUNHA\",\"SEDUC ESCOLA - RODERICK CASTELO BRANCO\",\"SEDUC ESCOLA - TEREZINHA DE ALMEIDA\",\"SEDUC ESCOLA - VASCO VASQUES\",\"SEDUC ESCOLA - VICENTE SCHETTINI\",\"SEDUC ESCOLA - WALDIR GARCIA\",\"SEDUC ESCOLA ESTADUAL - PROF JORGE KARAM NETO\"],\"SEDUC SEDE\":[\"SECRETARIA DE ESTADO DE EDUCACAO E DESPORTO\",\"SEDUC - MANAUS\",\"SEDUC - MANAUS - RESCISÃO INDIRETA\",\"SEDUC ESCOLA - AMELIA BITTENCOURT\",\"SEDUC ESCOLA - CARVALHO LEAL\",\"SEDUC ESCOLA - DEMOSTENES BELDUQUE\",\"SEDUC ESCOLA - MARIA ARMINDA\"],\"SEDUC INTERIOR\":[\"SEDUC - INTERIOR\",\"SEDUC INTERIOR - CENTRO EDUCACIONAL D.MARZI\",\"SEDUC INTERIOR - CETI AURISTELIO S DE OL\",\"SEDUC INTERIOR - CETI BENEDITA BARBOSA D\",\"SEDUC INTERIOR - CETI CALIXTO RIBEIRO\",\"SEDUC INTERIOR - CETI NEUZA ALVES\",\"SEDUC INTERIOR - CETI PEDRO ALVES DA SIL\",\"SEDUC INTERIOR - CETI PROF MARIA DAS GRACAS LIMA DE MELO\",\"SEDUC INTERIOR - E. E. AMATURA\",\"SEDUC INTERIOR - E. E. ANTONIO FERREIRA\",\"SEDUC INTERIOR - E. E. ARMANDO BERREDO\",\"SEDUC INTERIOR - E. E. ARMANDO DE SOUZA\",\"SEDUC INTERIOR - E. E. ARMANDO MENDES\",\"SEDUC INTERIOR - E. E. BELARMINO G.ALBUQ\",\"SEDUC INTERIOR - E. E. CARAUARI\",\"SEDUC INTERIOR - E. E. CEL.ALFREDO MARQU\",\"SEDUC INTERIOR - E. E. CICERO LOPES\",\"SEDUC INTERIOR - E. E. CONRADO PINTO GOM\",\"SEDUC INTERIOR - E. E. DESMB. JOAO REBEL\",\"SEDUC INTERIOR - E. E. DOM BOSCO\",\"SEDUC INTERIOR - E. E. EDUARDO RIBEIRO\",\"SEDUC INTERIOR - E. E. EURICO GASPAR DUT\",\"SEDUC INTERIOR - E. E. FRANCIDENE SOARES\",\"SEDUC INTERIOR - E. E. FRANCISCA MENDES\",\"SEDUC INTERIOR - E. E. GILBERTO MESTRINHO\",\"SEDUC INTERIOR - E. E. I CACIQUE MANUEL\",\"SEDUC INTERIOR - E. E. I CORONEL RAIMUND\",\"SEDUC INTERIOR - E. E. I GENESIO CUSTODI\",\"SEDUC INTERIOR - E. E. I GILDO SAMPAIO\",\"SEDUC INTERIOR - E. E. I MANUEL JOAQUIM\",\"SEDUC INTERIOR - E. E. I N.S.IMAC.CONCEI\",\"SEDUC INTERIOR - E. E. I POGUTA\",\"SEDUC INTERIOR - E. E. I PROFª ROSA CRUZ\",\"SEDUC INTERIOR - E. E. INDIGENA DOM PEDR\",\"SEDUC INTERIOR - E. E. IPIXUNA\",\"SEDUC INTERIOR - E. E. IZAURA TORRES\",\"SEDUC INTERIOR - E. E. JOÃO CONRADO\",\"SEDUC INTERIOR - E. E. JOSE CARLOS MARTI\",\"SEDUC INTERIOR - E. E. MADRE REGINA\",\"SEDUC INTERIOR - E. E. MARIA EMÍLIA\",\"SEDUC INTERIOR - E. E. MARIZITA\",\"SEDUC INTERIOR - E. E. MONS E. DE CEFALÔ\",\"SEDUC INTERIOR - E. E. MONS. E. DE CEFAL\",\"SEDUC INTERIOR - E. E. N.S. DAS DORES\",\"SEDUC INTERIOR - E. E. NAIR ALVES DA SIL\",\"SEDUC INTERIOR - E. E. NOVO CEU\",\"SEDUC INTERIOR - E. E. OSVALDO NASCIMENT\",\"SEDUC INTERIOR - E. E. PIO VEIGA\",\"SEDUC INTERIOR - E. E. PRESIDENTE CASTEL\",\"SEDUC INTERIOR - E. E. PRESIDENTE VARGAS\",\"SEDUC INTERIOR - E. E. PROF CHAGAS MATOS\",\"SEDUC INTERIOR - E. E. PROF DARIA GABRIE\",\"SEDUC INTERIOR - E. E. PROF JOHANNES PET\",\"SEDUC INTERIOR - E. E. PROF NAZARE VAREL\",\"SEDUC INTERIOR - E. E. RAIMUNDO SÁ\",\"SEDUC INTERIOR - E. E. ROMERITO BRITO\",\"SEDUC INTERIOR - E. E. ROSA GARCIA\",\"SEDUC INTERIOR - E. E. SANTO ANTONIO\",\"SEDUC INTERIOR - E. E. SANTOS DUMONT\",\"SEDUC INTERIOR - E. E. SAO CRISTOVAO\",\"SEDUC INTERIOR - E. E. SÃO FRANCISCO\",\"SEDUC INTERIOR - E. E. SÃO JOSÉ\",\"SEDUC INTERIOR - E. E. SATURNINO MARÃES\",\"SEDUC INTERIOR - E. E. SERGIO RUFINO DE\",\"SEDUC INTERIOR - E. E. VEREADOR LAURO DE\",\"SEDUC INTERIOR - E. E. VIDAL DE MELO\",\"SEDUC INTERIOR - E.E. DEUZALINA P. RIBEIRO\",\"SEDUC INTERIOR - SEDE DA COORDENADORIA\"],\"DETRAN\":[\"DEPARTAMENTO ESTADUAL DE TRANSITO\",\"DETRAN - INTERMITENTE\",\"DETRAN - MANAUS\"],\"TRE PB\":[\"TRE PB - ANEXO I DISTRITO\",\"TRE PB - ANEXO VI NATU\",\"TRE PB - FORUM ELEITORAL\",\"TRE PB - INTERMITENTE\",\"TRE PB - NOVO MUSEU\",\"TRE PB - SEDE\",\"TRIBUNAL REGIONAL ELEITORAL DA PARAIBA\"],\"CETAM\":[\"CETAM\",\"CETAM - ALVARAES\",\"CETAM - AUTAZES\",\"CETAM - BORBA\",\"CETAM - CAAPIRANGA\",\"CETAM - CARAUARI\",\"CETAM - CAREIRO CASTANHO\",\"CETAM - CAREIRO DA VARZEA\",\"CETAM - CODAJAS\",\"CETAM - GASTRONOMIA\",\"CETAM - HUMAITA\",\"CETAM - INTERMITENTE\",\"CETAM - IRANDUBA\",\"CETAM - MANACAPURU\",\"CETAM - MANAQUIRI\",\"CETAM - MANAUS ANIBAL BEÇA\",\"CETAM - MANICORE\",\"CETAM - MAUES\",\"CETAM - NOVO AIRÃO\",\"CETAM - NOVO ARIPUANA\",\"CETAM - PARINTINS\",\"CETAM - PRES. FIGUEIREDO\",\"CETAM - PRESIDÊNCIA\",\"CETAM - RIO PRETO DA EVA\",\"CETAM - S. GABRIEL DA CACHOEIRA\",\"CETAM - TABATINGA\",\"CETAM - TAPAUA\",\"CETAM - ZONA LESTE\",\"CETAM CENTRO DE EDUCACAO TECNOLOGICA DO AMAZONAS\"]};\nfunction normLabel(v) { return String(v || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toUpperCase().replace(/[\\.,;:/\\\\|_()\\[\\]{}-]+/g, ' ').replace(/\\s+/g, ' ').trim(); }\nfunction tokens(v) { return normLabel(v).split(' ').filter(t => t.length > 2); }\nfunction unidadeValida(contrato, unidade) {\n  const lista = UNIDADES_POR_CONTRATO[contrato] || [];\n  const alvo = normLabel(unidade);\n  if (lista.some(u => normLabel(u) === alvo)) return true;\n  const alvoTokens = tokens(unidade);\n  return lista.some(u => {\n    const cand = normLabel(u);\n    if (cand.includes(alvo) || alvo.includes(cand)) return true;\n    const candTokens = tokens(u);\n    const common = alvoTokens.filter(t => candTokens.includes(t)).length;\n    return alvoTokens.length > 0 && common / alvoTokens.length >= 0.75;\n  });\n}\nif (!unidadeValida(payload.contrato, payload.localUnidade)) {\n  return [{ json: { _statusCode: 400, ok: false, erro: 'unidade_invalida', mensagem: 'Local/Unidade nao pertence ao contrato selecionado.' } }];\n}\n\n// Verifica binários (termos)\nconst binary = $input.first().binary || {};\nconst hasTermoConvocacao = !!binary.termo_convocacao;\nconst hasTermoInsalubridade = !!binary.termo_insalubridade;\n\n// Monta column_values\nconst columnValues = {\n  [COL.NOME_EMPREGADO]:      { labels: [payload.empregadoNome] },\n  [COL.CPF]:                 payload.empregadoCpf,\n  [COL.CHAPA]:               payload.empregadoChapa,\n  [COL.FUNCAO]:              payload.empregadoFuncao,\n  [COL.ADMISSAO]:            payload.empregadoAdmissao,\n  [COL.ESCALA]:              payload.escala,\n  [COL.SOLICITANTE]:         { label: payload.solicitante },\n  [COL.CONTRATO]:            { label: payload.contrato },\n  [COL.LOCAL_UNIDADE]:       payload.localUnidade,\n  [COL.LOCAL_UNIDADE_DROPDOWN]: { labels: [payload.localUnidade] },\n  [COL.SABADO]:              { label: payload.sabado },\n  [COL.INSALUBRIDADE]:       { label: payload.insalubridade },\n  [COL.INTERIOR]:            { label: payload.interior },\n  [COL.TIPO_CONVOCACAO]:     { label: 'PONTUAL' },\n  [COL.DATA_INICIO]:         { date: payload.dataInicio },\n  [COL.DATA_FIM]:            { date: payload.dataFim },\n  [COL.JUSTIFICATIVA]:       { label: payload.justificativa },\n  [COL.EMPREGADO_SUBSTITUIDO]: payload.empregadoSubstituido,\n  [COL.OPTANTE_VT]: { label: payload.optanteVt },\n  [COL.VT_SO_VOLTA]: { label: payload.optanteVt === 'SIM*' ? 'SIM' : 'NÃO' },\n  [COL.STATUS_CONVOCACAO]: { label: 'Válida' }\n};\n\nconst conflictColumnId = payload.empregadoChapa ? COL.CHAPA : COL.NOME_EMPREGADO;\nconst conflictColumnValue = payload.empregadoChapa || payload.empregadoNome;\nconst mondayConflictQuery = {\n  query: `query { items_page_by_column_values(limit: 100, board_id: ${BOARD_ENTRADA}, columns: [{ column_id: ${JSON.stringify(conflictColumnId)}, column_values: [${JSON.stringify(conflictColumnValue)}] }]) { items { id name column_values(ids: [${JSON.stringify(COL.NOME_EMPREGADO)}, ${JSON.stringify(COL.CHAPA)}, ${JSON.stringify(COL.DATA_INICIO)}, ${JSON.stringify(COL.DATA_FIM)}, ${JSON.stringify(COL.STATUS_CONVOCACAO)}, ${JSON.stringify(COL.CANCELAMENTO_INICIO)}]) { id text value } } } }`\n};\n\nreturn [{\n  json: {\n    _statusCode: 200,\n    ok: true,\n    name: payload.name,\n    column_values_json: JSON.stringify(columnValues),\n    empregadoNome: payload.empregadoNome,\n    empregadoChapa: payload.empregadoChapa,\n    dataInicio: payload.dataInicio,\n    dataFim: payload.dataFim,\n    localUnidade: payload.localUnidade,\n    contrato: payload.contrato,\n    empregadoCpf: payload.empregadoCpf,\n    empregadoFuncao: payload.empregadoFuncao,\n    empregadoAdmissao: payload.empregadoAdmissao,\n    optanteVt: payload.optanteVt,\n    mondayConflictQuery,\n    hasTermoConvocacao,\n    hasTermoInsalubridade,\n    boardEntrada: BOARD_ENTRADA,\n    groupId: GROUP_ID\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,1552],"id":"1eaa2f26-1f2d-48ef-8f40-e854c043bc05","name":"Validar e preparar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ok-check","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,1552],"id":"a6224b5c-8c80-4ace-a3f2-b6cb76486963","name":"Payload OK?"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: 'mutation ($b: ID!, $g: String!, $n: String!, $cv: JSON!) { create_item (board_id: $b, group_id: $g, item_name: $n, column_values: $cv, create_labels_if_missing: true) { id } }', variables: { b: '18413180912', g: 'group_mkta43yr', n: $json.name, cv: $json.column_values_json } }) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,1392],"id":"4da53f9b-eecb-4d2c-8e3f-f925e3f9a9d7","name":"Criar item entrada","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"jsCode":"// ==============================================================\n// WF7 - Preparar uploads de arquivos\n// Emite 0..2 items, um por arquivo presente, com o GraphQL multipart\n// pronto para o nó HTTP Request do monday `/v2/file`.\n// ==============================================================\n\nconst prep = $('Validar e preparar').first().json;\nconst monday = $input.first().json;\nconst webhookBinary = $('Webhook').first().binary || {};\n\nconst itemId = String(monday.id || monday.data?.create_item?.id || '');\nif (!itemId) {\n  // sem id, não conseguimos anexar; passa adiante sem uploads\n  return [{ json: { _semUpload: true, itemId: '' } }];\n}\n\nconst uploads = [];\nif (prep.hasTermoConvocacao && webhookBinary.termo_convocacao) {\n  uploads.push({\n    binaryName: 'termo_convocacao',\n    columnId: 'file_mm21x463',\n    itemId\n  });\n}\nif (prep.hasTermoInsalubridade && webhookBinary.termo_insalubridade) {\n  uploads.push({\n    binaryName: 'termo_insalubridade',\n    columnId: 'file_mm21457r',\n    itemId\n  });\n}\n\nconst query = 'mutation ($file: File!, $item_id: ID!, $column_id: String!) { add_file_to_column(item_id: $item_id, column_id: $column_id, file: $file) { id } }';\n\nif (uploads.length === 0) {\n  return [{ json: { _semUpload: true, itemId } }];\n}\n\nreturn uploads.map((u) => ({\n  json: {\n    _semUpload: false,\n    itemId: u.itemId,\n    columnId: u.columnId,\n    binaryName: u.binaryName,\n    graphqlQuery: query,\n    variables: JSON.stringify({ file: null, item_id: u.itemId, column_id: u.columnId }),\n    map: JSON.stringify({ '0': ['variables.file'] })\n  },\n  binary: { '0': $('Webhook').first().binary[u.binaryName] }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,1232],"id":"193fc56a-53b7-45fd-8b22-191afbac6fcd","name":"Preparar uploads"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2/file","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"query","value":"={{ $json.graphqlQuery }}"},{"name":"variables","value":"={{ $json.variables }}"},{"name":"map","value":"={{ $json.map }}"},{"parameterType":"formBinaryData","name":"0","inputDataFieldName":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,1184],"id":"a76eefe4-8eae-4260-80f2-127bf0f12332","name":"Upload arquivo monday","notesInFlow":true,"credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}},"notes":"Authorization header precisa do API token do monday em texto puro. Substitua a expressão por um Header Auth credential 'Monday Token' ou cole o token diretamente após importar."},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, item_id: ($('Criar item entrada').first().json.data?.create_item?.id || $('Criar item entrada').first().json.id), item_url: 'https://contato-serv.monday.com/boards/18413180912/pulses/' + ($('Criar item entrada').first().json.data?.create_item?.id || $('Criar item entrada').first().json.id) }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2096,1248],"id":"6c2f4b7c-f958-4238-9d1b-dfca70eff07c","name":"Responder OK"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, erro: $json.erro || 'erro_desconhecido', mensagem: $json.mensagem || 'Erro ao processar a convocação.', conflito: $json.conflito || undefined }) }}","options":{"responseCode":"={{ $json._statusCode || 400 }}","responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[560,1568],"id":"9564fcd6-74cb-4eb6-8a2f-5aa7efd2fbed","name":"Responder Erro"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.mondayConflictQuery) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,1456],"id":"10d8b8de-cad6-4163-a159-6fc56c78e9d8","name":"Buscar conflitos entrada","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"jsCode":"// ==============================================================\n// Trava de convocacao conflitante - WF7\n// Respeita cancelamento parcial: somente o trecho ainda valido bloqueia.\n// ==============================================================\n\nconst prep = $('Validar e preparar').first().json;\nconst response = $input.first().json || {};\n\nif (Array.isArray(response.errors) && response.errors.length > 0) {\n  return [{\n    json: {\n      ...prep,\n      ok: false,\n      semConflito: false,\n      _statusCode: 500,\n      erro: 'erro_monday_conflitos',\n      mensagem: response.errors.map(e => e.message).join(' | '),\n      errors: response.errors\n    }\n  }];\n}\n\nconst COL = {\n  NOME_EMPREGADO: 'dropdown_mktadatt',\n  CHAPA: 'texto',\n  DATA_INICIO: 'date_mktayxhb',\n  DATA_FIM: 'date_mktasnwq',\n  STATUS_CONVOCACAO: 'color_mm3a8ana',\n  CANCELAMENTO_INICIO: 'date_mm3b88ta'\n};\n\nfunction normCode(v) { return String(v || '').replace(/\\D/g, '').replace(/^0+/, '') || String(v || '').trim().toUpperCase(); }\nfunction normName(v) { return String(v || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toUpperCase().replace(/\\s+/g, ' ').trim(); }\nfunction colsOf(item) {\n  const out = {};\n  for (const c of item.column_values || []) out[c.id] = c.text || '';\n  return out;\n}\nfunction addDays(iso, delta) {\n  const d = new Date(iso + 'T00:00:00Z');\n  if (Number.isNaN(d.getTime())) return null;\n  d.setUTCDate(d.getUTCDate() + delta);\n  return d.toISOString().slice(0, 10);\n}\nfunction effectivePeriod(start, end, statusLabel, cancelStart) {\n  if (!start || !end) return null;\n  const status = normName(statusLabel);\n  if (status === 'CANCELADA' || status === 'CANCELADO' || status === 'BLOQUEADA - CONFLITO') return null;\n  if (status === 'CANCELADA PARCIALMENTE' || status === 'CANCELADO PARCIALMENTE') {\n    if (!cancelStart) return { start, end };\n    const effectiveEnd = addDays(cancelStart, -1);\n    if (!effectiveEnd || effectiveEnd < start) return null;\n    return { start, end: effectiveEnd };\n  }\n  return { start, end };\n}\nfunction overlaps(aStart, aEnd, bStart, bEnd) {\n  if (!aStart || !aEnd || !bStart || !bEnd) return false;\n  return aStart <= bEnd && bStart <= aEnd;\n}\n\nconst currentHasChapa = !!String(prep.empregadoChapa || '').trim();\nconst currentIdentity = currentHasChapa\n  ? normCode(prep.empregadoChapa)\n  : normName(prep.empregadoNome);\n\nconst items = response.data?.items_page_by_column_values?.items || [];\n\nlet conflito = null;\nfor (const item of items) {\n  \n\n  const cols = colsOf(item);\n  const existingIdentity = currentHasChapa\n    ? normCode(cols[COL.CHAPA])\n    : normName(cols[COL.NOME_EMPREGADO] || item.name);\n  if (!existingIdentity || existingIdentity !== currentIdentity) continue;\n\n  const periodo = effectivePeriod(\n    cols[COL.DATA_INICIO],\n    cols[COL.DATA_FIM],\n    cols[COL.STATUS_CONVOCACAO],\n    cols[COL.CANCELAMENTO_INICIO]\n  );\n  if (!periodo) continue;\n  if (!overlaps(periodo.start, periodo.end, prep.dataInicio, prep.dataFim)) continue;\n\n  conflito = {\n    item_id: String(item.id),\n    item_url: 'https://contato-serv.monday.com/boards/18413180912/pulses/' + item.id,\n    nome: item.name,\n    chapa: cols[COL.CHAPA] || '',\n    data_inicio: periodo.start,\n    data_fim: periodo.end,\n    data_inicio_original: cols[COL.DATA_INICIO] || '',\n    data_fim_original: cols[COL.DATA_FIM] || '',\n    status_convocacao: cols[COL.STATUS_CONVOCACAO] || '',\n    data_inicio_cancelamento: cols[COL.CANCELAMENTO_INICIO] || ''\n  };\n  break;\n}\n\nif (conflito) {\n  return [{\n    json: {\n      ...prep,\n      ok: false,\n      semConflito: false,\n      _statusCode: 409,\n      erro: 'convocação_conflitante',\n      mensagem: 'Data divergente: este intermitente já foi convocado neste período.',\n      conflito,\n      \n    }\n  }];\n}\n\nreturn [{ json: { ...prep, ok: true, semConflito: true } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1456],"id":"3f627603-9f55-4ed4-bb26-040e070a99e7","name":"Checar conflito"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sem-conflito-check","leftValue":"={{ $json.semConflito }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,1456],"id":"c7cde883-2bcd-471d-a9d5-73f21e9a0cc1","name":"Sem conflito?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tem-upload-check","leftValue":"={{ $json._semUpload !== true }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,1232],"id":"2421c851-2cea-4eef-a22d-cfaf0baa49c1","name":"Tem upload?"},{"parameters":{"jsCode":"const prep = $('Validar e preparar').first().json;\nconst created = $('Criar item entrada').first().json;\nconst itemId = String(created.id || created.data?.create_item?.id || '').trim();\nif (!itemId) throw new Error('Item Entrada nao criado; sem itemId para job Drive.');\n\nconst nome = String(prep.empregadoNome || prep.nome || prep.nome_empregado || prep.empregado_nome || prep.name || '').trim();\nconst contrato = String(prep.contrato || prep.contrato_colaborador || prep.contratoColaborador || '').trim();\nconst dataInicio = String(prep.dataInicio || prep.data_inicio || '').slice(0, 10);\nconst dataFim = String(prep.dataFim || prep.data_fim || dataInicio).slice(0, 10);\n\nif (!nome || !contrato || !dataInicio) {\n  throw new Error('Payload Drive convocacao incompleto: nome=' + nome + ', contrato=' + contrato + ', dataInicio=' + dataInicio);\n}\n\nreturn [{\n  json: {\n    tipo: 'convocacao',\n    nome,\n    chapa: prep.empregadoChapa || prep.chapa || prep.chapa_rm || '',\n    cpf: prep.empregadoCpf || prep.cpf || prep.empregado_cpf || '',\n    contrato,\n    data_inicio: dataInicio,\n    data_fim: dataFim,\n    item_entrada_id: itemId,\n    atualizar_monday: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,1280],"id":"async-drive-preparar-convocacao","name":"Preparar Job Drive Convocacao"},{"parameters":{"method":"POST","url":"https://aionscorp-n8n.cloudfy.live/webhook/drive-intermitente-arquivar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,1232],"id":"async-drive-disparar-convocacao","name":"Disparar Drive Convocacao Async","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const created = $('Criar item entrada').first().json || {};\nreturn [{ json: created, binary: $('Webhook').first().binary || {} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,1232],"id":"async-drive-restaurar-item-entrada","name":"Restaurar Item Entrada Apos Drive Async"}],"connections":{"Webhook":{"main":[[{"node":"Validar e preparar","type":"main","index":0}]]},"Validar e preparar":{"main":[[{"node":"Payload OK?","type":"main","index":0}]]},"Payload OK?":{"main":[[{"node":"Buscar conflitos entrada","type":"main","index":0}],[{"node":"Responder Erro","type":"main","index":0}]]},"Criar item entrada":{"main":[[{"node":"Preparar Job Drive Convocacao","type":"main","index":0}]]},"Preparar uploads":{"main":[[{"node":"Tem upload?","type":"main","index":0}]]},"Upload arquivo monday":{"main":[[{"node":"Responder OK","type":"main","index":0}]]},"Buscar conflitos entrada":{"main":[[{"node":"Checar conflito","type":"main","index":0}]]},"Checar conflito":{"main":[[{"node":"Sem conflito?","type":"main","index":0}]]},"Sem conflito?":{"main":[[{"node":"Criar item entrada","type":"main","index":0}],[{"node":"Responder Erro","type":"main","index":0}]]},"Tem upload?":{"main":[[{"node":"Upload arquivo monday","type":"main","index":0}],[{"node":"Responder OK","type":"main","index":0}]]},"Preparar Job Drive Convocacao":{"main":[[{"node":"Disparar Drive Convocacao Async","type":"main","index":0}]]},"Disparar Drive Convocacao Async":{"main":[[{"node":"Restaurar Item Entrada Apos Drive Async","type":"main","index":0}]]},"Restaurar Item Entrada Apos Drive Async":{"main":[[{"node":"Preparar uploads","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"aionscorp-n8n.cloudfy.live","user-agent":"node","content-length":"2233","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"45.236.223.144","cf-ipcountry":"BR","cf-ray":"a0d2da5cdf6f0c10-GIG","cf-visitor":"{\"scheme\":\"https\"}","content-type":"multipart/form-data; boundary=----formdata-undici-005681780058","sec-fetch-mode":"cors","x-forwarded-for":"172.70.144.16","x-forwarded-host":"aionscorp-n8n.cloudfy.live","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fa2396b8e40f","x-real-ip":"172.70.144.16"},"params":{},"query":{},"body":{"name":"INTERMITENTE - TESTE MIGRACAO WF7 (APAGAR)","empregado_nome":"TESTE MIGRACAO WF7","empregado_chapa":"000000","empregado_cpf":"00000000000","empregado_funcao":"TESTE","empregado_admissao":"2020-01-01","empregado_secao":"01.01.0001.01.0001","empregado_codcoligada":"3","optante_vt":"NÃO","escala":"TESTE","solicitante":"OPERACIONAL","contrato":"SEMSA","local_unidade":"SEMSA - INTERMITENTE","sabado":"NÃO","insalubridade":"NÃO","interior":"NÃO","data_inicio":"2027-01-04","data_fim":"2027-01-08","justificativa":"POSTO VAGO","empregado_substituido":"N/A","operador":"{\"nome\":\"teste-migracao\",\"email\":\"teste\"}"},"webhookUrl":"https://aionscorp-n8n.cloudfy.live/webhook/intermitente-convocar","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"e5798360-9687-4d32-b724-cf5f935196d3","activeVersionId":"e5798360-9687-4d32-b724-cf5f935196d3","versionCounter":53,"triggerCount":1,"shared":[{"updatedAt":"2026-06-17T14:26:29.809Z","createdAt":"2026-06-17T14:26:29.809Z","role":"workflow:owner","workflowId":"dX8OZzxr6sh0Upug","projectId":"kDKKlC23HqJCyHvF","project":{"updatedAt":"2026-04-09T20:33:54.993Z","createdAt":"2026-04-09T20:28:48.909Z","id":"kDKKlC23HqJCyHvF","name":"Isaac Raylen <isaac.gomes@contatoserv.com.br>","type":"personal","icon":null,"description":null,"creatorId":"811d2d9e-6074-4762-8533-fe3acae08af3"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-17T15:03:07.387Z","createdAt":"2026-06-17T15:03:07.387Z","versionId":"e5798360-9687-4d32-b724-cf5f935196d3","workflowId":"dX8OZzxr6sh0Upug","nodes":[{"parameters":{"httpMethod":"POST","path":"intermitente-convocar","responseMode":"responseNode","options":{"binaryPropertyName":"termo_convocacao","rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,1552],"id":"41a243f6-4933-4940-9061-af07b56182a2","name":"Webhook","webhookId":"intermitente-convocar-wh"},{"parameters":{"jsCode":"// ==============================================================\n// WF7 - Convocar (monday)\n// Recebe multipart/form-data do form web /convocar.\n// Valida campos, monta column_values_json para o board ENTRADA\n// (18413180912). Não dispara WF1 - operacional ativa coluna 'ativar'\n// manualmente depois.\n// ==============================================================\n\nconst BOARD_ENTRADA = 18413180912;\nconst GROUP_ID = 'topics';\n\n// Colunas do board ENTRADA (Plan. de Intermitentes mensal/pontual)\nconst COL = {\n  NOME_EMPREGADO:       'dropdown_mktadatt',  // dropdown - nome do empregado (chosenValues)\n  CPF:                  'dup__of_matr_cula',  // text\n  CHAPA:                'texto',              // text (Funcionário)\n  FUNCAO:               'texto0',             // text\n  ADMISSAO:             'text_mkzh8jhn',      // text (data string)\n  ESCALA:               'text_mkvn2cmr',      // text\n  SOLICITANTE:          'color_mktc9q29',     // status (OPERACIONAL/RH)\n  CONTRATO:             'color_mktcnxwn',     // status\n  LOCAL_UNIDADE:        'texto75',            // text legado\n  LOCAL_UNIDADE_DROPDOWN: 'dropdown_mm3ts726', // dropdown global\n  SABADO:               'color_mktaavmp',     // status SIM/NÃO\n  INSALUBRIDADE:        'color_mktq63xa',     // status SIM/NÃO/NÃO INFORMADO\n  INTERIOR:             'color__1',           // status SIM/NÃO\n  TIPO_CONVOCACAO:      'color_mkta71ex',     // status (PONTUAL fixo)\n  DATA_INICIO:          'date_mktayxhb',      // date\n  DATA_FIM:             'date_mktasnwq',      // date\n  JUSTIFICATIVA:        'color_mktarrgs',     // status\n  EMPREGADO_SUBSTITUIDO:'text_mktc23av',      // text\n  STATUS_CONVOCACAO:      'color_mm3a8ana',     // status Valida/Cancelada/Bloqueada - conflito\n  CANCELAMENTO_INICIO: 'date_mm3b88ta',     // inicio do cancelamento parcial\n  OPTANTE_VT: 'optante___vt',      // status SIM/NÃO/SIM*\n  VT_SO_VOLTA: 'color_mkwaw840',   // status SIM/NÃO\n};\n\nconst body = $input.first().json.body || {};\n\nfunction str(v) { return (v === undefined || v === null) ? '' : String(v).trim(); }\nfunction normalizeVtLabel(v) {\n  const raw = str(v).normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toUpperCase();\n  if (raw === 'SIM*') return 'SIM*';\n  if (raw === 'SIM' || raw === 'TRUE' || raw === '1') return 'SIM';\n  return 'NÃO';\n}\nfunction req(field) {\n  const v = str(body[field]);\n  if (!v) {\n    throw new Error(`campo_obrigatorio:${field}`);\n  }\n  return v;\n}\n\nlet payload;\ntry {\n  payload = {\n    name:                  req('name'),\n    empregadoNome:         req('empregado_nome'),\n    empregadoChapa:        str(body.empregado_chapa),\n    empregadoCpf:          str(body.empregado_cpf),\n    empregadoFuncao:       str(body.empregado_funcao),\n    empregadoAdmissao:     str(body.empregado_admissao),\n    escala:                req('escala'),\n    solicitante:           req('solicitante'),\n    contrato:              req('contrato'),\n    localUnidade:          req('local_unidade'),\n    sabado:                req('sabado'),\n    insalubridade:         req('insalubridade'),\n    interior:              req('interior'),\n    dataInicio:            req('data_inicio'),\n    dataFim:               req('data_fim'),\n    justificativa:         req('justificativa'),\n    empregadoSubstituido:  req('empregado_substituido'),\n    optanteVt:            normalizeVtLabel(body.optante_vt ?? body.optanteVT ?? body.vale_transporte ?? body.valeTransporte ?? body.vt),\n  };\n} catch (e) {\n  const msg = String(e.message || e);\n  const m = msg.match(/^campo_obrigatorio:(.+)$/);\n  return [{\n    json: {\n      _statusCode: 400,\n      ok: false,\n      erro: 'campo_obrigatorio',\n      mensagem: m ? `Campo obrigatório ausente: ${m[1]}` : 'Payload inválido.'\n    }\n  }];\n}\n\n// Validação de datas\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(payload.dataInicio) || !/^\\d{4}-\\d{2}-\\d{2}$/.test(payload.dataFim)) {\n  return [{ json: { _statusCode: 400, ok: false, erro: 'data_invalida', mensagem: 'Datas devem estar no formato YYYY-MM-DD.' } }];\n}\nif (payload.dataInicio > payload.dataFim) {\n  return [{ json: { _statusCode: 400, ok: false, erro: 'data_invalida', mensagem: 'Data início > data fim.' } }];\n}\n\n\n\n\n\n\n\nconst UNIDADES_POR_CONTRATO = {\"SEMSA\":[\"SECRETARIA MUNICIPAL DE SAUDE SEMSA\",\"SEMSA - ADM\",\"SEMSA - ARTHUR VIRGILIO\",\"SEMSA - C DE REABILITAÇÃO PROF ROY GRACE\",\"SEMSA - CAPS AD DR. AFRANIO SOARES\",\"SEMSA - CAPS AD DRA ELIANA VITORINO SCHA\",\"SEMSA - CAPS BENJAMIM MATIAS FERNANDES\",\"SEMSA - CAPS INFANTO JUVENIL LESTE\",\"SEMSA - CAPS INFANTO JUVENIL SUL\",\"SEMSA - CENTRO DE ZOONOSES\",\"SEMSA - CEO LESTE PROF DR. JAIR MACHADO\",\"SEMSA - CEO NORTE DR. RUBIM SA\",\"SEMSA - CEO SUL DR. JOSE F DE OLIVEIRA\",\"SEMSA - CF CARLSON GRACIE\",\"SEMSA - CF CARMEN NICOLAU\",\"SEMSA - CF DESEMBARGADOR FABIO COUTO\",\"SEMSA - CF DR. ANTONIO REIS\",\"SEMSA - CF SEVERIANO NUNES\",\"SEMSA - CF WALDIR BUGALHO\",\"SEMSA - DR. JOSE AVELINO PEREIRA\",\"SEMSA - DR. LUIZ MONTENEGRO\",\"SEMSA - DR. SILAS DE OLIVEIRA SANTOS\",\"SEMSA - INTERMITENTE\",\"SEMSA - LAB DE CITOPATOLOGIA SEBASTIAO MARINHO\",\"SEMSA - LABORATORIO DE VIGILANCIA\",\"SEMSA - LABORATORIO DISTRITAL LESTE\",\"SEMSA - LABORATÓRIO DISTRITAL NORTE\",\"SEMSA - LABORATORIO DISTRITAL OESTE\",\"SEMSA - LABORATORIO DISTRITAL SUL\",\"SEMSA - MOVEL\",\"SEMSA - POL DR. JOSE ANTONIO DA SILVA\",\"SEMSA - POL. DR. RAIMUNDO FRANCO DE SA\",\"SEMSA - POLI DR. ANTONIO COMTE TELLES\",\"SEMSA - POLICLINICA ANA BARRETO\",\"SEMSA - POLICLINICA CASTELO BRANCO\",\"SEMSA - POLICLINICA DR. DJALMA BATISTA\",\"SEMSA - RESCISÃO INDIRETA\",\"SEMSA - SEDE\",\"SEMSA - UBS AJURICABA\",\"SEMSA - UBS ALFREDO CAMPOS\",\"SEMSA - UBS ALMIR PEDREIRA\",\"SEMSA - UBS ARMANDO MENDES\",\"SEMSA - UBS AUGIAS GADELHA\",\"SEMSA - UBS BAIRRO DA PAZ\",\"SEMSA - UBS BALBINA MESTRINHO\",\"SEMSA - UBS BIANCA DE CARVALHO\",\"SEMSA - UBS CACILDA DE FREITAS\",\"SEMSA - UBS DEODATO DE MIRANDA LEÃO\",\"SEMSA - UBS DOM MILTON CORREA\",\"SEMSA - UBS DR. JOSE AMAZONAS PALHANO\",\"SEMSA - UBS DR. JOSE RAYOL DOS SANTOS\",\"SEMSA - UBS DR. PLATÃO ARAUJO\",\"SEMSA - UBS DRA. LUIZA DO CARMO RIBEIRO\",\"SEMSA - UBS ENF IVONE LIMA\",\"SEMSA - UBS FATIMA ANDRADE\",\"SEMSA - UBS FRANK ROSEMBERG CALDERON\",\"SEMSA - UBS FREI VALERIO DI CARLO\",\"SEMSA - UBS GEBES DE MEDEIROS\",\"SEMSA - UBS GERALDO MAGELA\",\"SEMSA - UBS GILSON MOREIRA\",\"SEMSA - UBS GUILHERME ALEXANDRE\",\"SEMSA - UBS JAPIIM\",\"SEMSA - UBS JOÃO NOGUEIRA\",\"SEMSA - UBS JOSE FIGLIOUOLO\",\"SEMSA - UBS JOSE RAYOL DOS SANTOS\",\"SEMSA - UBS JOSEPHINA DE MELO\",\"SEMSA - UBS LAGO DO ALEIXO\",\"SEMSA - UBS LEONOR DE FREITAS\",\"SEMSA - UBS LINDALVA DAMASCENO\",\"SEMSA - UBS LOURENÇO BORGHI\",\"SEMSA - UBS LUCIO FLAVIO DE VASCONCELOS\",\"SEMSA - UBS LUIZ MONTENEGRO\",\"SEMSA - UBS MANSOUR BULBOL\",\"SEMSA - UBS MARIA IDA MENTONI\",\"SEMSA - UBS MARIA LEONOR BRILHANTE\",\"SEMSA - UBS MAUAZINHO\",\"SEMSA - UBS MEGUMO KADO\",\"SEMSA - UBS MJ PM SALVIO BELOTA\",\"SEMSA - UBS MORRO DA LIBERDADE\",\"SEMSA - UBS NILTON LINS\",\"SEMSA - UBS NOVA ESPERANÇA\",\"SEMSA - UBS PETROPOLIS\",\"SEMSA - UBS REDENÇÃO\",\"SEMSA - UBS SANTA LUZIA\",\"SEMSA - UBS SANTO ANTONIO\",\"SEMSA - UBS SANTOS DUMONT\",\"SEMSA - UBS SAO FRANCISCO\",\"SEMSA - UBS SÃO VICENTE DE PAULO\",\"SEMSA - UBS THEODOMIRO GARRIDO\",\"SEMSA - UBS THEOMARIO PINTO DA COSTA\",\"SEMSA - UBS VICENTE PALOTTI\",\"SEMSA - UBS VILA DA PRATA\",\"SEMSA - UBSR ADA VIANA\",\"SEMSA - UBSR EPHIGENIO SALLES\",\"SEMSA - USF ILIDIO DE ALMEIDA LIMA\",\"SEMSA - USF S-07\",\"UEA - ESA\",\"UEA - ESAT\",\"UEA - ESCOLA DE DIREITO\",\"UEA - EST\",\"UEA - NAOPE\",\"UEA - POLICLINICA\"],\"SEDUC ESCOLA\":[\"SEDUC - COORDENADORIA 1\",\"SEDUC - COORDENADORIA 2\",\"SEDUC - COORDENADORIA 3\",\"SEDUC - COORDENADORIA 4\",\"SEDUC - COORDENADORIA 6\",\"SEDUC - COORDENADORIA 7\",\"SEDUC - DEPOSITO ALIMENTAÇÃO\",\"SEDUC - DEPOSITO TORQUATO\",\"SEDUC - DEPOSITO V8\",\"SEDUC - ESCOLA\",\"SEDUC ESCOLA - AMELIA BITTENCOURT\",\"SEDUC ESCOLA - ANTONIO TELLES\",\"SEDUC ESCOLA - AUGUSTO CARNEIRO\",\"SEDUC ESCOLA - AUREA PINHEIRO\",\"SEDUC ESCOLA - BALBINA MESTRINHO\",\"SEDUC ESCOLA - CACILDA BRAULE\",\"SEDUC ESCOLA - CARVALHO LEAL\",\"SEDUC ESCOLA - CECILIA FERREIRA\",\"SEDUC ESCOLA - CLEOMENES\",\"SEDUC ESCOLA - CMPM V\",\"SEDUC ESCOLA - COORDENADORIA 5\",\"SEDUC ESCOLA - DARIANA ZULEICA\",\"SEDUC ESCOLA - DEMOSTENES BELDUQUE\",\"SEDUC ESCOLA - DIOFANTO VIEIRA\",\"SEDUC ESCOLA - DJALMA BATISTA\",\"SEDUC ESCOLA - E.E ANTONIO NUNES JIMENEZ\",\"SEDUC ESCOLA - E.E. ROSINA F. DA SILVA\",\"SEDUC ESCOLA - ELISA BESSA\",\"SEDUC ESCOLA - ENCARREGADO\",\"SEDUC ESCOLA - ERNANE NASCIMENTO\",\"SEDUC ESCOLA - ESC ESTADUAL PADRE PEDRO GISLANDY\",\"SEDUC ESCOLA - FRANCISCO ALBUQUERQUE\",\"SEDUC ESCOLA - FREI SILVIO\",\"SEDUC ESCOLA - GARCITYLZO\",\"SEDUC ESCOLA - HOMERO DE MIRANDA LEÃO\",\"SEDUC ESCOLA - IRMÃ GABRIELLE\",\"SEDUC ESCOLA - IRMÃ GABRIELLE ANEXO\",\"SEDUC ESCOLA - JAIRO DA SILVA\",\"SEDUC ESCOLA - MANOEL RODRIGUES\",\"SEDUC ESCOLA - MANUEL ANTONIO\",\"SEDUC ESCOLA - MARIA AMELIA\",\"SEDUC ESCOLA - MARIA ARMINDA\",\"SEDUC ESCOLA - MARIA MADALENA\",\"SEDUC ESCOLA - MARIA TEIXEIRA GOES\",\"SEDUC ESCOLA - MARQUES DE SANTA CRUZ\",\"SEDUC ESCOLA - MAYARA REDMAN\",\"SEDUC ESCOLA - PAULO FREIRE\",\"SEDUC ESCOLA - PROF. JACIRA CABOCLO\",\"SEDUC ESCOLA - REINALDO THOMPSON\",\"SEDUC ESCOLA - RESCISÃO INDIRETA\",\"SEDUC ESCOLA - RIBEIRO DA CUNHA\",\"SEDUC ESCOLA - RODERICK CASTELO BRANCO\",\"SEDUC ESCOLA - TEREZINHA DE ALMEIDA\",\"SEDUC ESCOLA - VASCO VASQUES\",\"SEDUC ESCOLA - VICENTE SCHETTINI\",\"SEDUC ESCOLA - WALDIR GARCIA\",\"SEDUC ESCOLA ESTADUAL - PROF JORGE KARAM NETO\"],\"SEDUC SEDE\":[\"SECRETARIA DE ESTADO DE EDUCACAO E DESPORTO\",\"SEDUC - MANAUS\",\"SEDUC - MANAUS - RESCISÃO INDIRETA\",\"SEDUC ESCOLA - AMELIA BITTENCOURT\",\"SEDUC ESCOLA - CARVALHO LEAL\",\"SEDUC ESCOLA - DEMOSTENES BELDUQUE\",\"SEDUC ESCOLA - MARIA ARMINDA\"],\"SEDUC INTERIOR\":[\"SEDUC - INTERIOR\",\"SEDUC INTERIOR - CENTRO EDUCACIONAL D.MARZI\",\"SEDUC INTERIOR - CETI AURISTELIO S DE OL\",\"SEDUC INTERIOR - CETI BENEDITA BARBOSA D\",\"SEDUC INTERIOR - CETI CALIXTO RIBEIRO\",\"SEDUC INTERIOR - CETI NEUZA ALVES\",\"SEDUC INTERIOR - CETI PEDRO ALVES DA SIL\",\"SEDUC INTERIOR - CETI PROF MARIA DAS GRACAS LIMA DE MELO\",\"SEDUC INTERIOR - E. E. AMATURA\",\"SEDUC INTERIOR - E. E. ANTONIO FERREIRA\",\"SEDUC INTERIOR - E. E. ARMANDO BERREDO\",\"SEDUC INTERIOR - E. E. ARMANDO DE SOUZA\",\"SEDUC INTERIOR - E. E. ARMANDO MENDES\",\"SEDUC INTERIOR - E. E. BELARMINO G.ALBUQ\",\"SEDUC INTERIOR - E. E. CARAUARI\",\"SEDUC INTERIOR - E. E. CEL.ALFREDO MARQU\",\"SEDUC INTERIOR - E. E. CICERO LOPES\",\"SEDUC INTERIOR - E. E. CONRADO PINTO GOM\",\"SEDUC INTERIOR - E. E. DESMB. JOAO REBEL\",\"SEDUC INTERIOR - E. E. DOM BOSCO\",\"SEDUC INTERIOR - E. E. EDUARDO RIBEIRO\",\"SEDUC INTERIOR - E. E. EURICO GASPAR DUT\",\"SEDUC INTERIOR - E. E. FRANCIDENE SOARES\",\"SEDUC INTERIOR - E. E. FRANCISCA MENDES\",\"SEDUC INTERIOR - E. E. GILBERTO MESTRINHO\",\"SEDUC INTERIOR - E. E. I CACIQUE MANUEL\",\"SEDUC INTERIOR - E. E. I CORONEL RAIMUND\",\"SEDUC INTERIOR - E. E. I GENESIO CUSTODI\",\"SEDUC INTERIOR - E. E. I GILDO SAMPAIO\",\"SEDUC INTERIOR - E. E. I MANUEL JOAQUIM\",\"SEDUC INTERIOR - E. E. I N.S.IMAC.CONCEI\",\"SEDUC INTERIOR - E. E. I POGUTA\",\"SEDUC INTERIOR - E. E. I PROFª ROSA CRUZ\",\"SEDUC INTERIOR - E. E. INDIGENA DOM PEDR\",\"SEDUC INTERIOR - E. E. IPIXUNA\",\"SEDUC INTERIOR - E. E. IZAURA TORRES\",\"SEDUC INTERIOR - E. E. JOÃO CONRADO\",\"SEDUC INTERIOR - E. E. JOSE CARLOS MARTI\",\"SEDUC INTERIOR - E. E. MADRE REGINA\",\"SEDUC INTERIOR - E. E. MARIA EMÍLIA\",\"SEDUC INTERIOR - E. E. MARIZITA\",\"SEDUC INTERIOR - E. E. MONS E. DE CEFALÔ\",\"SEDUC INTERIOR - E. E. MONS. E. DE CEFAL\",\"SEDUC INTERIOR - E. E. N.S. DAS DORES\",\"SEDUC INTERIOR - E. E. NAIR ALVES DA SIL\",\"SEDUC INTERIOR - E. E. NOVO CEU\",\"SEDUC INTERIOR - E. E. OSVALDO NASCIMENT\",\"SEDUC INTERIOR - E. E. PIO VEIGA\",\"SEDUC INTERIOR - E. E. PRESIDENTE CASTEL\",\"SEDUC INTERIOR - E. E. PRESIDENTE VARGAS\",\"SEDUC INTERIOR - E. E. PROF CHAGAS MATOS\",\"SEDUC INTERIOR - E. E. PROF DARIA GABRIE\",\"SEDUC INTERIOR - E. E. PROF JOHANNES PET\",\"SEDUC INTERIOR - E. E. PROF NAZARE VAREL\",\"SEDUC INTERIOR - E. E. RAIMUNDO SÁ\",\"SEDUC INTERIOR - E. E. ROMERITO BRITO\",\"SEDUC INTERIOR - E. E. ROSA GARCIA\",\"SEDUC INTERIOR - E. E. SANTO ANTONIO\",\"SEDUC INTERIOR - E. E. SANTOS DUMONT\",\"SEDUC INTERIOR - E. E. SAO CRISTOVAO\",\"SEDUC INTERIOR - E. E. SÃO FRANCISCO\",\"SEDUC INTERIOR - E. E. SÃO JOSÉ\",\"SEDUC INTERIOR - E. E. SATURNINO MARÃES\",\"SEDUC INTERIOR - E. E. SERGIO RUFINO DE\",\"SEDUC INTERIOR - E. E. VEREADOR LAURO DE\",\"SEDUC INTERIOR - E. E. VIDAL DE MELO\",\"SEDUC INTERIOR - E.E. DEUZALINA P. RIBEIRO\",\"SEDUC INTERIOR - SEDE DA COORDENADORIA\"],\"DETRAN\":[\"DEPARTAMENTO ESTADUAL DE TRANSITO\",\"DETRAN - INTERMITENTE\",\"DETRAN - MANAUS\"],\"TRE PB\":[\"TRE PB - ANEXO I DISTRITO\",\"TRE PB - ANEXO VI NATU\",\"TRE PB - FORUM ELEITORAL\",\"TRE PB - INTERMITENTE\",\"TRE PB - NOVO MUSEU\",\"TRE PB - SEDE\",\"TRIBUNAL REGIONAL ELEITORAL DA PARAIBA\"],\"CETAM\":[\"CETAM\",\"CETAM - ALVARAES\",\"CETAM - AUTAZES\",\"CETAM - BORBA\",\"CETAM - CAAPIRANGA\",\"CETAM - CARAUARI\",\"CETAM - CAREIRO CASTANHO\",\"CETAM - CAREIRO DA VARZEA\",\"CETAM - CODAJAS\",\"CETAM - GASTRONOMIA\",\"CETAM - HUMAITA\",\"CETAM - INTERMITENTE\",\"CETAM - IRANDUBA\",\"CETAM - MANACAPURU\",\"CETAM - MANAQUIRI\",\"CETAM - MANAUS ANIBAL BEÇA\",\"CETAM - MANICORE\",\"CETAM - MAUES\",\"CETAM - NOVO AIRÃO\",\"CETAM - NOVO ARIPUANA\",\"CETAM - PARINTINS\",\"CETAM - PRES. FIGUEIREDO\",\"CETAM - PRESIDÊNCIA\",\"CETAM - RIO PRETO DA EVA\",\"CETAM - S. GABRIEL DA CACHOEIRA\",\"CETAM - TABATINGA\",\"CETAM - TAPAUA\",\"CETAM - ZONA LESTE\",\"CETAM CENTRO DE EDUCACAO TECNOLOGICA DO AMAZONAS\"]};\nfunction normLabel(v) { return String(v || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toUpperCase().replace(/[\\.,;:/\\\\|_()\\[\\]{}-]+/g, ' ').replace(/\\s+/g, ' ').trim(); }\nfunction tokens(v) { return normLabel(v).split(' ').filter(t => t.length > 2); }\nfunction unidadeValida(contrato, unidade) {\n  const lista = UNIDADES_POR_CONTRATO[contrato] || [];\n  const alvo = normLabel(unidade);\n  if (lista.some(u => normLabel(u) === alvo)) return true;\n  const alvoTokens = tokens(unidade);\n  return lista.some(u => {\n    const cand = normLabel(u);\n    if (cand.includes(alvo) || alvo.includes(cand)) return true;\n    const candTokens = tokens(u);\n    const common = alvoTokens.filter(t => candTokens.includes(t)).length;\n    return alvoTokens.length > 0 && common / alvoTokens.length >= 0.75;\n  });\n}\nif (!unidadeValida(payload.contrato, payload.localUnidade)) {\n  return [{ json: { _statusCode: 400, ok: false, erro: 'unidade_invalida', mensagem: 'Local/Unidade nao pertence ao contrato selecionado.' } }];\n}\n\n// Verifica binários (termos)\nconst binary = $input.first().binary || {};\nconst hasTermoConvocacao = !!binary.termo_convocacao;\nconst hasTermoInsalubridade = !!binary.termo_insalubridade;\n\n// Monta column_values\nconst columnValues = {\n  [COL.NOME_EMPREGADO]:      { labels: [payload.empregadoNome] },\n  [COL.CPF]:                 payload.empregadoCpf,\n  [COL.CHAPA]:               payload.empregadoChapa,\n  [COL.FUNCAO]:              payload.empregadoFuncao,\n  [COL.ADMISSAO]:            payload.empregadoAdmissao,\n  [COL.ESCALA]:              payload.escala,\n  [COL.SOLICITANTE]:         { label: payload.solicitante },\n  [COL.CONTRATO]:            { label: payload.contrato },\n  [COL.LOCAL_UNIDADE]:       payload.localUnidade,\n  [COL.LOCAL_UNIDADE_DROPDOWN]: { labels: [payload.localUnidade] },\n  [COL.SABADO]:              { label: payload.sabado },\n  [COL.INSALUBRIDADE]:       { label: payload.insalubridade },\n  [COL.INTERIOR]:            { label: payload.interior },\n  [COL.TIPO_CONVOCACAO]:     { label: 'PONTUAL' },\n  [COL.DATA_INICIO]:         { date: payload.dataInicio },\n  [COL.DATA_FIM]:            { date: payload.dataFim },\n  [COL.JUSTIFICATIVA]:       { label: payload.justificativa },\n  [COL.EMPREGADO_SUBSTITUIDO]: payload.empregadoSubstituido,\n  [COL.OPTANTE_VT]: { label: payload.optanteVt },\n  [COL.VT_SO_VOLTA]: { label: payload.optanteVt === 'SIM*' ? 'SIM' : 'NÃO' },\n  [COL.STATUS_CONVOCACAO]: { label: 'Válida' }\n};\n\nconst conflictColumnId = payload.empregadoChapa ? COL.CHAPA : COL.NOME_EMPREGADO;\nconst conflictColumnValue = payload.empregadoChapa || payload.empregadoNome;\nconst mondayConflictQuery = {\n  query: `query { items_page_by_column_values(limit: 100, board_id: ${BOARD_ENTRADA}, columns: [{ column_id: ${JSON.stringify(conflictColumnId)}, column_values: [${JSON.stringify(conflictColumnValue)}] }]) { items { id name column_values(ids: [${JSON.stringify(COL.NOME_EMPREGADO)}, ${JSON.stringify(COL.CHAPA)}, ${JSON.stringify(COL.DATA_INICIO)}, ${JSON.stringify(COL.DATA_FIM)}, ${JSON.stringify(COL.STATUS_CONVOCACAO)}, ${JSON.stringify(COL.CANCELAMENTO_INICIO)}]) { id text value } } } }`\n};\n\nreturn [{\n  json: {\n    _statusCode: 200,\n    ok: true,\n    name: payload.name,\n    column_values_json: JSON.stringify(columnValues),\n    empregadoNome: payload.empregadoNome,\n    empregadoChapa: payload.empregadoChapa,\n    dataInicio: payload.dataInicio,\n    dataFim: payload.dataFim,\n    localUnidade: payload.localUnidade,\n    contrato: payload.contrato,\n    empregadoCpf: payload.empregadoCpf,\n    empregadoFuncao: payload.empregadoFuncao,\n    empregadoAdmissao: payload.empregadoAdmissao,\n    optanteVt: payload.optanteVt,\n    mondayConflictQuery,\n    hasTermoConvocacao,\n    hasTermoInsalubridade,\n    boardEntrada: BOARD_ENTRADA,\n    groupId: GROUP_ID\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,1552],"id":"1eaa2f26-1f2d-48ef-8f40-e854c043bc05","name":"Validar e preparar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ok-check","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,1552],"id":"a6224b5c-8c80-4ace-a3f2-b6cb76486963","name":"Payload OK?"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: 'mutation ($b: ID!, $g: String!, $n: String!, $cv: JSON!) { create_item (board_id: $b, group_id: $g, item_name: $n, column_values: $cv, create_labels_if_missing: true) { id } }', variables: { b: '18413180912', g: 'group_mkta43yr', n: $json.name, cv: $json.column_values_json } }) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,1392],"id":"4da53f9b-eecb-4d2c-8e3f-f925e3f9a9d7","name":"Criar item entrada","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"jsCode":"// ==============================================================\n// WF7 - Preparar uploads de arquivos\n// Emite 0..2 items, um por arquivo presente, com o GraphQL multipart\n// pronto para o nó HTTP Request do monday `/v2/file`.\n// ==============================================================\n\nconst prep = $('Validar e preparar').first().json;\nconst monday = $input.first().json;\nconst webhookBinary = $('Webhook').first().binary || {};\n\nconst itemId = String(monday.id || monday.data?.create_item?.id || '');\nif (!itemId) {\n  // sem id, não conseguimos anexar; passa adiante sem uploads\n  return [{ json: { _semUpload: true, itemId: '' } }];\n}\n\nconst uploads = [];\nif (prep.hasTermoConvocacao && webhookBinary.termo_convocacao) {\n  uploads.push({\n    binaryName: 'termo_convocacao',\n    columnId: 'file_mm21x463',\n    itemId\n  });\n}\nif (prep.hasTermoInsalubridade && webhookBinary.termo_insalubridade) {\n  uploads.push({\n    binaryName: 'termo_insalubridade',\n    columnId: 'file_mm21457r',\n    itemId\n  });\n}\n\nconst query = 'mutation ($file: File!, $item_id: ID!, $column_id: String!) { add_file_to_column(item_id: $item_id, column_id: $column_id, file: $file) { id } }';\n\nif (uploads.length === 0) {\n  return [{ json: { _semUpload: true, itemId } }];\n}\n\nreturn uploads.map((u) => ({\n  json: {\n    _semUpload: false,\n    itemId: u.itemId,\n    columnId: u.columnId,\n    binaryName: u.binaryName,\n    graphqlQuery: query,\n    variables: JSON.stringify({ file: null, item_id: u.itemId, column_id: u.columnId }),\n    map: JSON.stringify({ '0': ['variables.file'] })\n  },\n  binary: { '0': $('Webhook').first().binary[u.binaryName] }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,1232],"id":"193fc56a-53b7-45fd-8b22-191afbac6fcd","name":"Preparar uploads"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2/file","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"query","value":"={{ $json.graphqlQuery }}"},{"name":"variables","value":"={{ $json.variables }}"},{"name":"map","value":"={{ $json.map }}"},{"parameterType":"formBinaryData","name":"0","inputDataFieldName":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,1184],"id":"a76eefe4-8eae-4260-80f2-127bf0f12332","name":"Upload arquivo monday","notesInFlow":true,"credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}},"notes":"Authorization header precisa do API token do monday em texto puro. Substitua a expressão por um Header Auth credential 'Monday Token' ou cole o token diretamente após importar."},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, item_id: ($('Criar item entrada').first().json.data?.create_item?.id || $('Criar item entrada').first().json.id), item_url: 'https://contato-serv.monday.com/boards/18413180912/pulses/' + ($('Criar item entrada').first().json.data?.create_item?.id || $('Criar item entrada').first().json.id) }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2096,1248],"id":"6c2f4b7c-f958-4238-9d1b-dfca70eff07c","name":"Responder OK"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, erro: $json.erro || 'erro_desconhecido', mensagem: $json.mensagem || 'Erro ao processar a convocação.', conflito: $json.conflito || undefined }) }}","options":{"responseCode":"={{ $json._statusCode || 400 }}","responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[560,1568],"id":"9564fcd6-74cb-4eb6-8a2f-5aa7efd2fbed","name":"Responder Erro"},{"parameters":{"method":"POST","url":"https://api.monday.com/v2","authentication":"predefinedCredentialType","nodeCredentialType":"mondayComApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.mondayConflictQuery) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,1456],"id":"10d8b8de-cad6-4163-a159-6fc56c78e9d8","name":"Buscar conflitos entrada","credentials":{"mondayComApi":{"id":"6I0ycSr6PQJkBYpc","name":"Ray0"}}},{"parameters":{"jsCode":"// ==============================================================\n// Trava de convocacao conflitante - WF7\n// Respeita cancelamento parcial: somente o trecho ainda valido bloqueia.\n// ==============================================================\n\nconst prep = $('Validar e preparar').first().json;\nconst response = $input.first().json || {};\n\nif (Array.isArray(response.errors) && response.errors.length > 0) {\n  return [{\n    json: {\n      ...prep,\n      ok: false,\n      semConflito: false,\n      _statusCode: 500,\n      erro: 'erro_monday_conflitos',\n      mensagem: response.errors.map(e => e.message).join(' | '),\n      errors: response.errors\n    }\n  }];\n}\n\nconst COL = {\n  NOME_EMPREGADO: 'dropdown_mktadatt',\n  CHAPA: 'texto',\n  DATA_INICIO: 'date_mktayxhb',\n  DATA_FIM: 'date_mktasnwq',\n  STATUS_CONVOCACAO: 'color_mm3a8ana',\n  CANCELAMENTO_INICIO: 'date_mm3b88ta'\n};\n\nfunction normCode(v) { return String(v || '').replace(/\\D/g, '').replace(/^0+/, '') || String(v || '').trim().toUpperCase(); }\nfunction normName(v) { return String(v || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toUpperCase().replace(/\\s+/g, ' ').trim(); }\nfunction colsOf(item) {\n  const out = {};\n  for (const c of item.column_values || []) out[c.id] = c.text || '';\n  return out;\n}\nfunction addDays(iso, delta) {\n  const d = new Date(iso + 'T00:00:00Z');\n  if (Number.isNaN(d.getTime())) return null;\n  d.setUTCDate(d.getUTCDate() + delta);\n  return d.toISOString().slice(0, 10);\n}\nfunction effectivePeriod(start, end, statusLabel, cancelStart) {\n  if (!start || !end) return null;\n  const status = normName(statusLabel);\n  if (status === 'CANCELADA' || status === 'CANCELADO' || status === 'BLOQUEADA - CONFLITO') return null;\n  if (status === 'CANCELADA PARCIALMENTE' || status === 'CANCELADO PARCIALMENTE') {\n    if (!cancelStart) return { start, end };\n    const effectiveEnd = addDays(cancelStart, -1);\n    if (!effectiveEnd || effectiveEnd < start) return null;\n    return { start, end: effectiveEnd };\n  }\n  return { start, end };\n}\nfunction overlaps(aStart, aEnd, bStart, bEnd) {\n  if (!aStart || !aEnd || !bStart || !bEnd) return false;\n  return aStart <= bEnd && bStart <= aEnd;\n}\n\nconst currentHasChapa = !!String(prep.empregadoChapa || '').trim();\nconst currentIdentity = currentHasChapa\n  ? normCode(prep.empregadoChapa)\n  : normName(prep.empregadoNome);\n\nconst items = response.data?.items_page_by_column_values?.items || [];\n\nlet conflito = null;\nfor (const item of items) {\n  \n\n  const cols = colsOf(item);\n  const existingIdentity = currentHasChapa\n    ? normCode(cols[COL.CHAPA])\n    : normName(cols[COL.NOME_EMPREGADO] || item.name);\n  if (!existingIdentity || existingIdentity !== currentIdentity) continue;\n\n  const periodo = effectivePeriod(\n    cols[COL.DATA_INICIO],\n    cols[COL.DATA_FIM],\n    cols[COL.STATUS_CONVOCACAO],\n    cols[COL.CANCELAMENTO_INICIO]\n  );\n  if (!periodo) continue;\n  if (!overlaps(periodo.start, periodo.end, prep.dataInicio, prep.dataFim)) continue;\n\n  conflito = {\n    item_id: String(item.id),\n    item_url: 'https://contato-serv.monday.com/boards/18413180912/pulses/' + item.id,\n    nome: item.name,\n    chapa: cols[COL.CHAPA] || '',\n    data_inicio: periodo.start,\n    data_fim: periodo.end,\n    data_inicio_original: cols[COL.DATA_INICIO] || '',\n    data_fim_original: cols[COL.DATA_FIM] || '',\n    status_convocacao: cols[COL.STATUS_CONVOCACAO] || '',\n    data_inicio_cancelamento: cols[COL.CANCELAMENTO_INICIO] || ''\n  };\n  break;\n}\n\nif (conflito) {\n  return [{\n    json: {\n      ...prep,\n      ok: false,\n      semConflito: false,\n      _statusCode: 409,\n      erro: 'convocação_conflitante',\n      mensagem: 'Data divergente: este intermitente já foi convocado neste período.',\n      conflito,\n      \n    }\n  }];\n}\n\nreturn [{ json: { ...prep, ok: true, semConflito: true } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1456],"id":"3f627603-9f55-4ed4-bb26-040e070a99e7","name":"Checar conflito"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sem-conflito-check","leftValue":"={{ $json.semConflito }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,1456],"id":"c7cde883-2bcd-471d-a9d5-73f21e9a0cc1","name":"Sem conflito?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"tem-upload-check","leftValue":"={{ $json._semUpload !== true }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,1232],"id":"2421c851-2cea-4eef-a22d-cfaf0baa49c1","name":"Tem upload?"},{"parameters":{"jsCode":"const prep = $('Validar e preparar').first().json;\nconst created = $('Criar item entrada').first().json;\nconst itemId = String(created.id || created.data?.create_item?.id || '').trim();\nif (!itemId) throw new Error('Item Entrada nao criado; sem itemId para job Drive.');\n\nconst nome = String(prep.empregadoNome || prep.nome || prep.nome_empregado || prep.empregado_nome || prep.name || '').trim();\nconst contrato = String(prep.contrato || prep.contrato_colaborador || prep.contratoColaborador || '').trim();\nconst dataInicio = String(prep.dataInicio || prep.data_inicio || '').slice(0, 10);\nconst dataFim = String(prep.dataFim || prep.data_fim || dataInicio).slice(0, 10);\n\nif (!nome || !contrato || !dataInicio) {\n  throw new Error('Payload Drive convocacao incompleto: nome=' + nome + ', contrato=' + contrato + ', dataInicio=' + dataInicio);\n}\n\nreturn [{\n  json: {\n    tipo: 'convocacao',\n    nome,\n    chapa: prep.empregadoChapa || prep.chapa || prep.chapa_rm || '',\n    cpf: prep.empregadoCpf || prep.cpf || prep.empregado_cpf || '',\n    contrato,\n    data_inicio: dataInicio,\n    data_fim: dataFim,\n    item_entrada_id: itemId,\n    atualizar_monday: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,1280],"id":"async-drive-preparar-convocacao","name":"Preparar Job Drive Convocacao"},{"parameters":{"method":"POST","url":"https://aionscorp-n8n.cloudfy.live/webhook/drive-intermitente-arquivar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,1232],"id":"async-drive-disparar-convocacao","name":"Disparar Drive Convocacao Async","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const created = $('Criar item entrada').first().json || {};\nreturn [{ json: created, binary: $('Webhook').first().binary || {} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,1232],"id":"async-drive-restaurar-item-entrada","name":"Restaurar Item Entrada Apos Drive Async"}],"connections":{"Webhook":{"main":[[{"node":"Validar e preparar","type":"main","index":0}]]},"Validar e preparar":{"main":[[{"node":"Payload OK?","type":"main","index":0}]]},"Payload OK?":{"main":[[{"node":"Buscar conflitos entrada","type":"main","index":0}],[{"node":"Responder Erro","type":"main","index":0}]]},"Criar item entrada":{"main":[[{"node":"Preparar Job Drive Convocacao","type":"main","index":0}]]},"Preparar uploads":{"main":[[{"node":"Tem upload?","type":"main","index":0}]]},"Upload arquivo monday":{"main":[[{"node":"Responder OK","type":"main","index":0}]]},"Buscar conflitos entrada":{"main":[[{"node":"Checar conflito","type":"main","index":0}]]},"Checar conflito":{"main":[[{"node":"Sem conflito?","type":"main","index":0}]]},"Sem conflito?":{"main":[[{"node":"Criar item entrada","type":"main","index":0}],[{"node":"Responder Erro","type":"main","index":0}]]},"Tem upload?":{"main":[[{"node":"Upload arquivo monday","type":"main","index":0}],[{"node":"Responder OK","type":"main","index":0}]]},"Preparar Job Drive Convocacao":{"main":[[{"node":"Disparar Drive Convocacao Async","type":"main","index":0}]]},"Disparar Drive Convocacao Async":{"main":[[{"node":"Restaurar Item Entrada Apos Drive Async","type":"main","index":0}]]},"Restaurar Item Entrada Apos Drive Async":{"main":[[{"node":"Preparar uploads","type":"main","index":0}]]}},"authors":"Isaac Raylen","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-17T15:03:07.464Z","id":2585,"workflowId":"dX8OZzxr6sh0Upug","versionId":"e5798360-9687-4d32-b724-cf5f935196d3","event":"deactivated","userId":"811d2d9e-6074-4762-8533-fe3acae08af3"},{"createdAt":"2026-06-17T15:03:07.487Z","id":2586,"workflowId":"dX8OZzxr6sh0Upug","versionId":"e5798360-9687-4d32-b724-cf5f935196d3","event":"activated","userId":"811d2d9e-6074-4762-8533-fe3acae08af3"},{"createdAt":"2026-06-17T15:03:07.812Z","id":2587,"workflowId":"dX8OZzxr6sh0Upug","versionId":"e5798360-9687-4d32-b724-cf5f935196d3","event":"deactivated","userId":"811d2d9e-6074-4762-8533-fe3acae08af3"},{"createdAt":"2026-06-17T15:03:07.835Z","id":2588,"workflowId":"dX8OZzxr6sh0Upug","versionId":"e5798360-9687-4d32-b724-cf5f935196d3","event":"activated","userId":"811d2d9e-6074-4762-8533-fe3acae08af3"}]}}